[2014-06-24 11:29] DaikiMaekawa opened #1 "会場を歩いてURGのデータを収集する"
第一回試走会の日にURGのデータを収集してください。

[2014-06-24 11:36] DaikiMaekawa commented on #1
@ximo112 正常に動作しているか確認しながらデータを集めた方がいいと思うので、できればマップを作りながら会場を移動してください。

やり方は以下のURLを参照
http://daikimaekawa.github.io/ros/2014/04/14/HectorSLAM02/

[2014-06-25 02:49] DaikiMaekawa commented on #1
@ximo112 ROSの使い方でわからないことがあれば遠慮なく質問してくださいね。

[2014-06-25 13:40] ximomoi commented on #1
@DaikiMaekawa 　分かりました、よろしくおねがいします。

[2014-07-01 09:38] ximomoi commented on #1
・ROS indigoのインストール完了

・URGのusb接続認識がうまく行かない、エラーが出てしまった
[ERROR] [1404204906.288069715]: Exception thrown while opening Hokuyo.
Failed to open port: /dev/ttyACM0. No such file or directory (errno = 2). The requested port does not exist. Is the hokuyo connected? Was the port name misspelled? (in hokuyo::laser::open) You may find further details at http://www.ros.org/wiki/hokuyo_node/Troubleshooting

[2014-07-01 09:47] DaikiMaekawa commented on #1
以下のコマンドを実行してその結果を貼り付けてください

[code]

[2014-07-01 17:31] ximomoi commented on #1
この様になりました

[code]

[2014-07-01 17:50] DaikiMaekawa commented on #1
/dev以下に存在しないのは妙ですね :sweat:
電源が入った状態のURGがPCに接続されていますか？

[2014-07-02 03:23] ximomoi commented on #1
すみません、バッテリーにつなぎ忘れていたようでした

[code]

[2014-07-03 09:17] ximomoi commented on #1
[code]

上記を実行した結果このような得られました。

[code]

[2014-07-03 11:39] ghost commented on #1
/dev/ttyACM0に対して読み書きする権限がないのが問題だから

[code]

で、アクセスできるグループに自分自身を追加してからもう一回実行。
もしそれでダメだったら一旦ログアウトしてみて。
どういうことかについてはunixとかlinuxとか権限とかパーミッションとか適当に組み合わあせてググって

[2014-07-04 01:26] ximomoi commented on #1
[code]

を実行して

[code]

を実行した結果になります。

[code]

[2014-07-04 02:07] DaikiMaekawa commented on #1
どうやら必要なパッケージが足りていないようですね。
以下のコマンドを実行してください。

[code]

[2014-07-04 04:06] ximomoi commented on #1
コマンドを実行し、roslaunch hector_hokuyo.launchを実行しました。

[code]

[2014-07-04 04:38] DaikiMaekawa commented on #1
なるほど、以下のコマンドを実行してください。

[code]

[2014-07-08 08:28] ximomoi commented on #1
試しに2号館18Fのマッピングを行いました。

![screenshot from 2014-07-08 16 17 44](https://cloud.githubusercontent.com/assets/7301098/3507086/1c227f18-067a-11e4-9f4d-5e4bdad922a4.png)

[2014-07-08 08:48] DaikiMaekawa commented on #1
無事に動作したようですね。
以下のコマンドで結果を保存できますので試してみてください。

[code]

[2014-07-09 06:38] DaikiMaekawa commented on #1
あと、動かしながらバグファイルを生成して欲しいです。
とりあえず全部のトピックを保存してくれればいいよ。

[code]

レコード終了はCtrl＋C

[2014-07-10 05:39] ximomoi commented on #1
バグファイルを上記のコマンドで生成し.bagファイルがあることを確認したのですが

[code]

で見れなかったのですが大丈夫なのでしょうか？

[2014-07-11 06:06] DaikiMaekawa commented on #1
見れないというのはバグファイルが読み込めないということでしょうか？

[code]

ちゃんとファイルを指定していますか

[2014-07-11 14:20] ximomoi commented on #1
うまく見つけられていないみたいです。

[code]

![screenshot from 2014-07-11 23 16 33](https://cloud.githubusercontent.com/assets/7301098/3553678/326c5418-0906-11e4-87b8-637236e8d60c.png)

[2014-07-11 14:34] DaikiMaekawa commented on #1
<>はいりません。　ファイル名をそのままコマンドの引数に渡してください。

[2014-07-11 14:49] ximomoi commented on #1
できました。
ありがとうございます。

[2014-07-12 05:03] ximomoi commented on #1
mapの辺の最大を変更する方法はあるのでしょうか？

[2014-08-02 10:28] DaikiMaekawa commented on #1
mapサイズを10000に変更して第二回試走会でデータを収集しました。
結果、大まかな地図を作成できましたがランドマークが少ない開けた場所で地図が歪んでいます。

[2014-08-02 10:30] DaikiMaekawa commented on #1
次回の試走会はt-frogにURGを搭載しオドメトリを使ってSLAMを動作させるべきでしょう。

[2014-08-02 11:59] DaikiMaekawa opened #2 "実機互換のプログラムで動作するシミュレータ環境を構築する"
gazeboシミュレータ上にt-frogのモデルを作成し、実機互換のプログラムで動作するように設定する。

[2014-08-02 12:06] DaikiMaekawa commented on #2
とりあえずt-frogのモデルを作成してみました。

![t_frog](https://cloud.githubusercontent.com/assets/3862239/3787865/1c1a4dee-1a3d-11e4-8cdb-b7e13e9d57fa.jpg)

シャーシ、キャスター、車輪で構成されていて速度指令を投げると走らせることができます。

[2014-08-02 12:09] DaikiMaekawa commented on #2
gazebo_ros_controlを使用して実機互換のインタフェースで機体速度を変更するための仕組みを作りました。
車輪に取り付けられたモータにはPIDゲインを設定することもできます。

[2014-08-03 06:58] DaikiMaekawa commented on #2
URGとRGBカメラのモデルを追加しました。
Rvizとの統合も終了。　
![gazebo](https://cloud.githubusercontent.com/assets/3862239/3789993/7fa81fdc-1adb-11e4-98c2-af876bec3db7.jpg)
![rviz](https://cloud.githubusercontent.com/assets/3862239/3789994/8f2ac7ac-1adb-11e4-8a1f-c781a617e9c4.jpg)
ROSインタフェースからセンサデータへアクセスすることができます。

[2014-08-03 09:20] DaikiMaekawa commented on #2
laserの範囲設定が有効にならない問題が発生しているため原因を調査中

[2014-08-03 10:21] DaikiMaekawa commented on #2
gpu_rayの代わりにrayを使用することで解決しました。

[2014-08-03 10:52] DaikiMaekawa opened #3 "yp-spurを使ったt-frogの動作確認"
任意の軌道を描かせたり、オドメトリを取得するためのプログラムを作成する。

[2014-08-03 10:56] DaikiMaekawa commented on #3
yp-spurのAPIドキュメントに目を通し、一通り仕様を理解した。
また、任意の軌道を描かせるテストプログラムの作成を行った。
組立後のt-frogで動作確認を行おうとしたが、バッテリーがチャージされていなかったため今後時間ができた時に行う予定

[2014-08-03 11:03] DaikiMaekawa commented on #3
@open-rdc/tsukuba-challenge チャージャーの置いてある場所が分かる方は教えていただけると助かります。
また、この時期は台車の使用頻度が上がると思いますのでバッテリーの過放電を防ぐ意味でもこまめに充電することにしましょう。

[2014-08-05 07:55] DaikiMaekawa commented on #3
yp-spurでT-frogを制御するための開発環境を構築し、実際にプログラムを書いて動かしてみました。

#### 動画はこちら

[![youtube](http://img.youtube.com/vi/TbPHzoo9trI/0.jpg)](https://www.youtube.com/watch?v=TbPHzoo9trI)

[2014-08-05 07:58] DaikiMaekawa commented on #3
yp-spurを自分のプログラムに組み込んでT-frogを制御することができたためこのタスクは閉じます。
今後はyp-spurをROS上で動かすための仕組みについて開発を行います。

[2014-08-05 07:58] #3 closed, assigned to DaikiMaekawa

[2014-08-05 08:28] yasuohayashibara commented on #3
さすがspurですね．きっちり90度回転していますね．たしか，フィードバックだけではなく，フィードフォワードも入れて精度を高めていたと思います．

[2014-08-06 10:20] DaikiMaekawa commented on #2
今までは各車輪毎に回転速度を設定して動かしていましたが、Twistコマンドで台車を制御できるように修正しました。
これにより、シミュレータ内でNavigation Stackを動かすための要素は一通り用意できたことになります。

以下、全ての要素を同時に動かした時の動画
[![youtube](http://img.youtube.com/vi/U2O935P7li8/0.jpg)](https://www.youtube.com/watch?v=U2O935P7li8)

使用するコントローラは実機との互換性を持たせてあり、コマンドのタイムアウトや速度の制限を行います。

[2014-08-06 10:21] DaikiMaekawa commented on #2
オドメトリもトピックとして配信するようにしました。

[2014-08-08 07:55] DaikiMaekawa opened #4 "シリアルサーボをROSで制御する方法の検討"
今のところ例年通りURGを振ることを想定しているためシリアルサーボを制御するためのノードを流用、もしくは新規開発を行う必要がある。

[2014-08-08 07:56] DaikiMaekawa commented on #4
@Nasupl 使用するサーボはRS405でいいですか？
とりあえず任意の角度にサーボを制御するサンプルプログラムを作成してください。

[2014-08-08 08:36] DaikiMaekawa commented on #4
@taki4416 そういえばサーボでURGを振って上側のデータのみを使うプログラムは昨年度で完成していたんでしたっけ？

[2014-08-08 12:40] ghost commented on #4
@DaikiMaekawa サーボが同じなら多分あるよ．じゃぁ今度渡そう

[2014-08-08 13:00] DaikiMaekawa commented on #4
@taki4416　動いていたものがあるのなら流用した方が早いのでありがたくいただきます。

[2014-08-08 14:44] DaikiMaekawa opened #5 "ROS上でT-frogを制御するためのドライバを開発する"
yp-spurをROSで扱うためのパッケージは存在しないため自作する必要がある。

[2014-08-08 14:52] DaikiMaekawa commented on #5
シミュレータと共通で制御コントローラとロボットモデルを扱える実機制御用の[パッケージ](https://github.com/open-rdc/t_frog_driver)を開発しました。
Twistメッセージを入力するとOdometryメッセージを配信する仕様で動作も確認済みです。
後は受け取った指令値に応じて #3 と同様にyp-spurのコマンドを投げれば実機もROS動かせるようになります。

[2014-08-08 16:40] DaikiMaekawa commented on #2
SLAMを動作させてみました。
動画はこちら
https://www.youtube.com/watch?v=Usep-C5MnNM&list=UUhdUsjk9PVGwkT85FJsGQ2w

概ね問題なく動作していると思いますのでこのタスクを閉じます。

[2014-08-08 16:40] #2 closed, assigned to DaikiMaekawa

[2014-08-19 11:50] DaikiMaekawa commented on #5
Twistコマンドを受け取りyp-spurのコマンドに変換する[ドライバ](https://github.com/open-rdc/t_frog_driver)を開発しました。
これによりROS上でT-frog実機の走行制御が行えるようになります。

右旋回 -> 直進 -> 左旋回を行わせて動作を確認した。

#### メッセージの発行

[code]

#### 動画はこちら

[![youtube](http://img.youtube.com/vi/CKw0lEDxC2c/0.jpg)](https://www.youtube.com/watch?v=CKw0lEDxC2c)

[2014-08-19 11:50] DaikiMaekawa commented on #5
動作確認を完了したためこのタスクを完了とします。

[2014-08-19 11:50] #5 closed, assigned to DaikiMaekawa

[2014-08-19 11:52] DaikiMaekawa commented on #4
@Nasupl 受け取ったプログラムの動作確認を来週までに済ませてください。

[2014-08-26 04:30] DaikiMaekawa commented on #4
ビルドのエラーメッセージを張り付けてください @Nasupl

[2014-08-26 04:35] DaikiMaekawa opened #6 "T-frogにURGを取り付ける"
T-frogにURGを取り付ける必要がある。

[2014-09-02 04:25] DaikiMaekawa commented on #4
ビルドが通ったためこれから動作チェックに入ります。

[2014-09-02 04:28] ximomoi commented on #6
URGとサーボを取り外し、T-frogに取り付けられる様に取り付け板を制作しました。

[2014-09-02 04:52] ximomoi commented on #6
T-frogへの取り付けが完了しました。

[2014-09-02 04:53] #6 closed, assigned to ximomoi

[2014-09-02 07:28] Nasupl opened #7 "電源ポートが不足している"
iCart miniの電源基板には12Vのポートが1口しかないので、サーボとURGを同時に動かすには電源ポートが足りません。増設するか分配する必要があります。

[2014-09-02 07:28] Nasupl opened #8 "緊急停止スイッチを取り付ける"
第三回試走会に向けて、緊急停止スイッチ等の安全装備を取り付ける必要があります。

[2014-09-10 04:28] DaikiMaekawa opened #9 "T-frogにIMUを取り付ける"
余っているIMUを確保してT-frogに取り付ける

[2014-09-10 09:34] DaikiMaekawa opened #10 "T-frogをジョイスティックで制御可能にする"
記録走行時にはマニュアルで動かす必要があるのでT-frogをジョイスティックに対応させる。

[2014-09-10 09:36] DaikiMaekawa commented on #10
研究室でELECOM製の有線ジョイスティックを発見したため、これに対応させるためのプログラムを作成する。

[2014-09-10 09:40] yasuohayashibara commented on #10
アナログを使用するのであれば，ELECOMはあまりおすすめしません．LOGICOOLがお勧めです．
＃ジョイスティックを倒す角度と値のリニアリティに問題がある場合が多いです．
立て替え払いで購入して構いません．

[2014-09-10 10:21] DaikiMaekawa commented on #10
@yasuohayashibara 簡単そうなので既に実装してしまいました。
https://www.youtube.com/watch?v=SKyF_GOkttc&feature=youtu.be

今のところ、ELECOMでもあまり問題は感じません。

[2014-09-10 10:23] DaikiMaekawa commented on #10
もちろんシミュレータ上のモデルも同様にジョイスティックで動作させることが可能です。
目的は達成したのでこのタスクは閉じます。

[2014-09-10 10:23] #10 closed, assigned to DaikiMaekawa

[2014-09-10 16:48] ximomoi commented on #9
余っているIMUを確保、取り付け方を考える必要あり。

[2014-09-10 16:55] DaikiMaekawa commented on #9
@yasuohayashibara T-frogにIMUを取り付けると、おそらく研究室内の在庫がゼロになると思います。
予備で1個は確保しておきたいので、追加で購入していただけますか？

[2014-09-10 23:44] yasuohayashibara commented on #9
10軸タイプは全部で3台あります．
RDC10などはしばらく動かないと思いますので，取り外していただいて構いません．
※できれば元に戻せるように写真や取り付け方法をデータとして残していただければ助かりますが．．．

[2014-09-11 15:46] Nasupl commented on #7
サーボに電源を供給する基板も確保したので、サーボだけLi-Poなどで動かすのが手っ取り早そうです

[2014-09-11 15:56] DaikiMaekawa commented on #7
@Nasupl 時間がないので差し当たり、その案で対処しましょう。

[2014-09-13 13:55] DaikiMaekawa commented on #1
T-frogにURGを搭載して無事動作を確認したため、今後は機体を走らせてデータを収集する

[2014-09-13 13:55] #1 closed, assigned to DaikiMaekawa

[2014-09-13 13:56] DaikiMaekawa opened #12 "オドメトリとレーザを使用して地図を作成する。"
T-frogにURGを取り付けたので、機体を走行させて地図を作成してみる。

[2014-09-13 13:57] DaikiMaekawa commented on #12
SLAMのパッケージはシミュレータでも動作確認済みのgmappingを使用します。

[2014-09-13 14:49] DaikiMaekawa commented on #12
以下の修正で、実機とモデルの進行方向が異なる問題に暫定対処
https://github.com/open-rdc/t_frog_driver/pull/1

[2014-09-13 14:52] DaikiMaekawa opened #13 "ROS上でIMUを制御するためのプログラムを開発する"
自己位置推定のパッケージに繋げられるようにtfで姿勢を吐き出すようにしましょう。

[2014-09-13 14:57] DaikiMaekawa commented on #9
@yasuohayashibara IMUは野崎先輩から了承を得て、Autonから取り外しました。

[2014-09-13 14:59] DaikiMaekawa commented on #9
@ximo112 IMUの取り付け位置はURGのすぐ横にしましょう。
取り付け用の板を製作してください。

[2014-09-13 15:48] ximomoi commented on #9
@DaikiMaekawa ミスミフレームに取り付ける場合、専用のナットが必要になると思います。
または、T-frogのURG取り付け用板に拡張を施すかになります。
前者が良いと考えますが、ナットの発注が必要な分取り付けが遅れる可能性があります。

[2014-09-13 17:55] DaikiMaekawa commented on #12
オドメトリを使用してSLAMを動かすと地図が大きく歪んでしまっていたが、モデルと実機の移動速度の設定の違いが原因であると特定し修正を行った。

https://github.com/open-rdc/t_frog_driver/pull/2

[2014-09-13 18:05] DaikiMaekawa opened #14 "yp-spurの制御用プロセスが突然停止する"
ユーザーのプログラムとは別にyp-spurの制御用にypspur-coordinateというプロセスが起動している必要がある。
しかし、以下のメッセージを出して頻繁に停止してしまっているため何らかの対処が必要

[code]

[2014-09-13 18:08] DaikiMaekawa commented on #14
メッセージを見る限りではUSB接続が寸断されているようにもとれますが、OSのログを確認してもそのような形跡は見られない。
ユーザープログラムではないのでデバッグは困難だと判断し、プロセスが死んだら強制的に再起動をかけることで暫定対処する。

[2014-09-13 18:59] DaikiMaekawa commented on #12
津田沼の２号館３Fで動作確認した様子が以下の動画です。
[![youtube](http://img.youtube.com/vi/7xT0boc19_o/0.jpg)](https://www.youtube.com/watch?v=7xT0boc19_o)

実機でも問題なく動作するようになったためこのタスクを閉じます。
屋外での確認は９月１４日の学内試走会にて行います。

[2014-09-13 18:59] #12 closed, assigned to DaikiMaekawa

[2014-09-13 20:05] Nasupl commented on #4
@taki4416 先輩が使用していたプログラムをうまく組み替えれば動作しそうですが、まだうまく動いていません。

[2014-09-13 20:06] Nasupl commented on #7
Li-Poを搭載するにあたり、4線用電源スイッチ付きハブのコネクタの形状変更が必要です

[2014-09-14 09:33] DaikiMaekawa opened #15 "i-Cart miniの外装作成"
防水のためにT-frogの外装を作成する。

[2014-09-14 09:39] ximomoi commented on #8
緊急停止スイッチ本体の取り付けは完了．
@Nasupl 回路の取り付けお願いします．

[2014-09-14 09:41] ximomoi commented on #9
取り付け方が確定したので取り付け板の製作を行います．

[2014-09-14 09:50] Nasupl commented on #8
写真の平型端子を入手する必要があります
![2014-09-14 18 46 29](https://cloud.githubusercontent.com/assets/7274407/4263627/85a5cddc-3bf4-11e4-8f66-45b89d194171.jpg)

[2014-09-14 10:10] DaikiMaekawa commented on #10
台車を移動させる際の移動速度が気になったので、記録走行用とは別にR１ボタンを押すことで0.9m/sまで速度を上昇させるブーストモードを実装しました。
https://github.com/open-rdc/t_frog_driver/pull/4

[2014-09-14 10:13] DaikiMaekawa opened #16 "T-frogを屋外で走行させてSLAMの動作確認を行う"
T-frogをまだ屋外走行させたことがないため動作確認が必要

[2014-09-14 10:16] DaikiMaekawa commented on #14
通信障害からの復帰機能を実装
https://github.com/open-rdc/t_frog_driver/pull/3

[2014-09-14 10:27] DaikiMaekawa commented on #16
プレ試走会にて校内を一周して作成した地図が以下になります。
![screenshot from 2014-09-14 19 24 43](https://cloud.githubusercontent.com/assets/3862239/4263697/6289335c-3bf9-11e4-9bad-7269238f48c0.png)

#### map.yaml

[code]

少し歪んでしまいましたが、無事にT-frogの屋外における動作確認が終了しました。

[2014-09-14 10:29] DaikiMaekawa commented on #16
IMUの取り付け及びロボットの姿勢推定との統合がまだなので今後はそれに取り組みます。

[2014-09-14 10:29] #16 closed, assigned to DaikiMaekawa

[2014-09-14 11:25] DaikiMaekawa commented on #12
記録走行用のlaunchファイルを作成しました。
https://github.com/open-rdc/t_frog_slam/pull/1
以下のコマンドでRVizで状態を確認しながらの地図作成が行えます。

[code]

[2014-09-16 10:04] Nasupl commented on #8
平型端子を購入し、配線施工完了しましたので、このIssueは閉じます。

[2014-09-16 10:04] #8 closed, assigned to Nasupl

[2014-09-17 14:05] ximomoi commented on #9
T-frogにIMUの取り付けが完了しました。

[2014-09-17 14:08] ximomoi commented on #9
IMU取り付け完了なのでこのissuesを閉じます。

[2014-09-17 14:08] #9 closed, assigned to ximomoi

[2014-09-20 09:35] DaikiMaekawa opened #18 "デバイスIDの固定化"
ロボットの運用面を考えてもデバイスIDの固定化は必須
udevの設定を追加してプログラム上で使用するデバイスIDに固定する。

[2014-09-20 09:55] DaikiMaekawa commented on #18
URGとT-frogのデバイスIDをそれぞれ

[code]

へと固定するルールを追加し、緊急停止ボタンを押したりしてデバイスとの接続が一時的に寸断された後でも
無事に同じIDとモードでデバイスファイルが自動生成されることを確認しました。

[2014-09-20 09:55] #18 closed, assigned to DaikiMaekawa

[2014-09-20 10:01] DaikiMaekawa commented on #14
ypspurのクライアントプログラムには通信障害からの復帰機能を追加していたが、依然としてypspur-coordinatorは手動で再起動する必要があった。
そこで #20 の修正によりypspur-coordinatorの起動及びプロセス監視スクリプトを追加した。

[code]

で起動することによりypspur-coordinatorのプロセスが停止した場合に強制的に再起動させることができる。

これによりデバイスの接触不良や緊急停止ボタンを押した後の自動復帰が可能になった。

[2014-09-20 10:14] DaikiMaekawa opened #21 "実機でNavigation Stackを動作させる"
シミュレータを通して開発してきたNavigation周りに機能を実機で動作確認する

[2014-09-20 11:50] DaikiMaekawa commented on #21
#16 と同様にgmappingを動作させ、Navigation Stackと繋げることによりSLAMを動かしながらの自律走行が行えることを確認した。
今後はamclに事前に作成したマップを読み込ませて自律走行の動作確認を行う。

[2014-09-20 12:22] DaikiMaekawa commented on #21
gmapping + Navigation Stackで自律走行を行うためのlaunchファイルを追加
https://github.com/open-rdc/t_frog_navigation/pull/1

[2014-09-20 16:04] DaikiMaekawa commented on #21
amclパッケージを動作させるためのlaunchファイルを追加
https://github.com/open-rdc/t_frog_localization/pull/1

[2014-09-20 16:22] DaikiMaekawa commented on #21
amcl + Navigation Stackでの自律走行を実機で動作確認しました。
予め作成しておいた津田沼２号館３Fのマップを読み込み、そのマップ上でMCLを用いた自己位置推定を動作させながらT-frogを走行させることに成功しました。
https://github.com/open-rdc/t_frog_navigation/pull/3

目的は達成したのでこのタスクを閉じます。

[2014-09-20 16:22] #21 closed, assigned to DaikiMaekawa

[2014-09-20 17:01] DaikiMaekawa opened #24 "i-Cart miniのオドメトリの誤差を改善する"
#21 にて実機でamclを用いた自律走行のテストを行ったが、その際に旋回時のオドメトリ誤差が予想以上に大きいことに気がついた。

おそらくROSで設定したロボットモデルと実機との誤差が原因なのでモデルを見直してオドメトリ誤差を改善する。

[2014-09-20 18:56] DaikiMaekawa commented on #24
https://github.com/open-rdc/t_frog_driver/pull/5 にてモデル化誤差を修正しました。
その後、２号棟3Fでi-Cart miniを自律走行させて、自己位置推定の精度が向上したことを確認しました。

[2014-09-20 18:56] #24 closed, assigned to DaikiMaekawa

[2014-09-20 19:01] DaikiMaekawa opened #25 "障害物回避を実装する"
つくばチャレンジで走行させることを考えると障害物回避は必須である。

[2014-09-20 19:13] DaikiMaekawa opened #26 "IMUのデータを自己位置推定に統合する"
現在ロボットの姿勢推定はホイールオドメトリのみを使用しているが、IMUを姿勢推定に統合することで自己位置推定の精度を向上させる。

[2014-09-20 19:20] Nasupl commented on #13
@taki4416 先輩から受け取ったプログラムを改良して、tfを吐き出すようにしました。
https://github.com/open-rdc/adis_imu_drivers

[2014-09-20 19:28] Nasupl commented on #4
@taki4416 先輩が使用していたプログラムを組み替えて、URGを振りながらPointCloudを生成することに成功しました。
また、futabaのサーボをROSから使用するためのリポジトリを開きました。
https://github.com/open-rdc/futaba_servo

[2014-09-20 20:05] DaikiMaekawa commented on #25
プランニングの際に使用するロボットのパラメータを修正して、旋回時に壁に衝突する問題を解決しました。
https://github.com/open-rdc/t_frog_navigation/pull/6

障害物回避の方はローカルプランナーの設定を書き換える必要がありそうです。

[2014-09-20 21:06] DaikiMaekawa commented on #25
https://github.com/open-rdc/t_frog_navigation/pull/7
にて障害物回避が働かない問題を修正しました。
修正後に障害物を回避つつ目標値に移動することを確認しました。

狭い路地に入ると壁とロボットの距離が近くなるため緊急停止するようになったので、それ移行走行を継続することができないという問題が存在する。
このタスクの目標は達成したので新しく発生した問題は別のタスクとして管理する。

[2014-09-20 21:06] #25 closed, assigned to DaikiMaekawa

[2014-09-20 21:10] DaikiMaekawa opened #27 "狭い路地に入るとプランニングに失敗する"
#25 で障害物回避を実装した弊害として狭い路地に入るとプランニングに失敗するようになった。

おそらく、回避の際に使用するパラメータを微調整することで症状が改善されるものと思われる。
ただし、屋外走行などの開けた場所においては問題が発生しないため、優先度はそれほど高くはない。

[2014-09-20 22:04] DaikiMaekawa commented on #27
https://github.com/open-rdc/t_frog_navigation/pull/8 にて問題を修正。
狭い道幅でもきれいに折り返しができることを確認した。

[2014-09-20 22:04] #27 closed, assigned to DaikiMaekawa

[2014-09-21 02:10] DaikiMaekawa opened #28 "決められたコースを巡回するために必要な機能を実装する"
現在、i-Cart miniを自律走行させる際にはRVizでNavigationGoalを設定し、その目標に向けてプランニングを行っている。
しかし、つくばチャレンジは決められたコースを巡回する競技なので生成するパスは固定でそのパスを追従する方が都合がよい。

[2014-09-21 15:55] DaikiMaekawa opened #29 "オープンキャンパスのデモ用に i-Cart miniの開発環境を構築する"
オープンキャンパスのデモに備えて三年生だけでもi-Cart miniの運用ができるようにする必要がある。

[2014-09-21 15:57] DaikiMaekawa commented on #29
@ximo112 まずはi-Cart miniのパッケージを以下のコマンドでインストールしてください

[code]

まだ作りかけなので不具合が出たらただちに報告してください。迅速に対処します。

[2014-09-22 04:07] ximomoi commented on #29
自分のPCにyp-spurがインストールされていなかったので
yp-spurをインストールしたら出来ました。

[2014-09-22 07:43] DaikiMaekawa commented on #29
以下にセットアップ方法と実行手順を書きます。
手順は暫定的なものなので今後修正する可能性があります。

## セットアップ

[code]

## 自律走行

予め作成したマップファイルを読み込ませてT-frogを自律走行させることができます。
ファイルの完全パスを指定する必要があります。
以下にカレントディレクトリにあるbazというマップファイルを読み込む場合の例を示します。

[code]

## 記録走行

ジョイスティックでT-frogを走行させ、マップを作成することができます。

[code]

[2014-09-22 08:42] ximomoi commented on #29
[code]

を、T-frogとURGのusbを挿して実行した結果

[code]

とエラーが出てしまいます。

[2014-09-22 09:00] DaikiMaekawa commented on #29
おそらく、ypspurの動作に必要な手順が抜けていますね。
#30 にてインストールスクリプトを改良したのでもう一度install.shを実行してみてください。

[2014-09-22 09:13] ximomoi commented on #29
もう一度install.shを実行してからt-frog.shした結果、今度は
Error: Can't open serial port.
と出てしまいました。

[2014-09-22 09:18] DaikiMaekawa commented on #29
デバイスは認識されていますか？

[code]

[2014-09-22 09:45] ximomoi commented on #29
map_server
ros_control
ros_controller
が不足

[2014-09-22 10:07] DaikiMaekawa commented on #15
明日、オープンキャンパスだけど今の外装で見た目的にいいのかなぁ．．．

[2014-09-22 10:08] DaikiMaekawa commented on #29
依存パッケージが不足していたので追加しました。
https://github.com/open-rdc/t_frog_driver/pull/6
https://github.com/open-rdc/t_frog_navigation/pull/9

また、動作させるための手順を @ximo112 に指導して自律走行させることができることを確認しました。

[2014-09-22 10:17] DaikiMaekawa commented on #29
@ximo112 デモで使用するマップをあらかじめ作成しておきましょう。

[2014-09-22 15:24] ximomoi commented on #29
6号館の前から池の周りのマッピングを行いました。
自律走行に移ろうとしたところ雨が降ってきてしまったため中断しました。

[2014-09-22 15:27] ximomoi commented on #15
...最低限の防水加工を施しました。

[2014-09-22 15:29] ximomoi commented on #15
ステッカーなど貼った方がいいのでしょうか...

[2014-09-22 15:41] DaikiMaekawa commented on #15
ステッカーもだけど緑の素材が丸見えなのが一番まずいと思います。
MegaRoverのような外装の方がまだマシかな  :sweat_drops:

[2014-09-22 16:11] ximomoi commented on #15
...はい、がんばります。

[2014-09-22 21:11] DaikiMaekawa commented on #28
RViz上でグラフィカルにウェイポイントを設定して目標位置まで走行させるための機能を追加しました。
https://github.com/open-rdc/t_frog_navigation/pull/10

[2014-09-22 21:14] DaikiMaekawa commented on #29
@yasuohayashibara オープンキャンパスのデモとして提示された要求仕様を満たすための修正を行いました。#28
複数のウェイポイントを設定できるようにしたのでこれで決められたコースを巡回させることが可能になります。

[2014-09-22 21:20] DaikiMaekawa commented on #14
配線の接触不良を直したところ発生頻度を抑えることが出来ました。
これで、バッテリーの残量にさえ気をつければ滅多にypspurのプロセスが停止することは無くなりました。（ゼロではない）

実用上問題ない範囲内に収まっているのでこのタスクを完了とします。

[2014-09-22 21:37] DaikiMaekawa commented on #29
使い方を動画にまとめました。参考にしてください。 @ximo112
[![youtube](http://img.youtube.com/vi/JwD3BvwEAJ0/0.jpg)](https://www.youtube.com/watch?v=JwD3BvwEAJ0)

[2014-09-24 07:09] DaikiMaekawa commented on #29
オープンキャンパスで無事デモを終えたためこのタスクを完了とします。

[2014-09-24 07:09] #29 closed, assigned to DaikiMaekawa

[2014-09-24 07:23] DaikiMaekawa opened #32 "BRIXにi-Cart miniの開発環境をセットアップする"
- [x] Ubuntu14.04LTSのインストール
- [x] ROS Indigoのインストール
- [x] [i-Cart mini ROS Packages](https://github.com/open-rdc/t_frog_ros_pkgs)のインストール

[2014-09-24 07:24] DaikiMaekawa commented on #32
@ximo112 セットアップはお任せします。
早めに終わらせてください。

[2014-09-24 07:25] DaikiMaekawa opened #33 "BRIXの電源供給方法について"
BRIXを駆動させるためには１９Vの電源を供給する必要があります。

[2014-09-24 07:25] DaikiMaekawa commented on #33
@Nasupl よろしくお願いします。

[2014-09-26 07:17] Nasupl commented on #32
T-frog ROS Packagesのインストールまでは完了しました。動作確認はまだ行っていません。

[2014-09-26 07:19] Nasupl commented on #13
とりあえずクローズします

[2014-09-26 07:21] Nasupl opened #35 "i-Cart miniのURG振りサーボ交換"
現在t-frogには故障したサーボが搭載されているので、交換する必要があります。

[2014-09-30 06:53] DaikiMaekawa commented on #35
@yasuohayashibara  futabaサーボとRS485の変換器をロボカップからもらいます。

[2014-09-30 06:53] DaikiMaekawa commented on #33
バッテリーの選定中です。

[2014-09-30 06:54] DaikiMaekawa commented on #32
@ximo112 動作確認をお願いします。

[2014-09-30 07:24] DaikiMaekawa opened #37 "狭い経路に入るとプランニングに失敗する"
狭い経路に入ると壁を検出して停止するが、その状態から復帰することが現状では出来ないため何らかの対処が必要

[2014-09-30 07:28] DaikiMaekawa commented on #37
dwa_local_plannerを使用する設定にしていたが、それが正しく反映されていないことがわかった。
また、ローカルプランナーの設定ファイルの読み込みに失敗していたためホロノミック型のロボットとしてプランニングを行っており、ロボットが停止するのは横方向に移動しようとしているためだとシミュレータによる解析で判明した。
これに対して、https://github.com/open-rdc/t_frog_navigation/pull/11 で修正を行い狭い経路をすり抜けながらの走行が可能になったことを確認した。

[2014-09-30 07:29] DaikiMaekawa commented on #37
最終的にローカルプランナーにはTrajectoryPlannerROSを使用することにした。

[2014-09-30 07:29] #37 closed, assigned to DaikiMaekawa

[2014-09-30 09:23] Nasupl commented on #33
4A出力可能なモバイルバッテリー(ex.http://goo.gl/n27nUG ）か、現在i-Cartで使用しているバッテリーをさらに1台搭載して、インバータで昇圧するかのいずれかかと思っています。動作可能時間はあまりどちらを採用しても変わらないかなという感じですが、モバイルバッテリーの方は信頼性が・・・という感じがあるので、どうしようかという感じです。

[2014-09-30 14:51] DaikiMaekawa commented on #33
@Nasupl どちらも運用しにくそうで悩ましいですね。

[2014-09-30 22:42] yasuohayashibara commented on #35
どうぞご利用下さい．ロボカップ側で数が減って支障が出そうであれば，お知らせ下さい．

[2014-10-02 08:04] DaikiMaekawa commented on #13
https://github.com/open-rdc/icart_mini_driver/pull/11 にてIMUのシミュレーションも行えるようにした。
しかし、シミュレータ側のIMUがパブリッシュするメッセージの型はsensor_msgs/Imuなので互換性を保たせるためには実機側を修正する必要がある。

@Nasupl その辺りはこちらで対処しておきます。

[2014-10-02 08:40] DaikiMaekawa commented on #33
リポも視野にいれて考えましょう。
候補の選定を早急にお願いします。 @Nasupl

[2014-10-02 10:12] ItoYusuke commented on #33
LiPoの使用は控えたほうがいいと思います．
コンスタンスに消費されるので，インバータを介した場合でも傷める可能性があります

2014-10-02 17:40 GMT+09:00 Daiki Maekawa notifications@github.com:

##

---

千葉工業大学
工学部 未来ロボティクス学科
1126016 伊藤 裕介
Tell ：080-8852-6003
MailAddress ： itoyusuke.mobilemail@gmail.com

[2014-10-02 10:18] DaikiMaekawa commented on #33
なるほど。しかし、悩ましいなぁ :disappointed_relieved:
始めるからノートPC買うべきだったかもね。
何かいい案ないですか？ @ItoYusuke

[2014-10-02 10:34] ItoYusuke commented on #33
今のバッテリーの重さ次第ですが，
9kg程度のバッテリに切り替えて容量をアップし，インバータで提供するのかいいかと
インバータは12V->19V 3.5Aの既製品があります．

2014年10月2日 19:18 Daiki Maekawa notifications@github.com:

##

---

千葉工業大学
工学部 未来ロボティクス学科
1126016 伊藤 裕介
Tell ：080-8852-6003
MailAddress ： itoyusuke.mobilemail@gmail.com

[2014-10-02 13:19] Nasupl commented on #33
@ItoYusuke
現在のバッテリーは、1個辺り2kgの鉛蓄x2個なので、合わせても4kgです。
通常の自動車用バッテリーに切り替えるのは電源の選定としては妥当なように思えますが、機体の大幅な構造の変更を要するのが問題かと感じます。
BRIXの定格を再度確認したところ、最大定格で3.4Aということですので、19V3.5A出力可能なモバイルバッテリー等（下記URL参照）複数用意し、交換しながら使用するのが（納期や構造変更等の時間を考慮すれば）妥当な着地点かと思いますが、いかがでしょうか。
参考）
http://www.jtt.ne.jp/products/original/xp18000a/index.html
http://goo.gl/n27nUG

[2014-10-02 21:16] ItoYusuke commented on #33
そうですね．ベターな選択かと思います

[2014-10-04 06:59] DaikiMaekawa commented on #13
https://github.com/open-rdc/adis_imu_drivers/pull/1 にて対処を完了した。
実機での動作確認を終了したためこのタスクを完了とする。

[2014-10-04 06:59] #13 closed, assigned to DaikiMaekawa

[2014-10-04 07:08] DaikiMaekawa commented on #26
https://github.com/open-rdc/icart_mini_driver/pull/12 にてcombine_dr_measurementsパッケージを開発し、IMUのデータとホイールオドメトリを自己位置推定に統合した。
シミュレータ上での動作は良好で、障害物に衝突して大きくスリップするようなケースでも確度高く自己位置が推定できるようになったことを確認した。今後は実機での検証を行う予定。

[2014-10-04 07:16] DaikiMaekawa commented on #26
この修正に伴い[ros_controller](https://github.com/ros-controls/ros_controllers)パッケージの最新版である0.8.1以上にシステムが依存するようになりました。これは2014-07-11にリリースされたものなのでdebパッケージ化されておらずソースコードからビルドする必要があります。

[2014-10-04 07:24] DaikiMaekawa commented on #33
モバイルバッテリーということで不安は残りますが、実用に耐えうるかどうかは使ってみなければわからないところもありますね。　最終的に購入する機種の型番をください。 @Nasupl
まとめて購入してみましょう。

[2014-10-04 07:25] DaikiMaekawa commented on #7
@Nasupl コネクタは入手しましたか？

[2014-10-04 09:36] Nasupl commented on #7
入手しました

[2014-10-04 09:45] Nasupl commented on #33
少々高価ですが、http://kakaku.com/item/K0000668775/ を2台調達できるとよいのではないかと思います。

[2014-10-06 07:21] Nasupl commented on #7
4千用電源スイッチ付ハブのコネクタの形状変更を完了しました

[2014-10-06 07:21] #7 closed, assigned to Nasupl

[2014-10-06 13:11] yasuohayashibara commented on #33
実験走行会までに時間がありませんので，もし早急に購入する場合は，早めに購入希望をお送り下さい．

[2014-10-07 04:24] Nasupl commented on #35
取り付け完了したので閉じます

[2014-10-07 04:24] #35 closed, assigned to Nasupl

[2014-10-07 06:40] DaikiMaekawa commented on #33
@yasuohayashibara http://kakaku.com/item/K0000668775/ を2台購入してください。

[2014-10-07 06:42] DaikiMaekawa commented on #15
第4回試走会までにお願いします。

[2014-10-07 06:44] ShotaroTerato opened #38 "揺動URGの設計製作"
URGを揺動させるための機構を設計製作する必要がある

[2014-10-07 07:01] yasuohayashibara commented on #33
amazonで１個購入しました．（２つ以上は購入できないようです．）10/9着予定です．

[2014-10-07 08:10] ximomoi commented on #32
動作確認が完了したので閉じます．

[2014-10-07 08:10] #32 closed, assigned to ximomoi

[2014-10-07 08:43] Nasupl commented on #38
アクチュエータですが、制御部分の簡略化のため、無限回転のサーボを使いたいですね。
DynamixelならROSのパッケージもありますし、以下のサーボ等どうでしょうか。
http://www.besttechnology.co.jp/modules/knowledge/?BTX032%20Dynamixel%20AX-18A

[2014-10-07 08:51] ShotaroTerato commented on #38
良いと思います。とりあえず、このサーボを基に設計しようかと思います。

[2014-10-07 08:59] DaikiMaekawa commented on #26
combined_dr_measurementsでオドメトリを補正した際に移動台車の移動特性に沿わない動きを示すことがあり、発生したタイミングでは自己位置推定の精度を低下させていた。
そこで https://github.com/open-rdc/icart_mini_core/pull/14 にてxy軸の並行移動に関しても補正を行いこの問題を解消することに成功した。

[2014-10-07 10:39] DaikiMaekawa commented on #26
IMUのデバッグ用にグラフィカルな可視化機能を追加しました。 https://github.com/open-rdc/adis_imu_drivers/pull/3

[2014-10-07 16:43] DaikiMaekawa commented on #26
IMUのROSドライバはそのままでは実用に耐えるものではなかったため、実機と合わせてZ軸の回転方向を調整したり、パラメータが反映されない等の問題を解消した。 https://github.com/open-rdc/adis_imu_drivers/pull/4
IMUのポートには https://github.com/open-rdc/icart_mini_ros_pkgs/pull/39 の修正でIDを固定化したものを使用するように変更した。

[2014-10-07 16:54] DaikiMaekawa commented on #26
実機が60度以上スリップするような外乱を断続的に与えつつ、2号棟3Fのフロア内を隈なく走行させた。
結果、比較的大きめの外乱を受けつつも長時間の自律走行において高精度の自己位置推定が行えることを確認した。
今後はつくばチャレンジ用に決められた経路を追従するための機能を開発することで自律走行に必要な最低限の機能の実装を終えることになる。 https://github.com/open-rdc/icart_mini_ros_pkgs/issues/28

[2014-10-07 16:54] #26 closed, assigned to DaikiMaekawa

[2014-10-08 08:07] DaikiMaekawa commented on #38
@Nasupl 使用する場合は早めに発注依頼をお願いします。

[2014-10-08 08:09] DaikiMaekawa commented on #33
@yasuohayashibara amazon以外でもう一つ調達出来ないでしょうか？
それが難しいのであればもう一種類別のバッテリーを選定します。

[2014-10-09 02:11] yasuohayashibara commented on #33
ちなみに，バッテリ１個で何時間駆動できますでしょうか．２つ必要な説得力がほしいです．

[2014-10-09 07:01] DaikiMaekawa commented on #33
@Nasupl @ximo112 本日、モバイルバッテリーが一つ届いているはずなので動作確認も兼ねて、プレ試走会時に走行した経路の地図を作成してください。
IMUが使えるようになったので精度は向上しているはずです。

[2014-10-09 08:39] Nasupl commented on #38
@yasuohayashibara
http://www.besttechnology.co.jp/modules/onlineshop/index.php?fct=photo&p=130 x 2
http://www.besttechnology.co.jp/modules/onlineshop/index.php?fct=photo&p=151 x 1
以上2点、発注お願いします。

[2014-10-09 08:45] DaikiMaekawa commented on #15
@iou16 @ximo112 第四回試走会は悪天候が予想されるため、防水対策は必須となります。
今日中に外装の発注が出来なければ、現状の外装を改良する代替案が必要になりますがそちらは非効率ですね。
無駄な労力を割かなくてもいいように図面の作成を急いでいただければと思います。

[2014-10-10 11:15] yasuohayashibara commented on #33
@Nasupl バッテリはどうでしょうか．明らかに足りないようであれば調達します．もし４時間程度持つのであれば，１個でお願いします．

[2014-10-10 11:59] yasuohayashibara commented on #38
揺動機構にはモータが付いていたような気がしますが，そちらは利用できませんでしょうか？また，サーボモータを購入する場合は，まずは図面を見たいです．作りなおしを最小限にしたいと思います．
あと，1秒間に1.5回転しかしませんが，それで大丈夫でしょうか．fuRoは1秒間で4回転ぐらいしていたような気がします．
動画を見つけました．
https://www.youtube.com/watch?v=BVgqQRt7_0o

[2014-10-10 13:53] ShotaroTerato commented on #38
（株）移動ロボット研究所で製品化されている「測域センサ揺動装置：Gim30°」の回転速度(ジンバル機構揺動速度)が1rpsということでそちらを参考にしました。
図面はこのようになっています。
![btx032-dim](https://cloud.githubusercontent.com/assets/7301081/4593305/c162af58-5084-11e4-894c-389a91246a58.png)
http://www.besttechnology.co.jp/modules/knowledge/gate.php?way=ref&_nodos&_noumb&page=BTX032%20Dynamixel%20AX-18A&src=BTX032-dim.png

[2014-10-10 14:26] yasuohayashibara commented on #38
図面は組み立てた時の図です．また，取り付けてあるモータは使えませんでしょうか．

[2014-10-10 15:42] DaikiMaekawa commented on #28
https://github.com/open-rdc/icart_mini_navigation/pull/16 にてウェイポイントを設定したものを保存したり、読み込んで経路を生成するためのツール群を実装しました。
- waypoints_saver
  RViz上で設定したウェイポイントをyamlファイルとして保存する
- waypoints_navigation
  ウェイポイントが記録されたyamlファイルを読み込み、その経路を追従するためのプランニングを行う。
  これを使用することにより、つくばチャレンジで定められたコースに沿って走行させることが可能になります。

以前、オープンキャンパスのデモ用に仮実装したものとは異なり、設定したウェイポイントは無視されず確実に決められたコースを追従することをシミュレータ上で確認した。
今後は実機での動作確認を行う。

[2014-10-10 16:42] DaikiMaekawa commented on #28
https://github.com/open-rdc/icart_mini_ros_pkgs/blob/master/README.md に仕様手順を追記しました。

[2014-10-11 06:33] Nasupl commented on #33
@yasuohayashibara
BRIX上でUbuntuを起動させて、ディスプレイに給電し続ける試験をしましたが、12時間程度持ちました。
あくまで憶測に過ぎませんが、通常のナビゲーションなどを行う分には、4時間程度は持つのではないかと考えられます。
しかし一方で、予備がないというのは少々恐ろしいものがあるので、小容量のバッテリーを1台予備として購入していただけると助かるのですが、いかがでしょうか。

[2014-10-11 06:36] Nasupl commented on #15
ミスミへの外装部品の発注は完了していますが、届くのはだいぶ先になりそうです。

[2014-10-11 06:39] DaikiMaekawa commented on #15
@Nasupl なるほど．．． :skull:
防水処理を今日中に施す必要がありますね。

[2014-10-11 06:41] Nasupl commented on #38
@yasuohayashibara
取り付けてあるモータはmaxonのEC-maxとなっていて、ドライバ回路の開発やROS側の開発に時間がかかりそうです。当該サーボを選定したのは、すでにROS用にパッケージが存在していて、新たな回路の開発の必要がないという理由もあります。

[2014-10-11 06:53] yasuohayashibara commented on #38
モータドライバとしては，EPOSが使用できます．研究室には予備も含めて何台かあったと思います．USBで制御できます．また新たなモータを使う場合は，回路は開発しなくても良いですが，メカニズムが必要となります．

[2014-10-11 12:14] ShotaroTerato commented on #38
細部はまだですが、Dynamixel版のおおまかな設計が終わりましたので、facebookの方にInventor内で回転させている様子をアップしました。

maxon EC-max版はこれを基に設計しようかと思います。

![urg](https://cloud.githubusercontent.com/assets/7301081/4602525/6c99d53a-513f-11e4-88d5-03b396aa4691.png)

[2014-10-11 13:29] Nasupl commented on #38
URGのサイズが異なるので、メカニズムはどちらにしても必要になります。
EC-maxを使用する場合、EPOS側のコネクタ形状が異なるので、その入手が必要となりそうです。

[2014-10-11 13:29] DaikiMaekawa commented on #26
IMUをシステムに統合した後に作成したプレ試走会のコースの地図が以下になります。
今までで最も良好な地図が生成出来ました。
![screenshot from 2014-10-11 22 23 37](https://cloud.githubusercontent.com/assets/3862239/4602748/48c9f490-514a-11e4-908e-206896ed35d6.png)

[2014-10-11 13:42] DaikiMaekawa opened #40 "URGで検出が難しい障害物の回避方法の検討"
URGの取り付け位置以下の非常に低い縁石等は地図には反映されず、障害物としても検出されないため、その地点を回避するためのウェイポイントを予め設定しておく必要がある。
しかし、現状のウェイポイントの設定ツールは作成後の地図上にRVizからウェイポイントを手動で設定しているため、地図に反映されていない障害物を回避するためのウェイポイントを作成することは困難である。
そこで、地図の作成中に使用しているジョイスティックにウェイポイントを設定するためのボタンを追加し、実環境を視認しながらのウェイポイント作成を可能にするための仕組みを開発する。

[2014-10-11 16:57] DaikiMaekawa commented on #28
実機にて問題なく動作することを確認したためこのタスクを閉じます。

[2014-10-11 16:57] #28 closed, assigned to DaikiMaekawa

[2014-10-11 16:58] DaikiMaekawa commented on #40
https://github.com/open-rdc/icart_mini_navigation/pull/18 にて走行させながらジョイスティックでウェイポイントを設定するための機能を実装し、シミュレータで動作確認を行った。
これから実機での動作確認を行う。

[2014-10-11 21:00] DaikiMaekawa commented on #40
プレ試走会のコースのウェイポイントを実機で作成して、走行テストを行った。
結果、検出されない高さの縁石に乗り上げることは無くなり、屋外走行での動作は一段と安定した。
しかし現在、https://github.com/open-rdc/icart_mini_ros_pkgs/issues/14 の問題が再発してyp-spurの制御プロセスが頻繁に再起動を繰り返しているためNavigationでエラーが発生するようになった。
少し間をおくとシステムエラーは復旧されるが、waypoints_navigationの実装がこれに対応していないため自律走行がこの時点で終了してしまうという問題がある。

[2014-10-11 21:03] DaikiMaekawa commented on #40
今後はよりシステムの信頼性を向上させるためにwaypoints_navigationにエラーへの対処コードを大量に埋め込むということと、yp-spurの制御プロセスが停止する原因を追求し、問題解決に取り組む予定である。
このタスクとしては目標を達成したため閉じます。

[2014-10-11 21:03] #40 closed, assigned to DaikiMaekawa

[2014-10-11 21:06] DaikiMaekawa commented on #14
問題が再発して、発生頻度が上がって来ています。
原因を究明している最中ですが、どうやら以前の発生原因とは異なるようです。

[2014-10-12 01:59] DaikiMaekawa commented on #40
バグファイルで検証した結果、Navigationの停止とyp-spurの停止は関連していないことが判明した。

[2014-10-12 02:00] DaikiMaekawa opened #41 "IMUが稀に不正なデータを送信していることがある"
#40 にて発生したNavigationが途中で停止する問題はIMUが周期的に不正なデータを送信しているためだとログから判明した。

[2014-10-12 02:06] DaikiMaekawa commented on #41
Navigationが停止している付近のバグデータを解析していたところ、IMUから周期的に不正なデータが出力されており、そのデータを受け取った結果、一時的に大きなオドメトリ誤差が発生していることがわかった。
seq: 10459はロボットのヨー軸方向の姿勢推定に大きく誤差が発生している時のIMUのデータであるが、ロボットが直進しているにも関わらず、その前後とは全く異なる姿勢が出力されていた。
![screenshot from 2014-10-12 10 00 02](https://cloud.githubusercontent.com/assets/3862239/4604721/f1f6eb18-51b3-11e4-9b24-220e56c47657.png)

[2014-10-12 02:13] DaikiMaekawa commented on #41
現在使用しているIMUのROSドライバはIMUからの信号をシリアルで読み取り、その結果をトピックとして配信しているだけなので、この不正なデータの原因はPIC側のソフトウェアにある可能性が高いと考える。
間違った姿勢データを使用して計算したセンサーの位置がマップ外に飛んでしまったためにNavigationのcostmapにエラーが発生し、システムに大きな障害をもたらしていた。

[2014-10-12 02:19] DaikiMaekawa commented on #41
我々が作成したIMUのインタフェース基板は十分な信頼性を保証するものではないと判断します。
@taki4416 サイズは大きいそうですがアナデバ純正のインタフェース基板が研究室にあると聞きました。
管理している場所をご存知ですか？

[2014-10-12 03:58] ghost commented on #41
@DaikiMaekawa ごめん今見ました．その大きな基板を見たことがない（もしかしてアナデバの違う種類のIMUかも?）ので，ちょっとわからないです．
確認してるだろうけど，暖機運転してなくて温度ドリフトかかってるとかソフト直した際に初期化部が変わってしまったかも見たほうがいいかも

[2014-10-12 05:02] DaikiMaekawa commented on #41
@taki4416 その両方とも確認済みです。 また、i-Cart miniに限らずMegaRover側でも類似の問題が発生しているとの報告を @yasuohayashibara から受けました。

[2014-10-12 07:07] Nasupl commented on #33
BRIXのUbuntu上でicart_miniのrosパッケージを動かすと、デバイス回りに不具合が出ることがあるので、出力される電源の電圧や電流について調べる必要があります。

[2014-10-12 07:12] Nasupl commented on #41
@yasuohayashibara
ADISの評価ボードですが、下記リンクのものでしょうか
http://www.analog.com/jp/evaluation/eval-adis/eb.html

[2014-10-12 07:21] yasuohayashibara commented on #41
評価ボードEVAL-ADISですね．少なくとも羽根田君は使用していました．
評価ボードは複数枚入手していたと思います．初期のものはドライバに問題があり，あまりきちんと動作しなかった記憶があります．

[2014-10-12 07:33] ItoYusuke commented on #41
データを基にプログラムを検証します．

2014年10月12日 16:21 Yasuo Hayashibara notifications@github.com:

##

---

千葉工業大学
工学部 未来ロボティクス学科
1126016 伊藤 裕介
Tell ：080-8852-6003
MailAddress ： itoyusuke.mobilemail@gmail.com

[2014-10-13 01:24] yasuohayashibara commented on #38
知能ロボに使用しているモータを使用して構いません．また，AX-12に関しては，もしかしたら角度を検出できない角度があるかもしれません．あとポテンショは摺動しますので，すぐに寿命が来てしまいそうな気がします．

[2014-10-13 04:12] Nasupl commented on #38
@taki4416 余っているEPOSの場所をご存知でないでしょうか。また、UbuntuをEPOSで利用する際の注意点等ご存知でしたらお教えください。（Ubuntu14.04でEPOSが認識されてない）

[2014-10-13 04:35] ghost commented on #38
@Nasupl 余ってる扱いなのかわかんないけど、3回のマシンにたくさんついてる。認識されないのはmodprobeあたりっぽいけど、あやふやなんで持ってきてくれたら見るよ

[2014-10-13 04:39] DaikiMaekawa commented on #4
仮実装を完了して、動作を確認したため閉じます。

[2014-10-13 04:39] #4 closed, assigned to Nasupl

[2014-10-13 05:07] DaikiMaekawa opened #42 "ROS上でmaxonモータの動作確認を行う"
#38 で議論されている揺動URGの件で使用するモータの候補にmaxonのEC-maxが挙がっている。
ROSにはEPOSのドライバが既に存在しているので、それを用いて動作確認を行う必要がある。

[2014-10-13 05:10] DaikiMaekawa commented on #42
IMUがなければ安定した自律走行はできていないので #41 の問題の対処の方が優先度としては高いです。
評価ボードEVAL-ADISの動作確認の方を優先して対処してください。 @Nasupl

[2014-10-13 06:34] Nasupl commented on #41
@yasuohayashibara
EVAL-ADISですが、ドライバを開発すればLinuxから使用できるようですが、ADIのスタンスとして、現在のところEVAL-ADISのLinuxサポートをするつもりはないようで、Linux用のドライバ等は公開されていない模様です。

[2014-10-13 08:40] yasuohayashibara commented on #41
同様のセンサを使用している千葉大の大川先生に問い合わせしました．

[2014-10-14 03:28] yasuohayashibara commented on #41
回答が来ました．
独自の回路で対処しているようです．

---

千葉工業大学
林原 靖男 先生

　千葉大学の大川です．
いつもお世話になっております．

今日は，つくばチャレンジの第5回実験走行に参加していたため，
返事が遅れてしまいました．すみません．

さて，ジャイロに関して，メールを拝受しました．自宅からなの
で詳しい資料がないのですが，取り急ぎ，分かる範囲でお答えい
たします．

私が使用しているジャイロは， Analo gDevices の ADIS16136
です．このジャイロに，秋月電子の AKI-H8/3664F(QFP)につない
でSPI通信をしています．

H8を選んだ理由ですが，角速度を時間積分するには，時間精度が
高いほうが良いと考え，水晶発振子が付いた手近なマイコンを探
したら，このH8でした．

H8マイコンではタイマー割り込みを使い，定期的にSPI通信でジ

[2014-10-14 11:33] ShotaroTerato commented on #38
a-max22版の回転機構設計ができました。
facebookの方に回転様子の動画をアップしました。
![urg2](https://cloud.githubusercontent.com/assets/7301081/4628325/af999098-5395-11e4-9a5e-74c064a2137e.png)

[2014-10-14 15:51] yasuohayashibara commented on #38
EPOSですが，余っているものはありませんでしたでしょうか．つくばチャレンジ向けのロボットはモータとモータドライバの予備を用意して行っていたような記憶がありますので，探せば出てくると思います．

[2014-10-15 09:35] Nasupl commented on #38
@yasuohayashibara
EPOSについてですが、@taki4416 先輩から余っている（？）分を受け取りました

[2014-10-15 10:29] Nasupl commented on #41
現状のブレークアウトボードが問題なのではないかということで、新規でブレークアウトボードを簡単に製作しています。
@ItoYusuke ADISのピンヘッダに対応したピンソケット（CLM-112-02かな？）をお持ちでしたらいただけると助かります。

[2014-10-15 10:37] ItoYusuke commented on #41
在庫があれば本日中に津田沼にもって行きます

2014年10月15日 19:29 Kazuya N notifications@github.com:

##

---

千葉工業大学
工学部 未来ロボティクス学科
1126016 伊藤 裕介
Tell ：080-8852-6003
MailAddress ： itoyusuke.mobilemail@gmail.com

[2014-10-15 11:47] Nasupl commented on #42
ROSのepos_driverはダメなので、 Autonで使用されていたEPOSのドライバを使用したところ、エンコーダからの読み込みまでできました。今後リファクタリングしていきます。

[2014-10-16 09:41] DaikiMaekawa opened #44 "Navigation Stackのエラーを回避する"
自律走行が継続不可能になった時の状況をバグファイルで解析した結果、どれもNavigation Stackが発生させる複数のエラーが原因となっていた。
その各種エラーの原因を突き止め回避策をシステムに盛り込むことでより頑健なシステムの構築を目指す。

[2014-10-16 09:54] DaikiMaekawa commented on #44
ypspurのプロセスが再起動した際にNavigationがtf::lookupTransform()に失敗してエラー落ちしている現象を確認した。これはROSが用意しているパッケージのバグなので公式のリポジトリを確認したところ、22日前に https://github.com/ros-planning/navigation/pull/254 にて同様のバグに気がついた方がプルリクエストを投げてそれがマージされていた。
安定版としてはdebパッケージ化されていないので取り敢えず、この修正以降のバージョンのソースからビルドして使用することにする。

[2014-10-16 10:03] DaikiMaekawa commented on #44
URGのモデルはbase_linkにマウントされているため、レーザ光はIMUによる姿勢推定の補正を受けていた。
しかし、#41 で報告されているIMUの問題により、稀にセンサの位置がマップ外へ飛んでしまいNavigationが停止してしまっていた。そこで、ロール・ピッチ軸に関しての変換を無効にしてシステムへの影響を最小限に抑えることにした。 https://github.com/open-rdc/adis_imu_drivers/pull/5

[2014-10-16 10:19] DaikiMaekawa commented on #44
障害物回避に失敗する等してリカバリー動作を複数回行った後でも有効な経路が確保出来ない時
"Aborting because a valid plan could not be found. Even after executing all recovery behaviors"
というエラーが発生し、Navigationは終了する。
この仕様は普段の使用用途では問題ないが、コースを完走するまで人間がロボットに干渉出来ないつくばチャレンジにおいては障害物が無くなるまで待機してでもNavigationの動作は継続させなければならない。
https://github.com/open-rdc/icart_mini_navigation/pull/21 にてこのエラーに対応するためのコードをwaypoints_navigationに実装した。

[2014-10-16 10:49] DaikiMaekawa commented on #44
Navigationのtf::lookupTransform()のエラーに対する対処が施されたバージョンのソースコードをインストールの設定ファイルに追加した。https://github.com/open-rdc/icart_mini_ros_pkgs/pull/43/files
wstool upの前にwstool mergeを忘れずに実行してください。

[2014-10-20 04:32] DaikiMaekawa commented on #14
Aバッテリーで動かした際に挙動が不安定になるという疑惑があります。
今後、検証実験などを行う予定です。

[2014-10-20 05:07] ShotaroTerato commented on #38
知能ロボコンに使用しているDC-max22には減速比4.4:1のギアヘッドがついており、十分なトルクを得るには、さらなる減速をしなければならないが、EC-max22 についているギアヘッドの減速比が157:1あり、最低でもボールジョイントの部分で69.93N出るので、このURG(350g)を振るのには十分なトルクが得られると考えられるため、EC-max22を使用しようかと思います。

[2014-10-20 11:51] DaikiMaekawa commented on #44
プレ試走会走行時に一度、枯れ木に車体が引っかかり回避運動を行えずNavigationが終了したことがある。
バグファイルを解析した結果、footprint内に障害物があるためrotate_recovery動作が無効になっていたことがわかった。
安全性を考えればこの仕様で問題ないが、つくばチャレンジで完走するためにはこのリミッターは外しておくほうが良いため https://github.com/open-rdc/icart_mini_navigation/pull/22 にてコードを修正した。
コースアウトして縁石に乗り上げる等した場合には、人間が緊急停止ボタンを押すことで対処することが出来るためそれほど支障はないと考える。

[2014-10-23 08:12] DaikiMaekawa commented on #44
これらのエラー対策をシステムに盛り込んだ上でプレ試走会コースを自律走行させ、問題なく動作することを確認しました。

[2014-10-23 08:12] #44 closed, assigned to DaikiMaekawa

[2014-10-27 05:13] DaikiMaekawa commented on #15
重量の増加によりキャスターの沈みこみが激しいため、代替案を考えているところです。

[2014-10-27 05:48] DaikiMaekawa opened #45 "重量の増加に伴う走行特性の変化によって自律走行が不安定になっている"
#15 で防水性を考慮した外装をi-Cart miniに取り付けた際、重量が増加したことによる走行特性の変化が予想以上に大きく、自律走行が不安定になった。

[2014-10-27 05:51] DaikiMaekawa commented on #45
現状ではロボットの直進性が悪く、特に坂になっている場所を走行することができていない。
まずはソフトウェア側の補正でどこまで改善できるのか調査する必要がある。

[2014-10-27 07:14] ShotaroTerato commented on #38
ミスミのフレームに取り付けられるようにしました
![yodo_urg_frame](https://cloud.githubusercontent.com/assets/7301081/4787282/8f3e9aec-5da8-11e4-84b8-06d65526d408.png)

[2014-10-27 10:25] DaikiMaekawa commented on #45
20度以上の傾斜を含むテストコースを設定して繰り返し走行させ、得られたデータを元にypspurとNavigation共に重量増加後の運動特性に対応させました。
これにより、障害物回避後に回転方向の収束が遅い問題や傾斜でコースアウトする問題が解消されました。
モータが発振する問題はPID制御のKP・KIのパラメータを最適化することで対処しました。
https://github.com/open-rdc/icart_mini_core/pull/24
https://github.com/open-rdc/icart_mini_ros_pkgs/pull/46

[2014-10-27 10:25] #45 closed, assigned to DaikiMaekawa

[2014-10-28 18:51] DaikiMaekawa commented on #41
@Nasupl が新規で作成しているインタフェース基板の進捗が芳しくないようなので、現状のまま使える方法がないかどうか検証を重ねた。
具体的には、IMUをハブを介さず接続してみたりUSB2.0ポートへの切り替えもテストした。
IMUとの通信周期も30Hz ~ 10Hzの間で試してみた。
発生頻度が少ないため検証には膨大な時間を要したがどれも改善には繋がらなかった。
今回収集したデータの中で貴重なサンプルを以下の画像に示す。

#### -0.06degから239deg

![screenshot from 2014-10-29 00 33 23](https://cloud.githubusercontent.com/assets/3862239/4814655/59447306-5ed1-11e4-8267-0f2b6868040c.png)

#### 89.9degから0.15deg

[2014-10-28 19:08] DaikiMaekawa commented on #41
苦肉の策としてPC側で異常値を検出するためのフィルタを実装した。
これにより、問題が発生した際にも自律走行を継続できる確率は高まる。
しかし、データの欠損を改善に補償することは出来ないのでタイミングが悪いとコースアウトしてしまう危険性はゼロではない。

取り敢えず導入後にマップ作成のテストを2号館3Fで行った。
異常値を検出するまで動かしてみたが、フィルタでうまく処理することができた。
![screenshot from 2014-10-29 03 54 07](https://cloud.githubusercontent.com/assets/3862239/4815237/342f3da4-5ed5-11e4-9e7b-32876636d850.png)

[2014-10-29 07:52] DaikiMaekawa commented on #41
後は時間との兼ね合いになってくると思いますが可能な限り現状のインタフェース基板の使用は控えたほうがいいと思います。
最小の労力で代替品を作るのであれば[FT221X](http://www.digikey.jp/product-detail/ja/UMFT221XA-01/768-1123-ND/3029135)というSPI to USB Serialモジュールを使用することをおすすめします。 @Nasupl
IMUとこのモジュールは共に3.3V対応なので足のサイズを変更するだけでPCと接続が可能で大会に間に合う可能性も十分あります。

[2014-10-29 09:22] Nasupl commented on #41
@DaikiMaekawa
FT245RL（研究室に在庫あり）でも同様の機能があり、情報もまぁまぁあるのですが、こちらでもよろしいでしょうか（参考：http://d.hatena.ne.jp/beiz23/20131231/1388488925）
FT221Xは微妙に情報が少なくてやりづらそうです・・・。

[2014-10-29 11:39] DaikiMaekawa commented on #41
そういう理由でしたらそちらを使用すれば良いと思います。（SPI to USBが実現できればモジュールの種類は問わない）
libftdiは使い勝手も良さそうなので、SPIをシミュレートする形で動作確認をお願いします。

[2014-10-30 13:53] Nasupl commented on #41
@DaikiMaekawa
IMU基板が吐いている生の角速度のデータが飛んでいないか確認しようとのことでしたが、どうでしたでしょうか。ソースを再度読み直してみましたが、角速度は吐いていないように見えますよね？

[2014-10-30 15:13] DaikiMaekawa commented on #41
@Nasupl そうですね。私もそう思います。
PIC側の積分をやめて生データをPCに送信するように修正する必要があります。

[2014-10-30 15:14] DaikiMaekawa commented on #41
角速度データのみの送信でも不正なデータが発生するのかどうか検証をお願いします。

[2014-10-31 02:35] ShotaroTerato commented on #38
ミスミの30°の角度付きアルミフレームを用いるものに変更しました
![urg3](https://cloud.githubusercontent.com/assets/7301081/4855498/6c5ae53e-60a6-11e4-9214-e16ee724df8d.png)

[2014-10-31 04:13] Nasupl commented on #41
角速度含めた送信が可能なように、IMU基板のPICのプログラムを書き換えました。（リード線が生えてるIMU基板）
データが飛ぶかどうかの確認は検証はまだ出来ていません。

[2014-11-01 07:00] ShotaroTerato commented on #38
ジンバル機構部の製作が完了
![img_1264](https://cloud.githubusercontent.com/assets/7301081/4870973/7ebe9376-6194-11e4-8e59-033a1de23563.JPG)

[2014-11-01 08:55] Nasupl commented on #41
現在180度フィルタを外した状態で動かしていますが、180度を超えてしまった時に、積算がおかしくなり、0度位置がずれることがあります。

[2014-11-01 13:48] ShotaroTerato commented on #38
@yasuohayashibara 現在動作を試みているEPOSですが、CAN通信をしてPC側のポートが開いているのは確認できるのですがEPOS側が何の反応もなく、それ以上うまくいっていない状況です
EPOSの不具合の可能性もあり他のEPOSでも試してみたかったのですが、探しても見当たりません．もしご存知でしたら何処にあるか教えていただけないでしょうか

[2014-11-01 14:11] Nasupl commented on #41
IMUからの角速度の読み出し、及び積算が  https://github.com/open-rdc/adis_imu_drivers/commit/3b8bfdc7724c956c08625a40324de57af11c2e5e にて問題なくできるようになりましたが、角度が飛んでいるときは角速度も同様に飛んでいるように見えます。
とりあえず気がつくことができたときの画像を添付しました。
![jump](https://cloud.githubusercontent.com/assets/7274407/4871958/d239d830-61d0-11e4-9566-28d653d001e2.png)
やはり、IMU基板が吐き出してくる角度情報をフィルタリングして使用するしかないのではないでしょうか・・・。

[2014-11-01 14:28] Nasupl commented on #41
また、IMU基板が吐き出してくる角度情報は、１回飛んでもすぐ元の角度に戻りますが、ROS側で積分する場合、一回角速度が飛ぶと修正が難しそうです。

[2014-11-02 01:26] yasuohayashibara commented on #38
EPOSですが，新習志野１１号館にあります．

[2014-11-02 06:02] DaikiMaekawa commented on #41
飛んだ時のデータだけrecvの長さが短いような

[2014-11-02 06:16] Nasupl commented on #41
頭から2桁目と3桁目のデータが飛んでますね。演算の問題というよりは、データの送受信周りに問題がありそうですね。

[2014-11-02 06:19] DaikiMaekawa commented on #41
@Nasupl データの送受信が問題なのかどうかはこれから検証してみます。
もし単純に桁落ちが問題ならば対処は簡単に出来ると思います。

因みにi-Cart miniに付いているIMUには最新のプログラムを書き込み済みですか？

[2014-11-02 07:47] Nasupl commented on #41
@DaikiMaekawa 送られてくるデータを見ていただければいいと思いますが、書き換え済みです。

[2014-11-02 09:14] DaikiMaekawa commented on #41
i-Cart miniに取り付けられているIMUで動作確認を行った。（ROS側のソースは以前の安定版）

符号の切り替わりが270度にシフトしているようですが、何か変更を加えましたか？
![screenshot from 2014-11-02 17 46 58](https://cloud.githubusercontent.com/assets/3862239/4874785/6d0be99e-6270-11e4-8c40-055d887941b3.png)
![screenshot from 2014-11-02 17 47 06](https://cloud.githubusercontent.com/assets/3862239/4874786/7540e77c-6270-11e4-8d55-c5f0113a21b2.png)
突発的に値が飛ぶわけではなく180度を越える角度が定常

[2014-11-02 09:49] DaikiMaekawa commented on #33
@Nasupl
時間的にその余裕はないのでBRIXの採用は見送ります。

[2014-11-02 09:49] #33 closed, assigned to Nasupl

[2014-11-02 10:17] DaikiMaekawa opened #48 "IMUのインタフェースボードの接触不良問題"
機体に取り付けられていない方のIMU（No.1）から受信した文字列がすべて0になるという問題が発生した。
IMU本体とインタフェース基板の接続部分を指で押さえつけると正常に通信できることから接触不良が疑われる。

[2014-11-02 10:28] DaikiMaekawa commented on #41
@Nasupl
IMUから送られてくるデータに角速度情報を追加してからは、データの取りこぼしの頻度が上がっています。
IMUとの通信頻度を下げるとデータが安定することからデータ量の増加が原因と考えられる。
やりとりするデータを3軸の角度データのみに限定し、チェックサムを追加して下さい。

[2014-11-03 05:13] Nasupl commented on #48
ピンソケットのはんだづけをリワークして修正しました。No.1のIMUは現在MegaRoverに取り付けてしようされています。

[2014-11-03 05:13] #48 closed, assigned to Nasupl

[2014-11-03 05:28] Nasupl commented on #41
IMU基板のソフトウェアですが、Robocupの方から頂戴したものを書き込んだところ、温度ドリフト補償が書かれていない、出力される角度のスケールがおかしいなどの問題が発生しています。出力される角度のスケールの問題は、暫定的に解決しましたが、温度ドリフト補償の件に関しては、参考になるものが見つからず実装に苦戦しています。どなたか当該IMUの温度ドリフト補償についてご存知の方がいらっしゃいましたらご教示ください。

[2014-11-03 06:27] ShotaroTerato commented on #38
他のEPOSでも試してみましたが、同じ症状が出るのでEPOSの不具合ではなかったようです
また動作しない原因としてEPOS側のCAN-IDの設定かとも考え設定を様々変えて動作を試みましたが、変更後も何の変化も見られず、よくわからない状況です

[2014-11-03 09:48] DaikiMaekawa commented on #14
バッテリーの種類ではなく使用するPCの種類により変化しているようです。

[2014-11-03 09:57] DaikiMaekawa commented on #41
@open-rdc/tsukuba-challenge
チェックサムを実装し、IMUのデータへのアクセス周期を落としたものはそこそこ安定しています。
角度が飛ぶ問題はシリアル通信によるデータ損失でほぼ間違いないでしょう。
しかし、つくばチャレンジのコース全域のマップ作成を行いましたが公園の箇所で大きくマップが歪んでいます。
これはソース書き換え後のIMUのドリフトが大きく（暖機運転後のIMUで10分で20度ほどズレる）、ランドマークが少ない領域では補正しきれないため発生する。
![screenshot from 2014-11-03 18 47 03](https://cloud.githubusercontent.com/assets/3862239/4880697/2aec0f56-633f-11e4-996d-856b5dfca679.png)

[2014-11-04 07:08] DaikiMaekawa commented on #41
@Nasupl 元ソースが貰えるのならそれに越したことはありませんが、普通に移動平均フィルタを実装するだけで良いのでは？

[2014-11-04 07:10] DaikiMaekawa commented on #41
この問題は解決したため閉じます。
IMUに発生している別の問題に関しては他のIssueを立てて議論しましょう。

[2014-11-04 07:10] #41 closed, assigned to DaikiMaekawa

[2014-11-04 07:13] DaikiMaekawa commented on #15
新しい外装だとつくばチャレンジのコースにある橋付近の坂が登りづらいですね。
原因は１０kg以上の重量増加にあると思いますので、軽量化を検討していただけると助かります。
また、ソフトウェア的にトルクの上限値を上げられるかどうかは調査してみます。

[2014-11-05 08:52] DaikiMaekawa commented on #15
@iou16
20kgの荷重はソフトウェア的な調整ではどうしようもないですね。
つくばチャレンジのコースにおける橋の前の坂と同程度の傾斜を用意して走行実験を重ねましたがモータのトルクが足らず途中で停止しました。
再度、モータのスペック等から所要できる荷重を算出し自律走行可能な程度まで軽量化する必要があります。

[2014-11-06 05:30] Nasupl opened #50 "IMUの積分ドリフトが激しい"
IMUの積分ドリフトが激しく使い物になりません。
Auton版のIMU基板のソースコードをビルドして書き込みましたが、相変わらず10分に20度近くドリフトします。

[2014-11-06 08:20] DaikiMaekawa commented on #50
@Nasupl 二度手間になるのはイヤですが最新版のソースが手に入らない以上、ドリフト補償に関して再度実装し直す必要があると思います。

[2014-11-08 07:40] Nasupl commented on #50
検証の際にキャリブレーションを行わずに動かしていたのが原因のようで、Auton版のソースコードをビルドして書き込んだものを利用して、キャリブレーションして検証したところ、10分で2度までドリフトは収まりました。

[2014-11-09 08:27] #50 closed, assigned to Nasupl

[2014-11-09 08:29] Nasupl commented on #50
最終的にはRobocupのレポジトリに上がっているIMUのソースコードのキャリブレーションがうまく働いていなかったということになるかと思います。

[2014-11-09 11:06] DaikiMaekawa opened #51 "障害物の誤検出によるコースアウト"
試験走行を重ねた結果、障害物の誤検出によるコースアウトがそれなりにありました。
誤検出が発生するパターンは以下のとおりです。
- [x] コースの斜面
- [x] 凸凹の路面の走行時
- [x] マップ作成時のノイズや一時的な障害物

[2014-11-09 11:11] DaikiMaekawa commented on #51
- コースの斜面
- 凸凹の路面の走行時

このケースに関してはIMUのデータを三軸分使用してロボットの姿勢推定を実装するだけで解決出来ます。

[2014-11-09 11:15] DaikiMaekawa commented on #51
コースのマップをエディタで編集することで対応する。
マップ作成時に**長時間**停止していた人などがマップの形状として登録されてしまっていたので、その箇所を白色に修正する必要がある。

[2014-11-09 17:56] DaikiMaekawa opened #52 "つくばチャレンジのコースの地図を作成・修正する"
つくばチャレンジのコースの占有格子地図を作成し、不適切な箇所はエディタで修正する。

[2014-11-09 17:59] DaikiMaekawa commented on #52
https://github.com/open-rdc/icart_mini_ros_pkgs/issues/51 で議論されているように適切な地図を使用しなければ自律走行時の思わぬコースアウトに繋がります。

手始めに第六回試走会で作成した地図のトライアル区間での不要な障害物を排除したものをコミットしました。
https://github.com/open-rdc/icart_mini_navigation/pull/33

[2014-11-09 18:05] DaikiMaekawa commented on #52
第六回試走会で作成した地図は改めて見ると道の中に誤検出された障害物が多く含まれていました。（恐らく振動で地面を検出したときのもの）
当時はキャスターが有効に働いていなかったことが原因かも知れませんね。
以下がトライアル区間の修正後の画像です。歪みは大きすぎて修正できませんでした。
![tsukuba](https://raw.githubusercontent.com/open-rdc/icart_mini_navigation/master/icart_mini_navigation/maps/tsukuba.png)

[2014-11-10 17:15] DaikiMaekawa opened #53 "経路の追従性能を向上させる"
直線コースであっても路面が凸凹だと安定して走行することが出来ずコースアウトすることが多い
また、障害物を回避するための経路もうまく追従出来ない場合があるので修正する必要がある。

[2014-11-10 17:21] DaikiMaekawa commented on #53
https://github.com/open-rdc/icart_mini_ros_pkgs/issues/41 でIMUのデータの取りこぼしを少なくするために通信周期を20Hzにしたため、旋回後の機体の振幅がなかなか収束しない問題が発生していた。
走行実験を重ねた結果、自律走行には少なくともIMUからの姿勢データを30Hzで更新する必要があることがわかったため再度修正を加えた。 https://github.com/open-rdc/adis_imu_drivers/pull/12
修正後に実機で動作確認を行い、問題が改善されていることを確認した。

[2014-11-10 17:38] DaikiMaekawa commented on #53
自律走行時の最大速度を0.55m/sまで下げた。
また、経路を外れにくくするためにNavigationの制御周期を5Hzに引き上げた。 https://github.com/open-rdc/icart_mini_navigation/pull/36
PCの性能以上に周期を早めすぎるとエラーが頻発するようになるため、5Hzという値は最もパフォーマンスが上がるものを実験的に求めた結果である。

[2014-11-10 17:51] DaikiMaekawa commented on #52
IMUのROSドライバの周期が20Hzだったことも地図が歪む要因の一つだったと思います。
チェックサムで異常値を弾いたとしてもその時に機体が大きく回転している場合はレーザーとの統合が間に合わないことがあります。
現在は30Hzで動作するように修正したので改善されると思います。

[2014-11-10 17:53] DaikiMaekawa commented on #52
IMUのドリフトに関しては https://github.com/open-rdc/icart_mini_ros_pkgs/issues/50 にて解決されました。
時間がある場合は地図作成をやり直してみるといいデータが取れるかもしれませんね。

[2014-11-10 18:10] DaikiMaekawa commented on #53
ypspur側に左右同じ速度の指令を与えてロボットを前進させた場合にも必ず左側に軌道が逸れていく現象が確認されていました。 T-frog Driverにシリアルで送っている指令値は左右のモータで速度の違いがないことは確認できているのでドライバ側の制御関連でなんらかの問題が発生している可能性も考えられます。
Navigationの速度を抑えてもあまり効果が見られなかったのですがypspur側の設定で最大速度を低めに設定すると直進性が改善されました。 https://github.com/open-rdc/icart_mini_core/pull/29/files

[2014-11-10 18:12] DaikiMaekawa commented on #53
この問題は凸凹の路面ではより顕著になっていたため、修正後の動作を同様の環境で再度検証する必要があります。

[2014-11-11 09:18] ShotaroTerato commented on #42
Windows上のEPOS Studioでのモータの駆動を確認しました．EPOSとモータには問題ないようです．
linuxの方での駆動を試みます．

[2014-11-12 09:15] DaikiMaekawa commented on #53
モータを左右入れ替えても同じ挙動を示すためT-frog Driverの問題です。

[2014-11-12 11:02] DaikiMaekawa commented on #53
i-Cart mini用に配布されているパラメータでは最大速度が0.9m/sになっていますが、0.6m/s程から直進性が失われる現象に悩まされてきましたがようやく解決しました。（凸凹な路面は低速でも発生するのでコースアウトに繋がっていた）
モータに対してどのような制御が行われているのかを明らかにするためにYPSpurのソースコードを解析した結果、モータのトルクの設定が足りない場合に右側のモータの出力が大きくなる計算になっていることが判明しました。
そこで、YPSpur側のトルクの制限を上げてみたところ0.6m/s以上の走行、凸凹の路面や坂等のトルクが必要な場面での直進性が改善されることを実機で確認しました。
こちらのハードウェアトラブル出ないことは確認済みなので、公式で配布されているパラメータファイルをそのまま使用してもi-Cart miniはまっすぐには走らないということになります。（平

[2014-11-12 11:04] DaikiMaekawa commented on #52
不要な障害物を地図から削除しました。
試走会ではこのマップを使用してNavigationを行う予定です。

[2014-11-12 11:04] #52 closed, assigned to DaikiMaekawa

[2014-11-12 11:10] DaikiMaekawa commented on #51
地図を修正して解決しました。

[2014-11-12 11:10] #51 closed, assigned to DaikiMaekawa

[2014-11-12 11:30] DaikiMaekawa commented on #14
公式ページで情報を確認したところ、LinuxカーネルのバージョンによってはFTDIチップのドライバにバグがあり、通信ができなくなるということがわかりました。
@DaikiMaekawa の環境では動作しないのはこれが原因だと思います。
共有PCを使用している限りは発生していないのでこのIssueを閉じます。

[2014-11-12 11:30] #14 closed, assigned to DaikiMaekawa

[2014-11-14 11:42] DaikiMaekawa opened #56 "メモリ不足でNavigationが停止する"
トライアル区間のランドマークの少ない領域においてPCのメモリ不足で警告を出した後、Navigationｇがクラッシュする現象が発生していた。

[2014-11-14 11:54] DaikiMaekawa commented on #56
バグファイルを解析した結果、ランドマークが少ない領域ではパーティクルの数が増加するためこの問題が発生していることがわかりました。
最大のパーティクルの数を減らすかPCのメモリを増やすかの二択になると思いますが、手っ取り早く問題を解決するために我々は後者を選択しました。
共有PCには以前から処理性能に不安があったため、今大会では @DaikiMaekawa のPCを使用します。
PCの変更後、同様のコースを問題なく完走できることを確認しました。

[2014-11-14 11:54] #56 closed, assigned to DaikiMaekawa

[2014-11-14 12:08] DaikiMaekawa opened #57 "障害物との衝突後に復旧動作へ移行しないことがある"
一時的ではありますが６人ほどの集団に周囲を囲まれた際に、ローカルコストマップに全方位で至近距離の障害物が存在する状態になった。
安全性の確保のためにLRFの視野外のコストはクリアされないのでNavigationを再開できない状況に陥った。
本番でも十分考えられるシチュエーションなので何らかの対策を講じる必要がある。

[2014-11-14 23:07] DaikiMaekawa commented on #57
リカバリー動作を全て実行した後にも有効な経路が生成できない場合に発生する「Aborting because a valid plan could not be found」というエラーを回避するために https://github.com/open-rdc/icart_mini_navigation/pull/21 で一定周期でNavigationに動作再開のリクエストを投げるようにしていた。
多くの場合、有効な経路が生成されるまでその場でリカバリー動作を続けるという形で正常に動作するが、DWAの局所解に陥った際には何も出来ずに停止してしまう。
また、動作再開のリクエストが送られたタイミングによってはリカバリー動作がキャンセルされて周囲のローカルコストマップをクリアできない場合がある。
そこで、 https://github.com/open-rdc/icart_mini_navigati

[2014-11-14 23:10] DaikiMaekawa commented on #57
シミュレータで動作確認してみたところ非常に安定して動作している。
至近距離にいくつもの障害物が同時発生した場合等の従来では復旧が困難だった状況であっても自律走行を継続可能であることを確認した。
実機での動作確認はこれから行う予定。

[2014-11-15 11:16] DaikiMaekawa commented on #57
実機で問題なく動作することを確認しました。

[2014-11-15 11:16] #57 closed, assigned to DaikiMaekawa

[2014-12-03 17:48] DaikiMaekawa commented on #38
@ShotaroTerato 完成したようなのでこのタスクは完了ですか？

[2015-01-07 13:18] DaikiMaekawa commented on #15
軽量化したバージョンで大会に参加しました。
作製は終了したのでこのタスクを閉じます。

[2015-01-07 13:18] #15 closed, assigned to iou16

[2015-01-07 13:27] DaikiMaekawa opened #59 "CADデータを公開する"
ハードウェア的に変更が必要な箇所がいくつかあるので、そのまま我々のパッケージを使用することは出来ない。
誰でも変更箇所がわかるようにCADデータを公開する。

[2015-01-07 13:28] DaikiMaekawa commented on #59
このリポジトリにデータを上げる。

[2015-01-08 04:02] DaikiMaekawa opened #60 "IMUのインタフェース基盤のデータを公開する"
PICのソースコード及び周辺回路のデータを公開する必要がある。

[2015-01-08 04:03] DaikiMaekawa commented on #60
@Nasupl 基盤データはCITBrainsの https://github.com/citbrains/electronics/tree/master/re-design_IMU で復元したものがありますので、こちらを使用してください。(作成者には別途許可を取ること)

[2015-01-10 02:44] DaikiMaekawa commented on #59
http://wiki.ros.org/icart_mini に組み立てに関するドキュメントを記述してください。

[2015-01-21 05:59] #38 closed

[2015-04-30 10:59] Nasupl opened #63 "ORNE-βの組み立て"
購入品リストをリストアップ中．

[2015-05-02 16:01] DaikiMaekawa opened #64 "Change repository name to "orne""
https://github.com/open-rdc/icart_mini/issues/70 より、icart_miniパッケージからつくばチャレンジ依存のコードをこちらに移すことを検討している。 その際に、このリポジトリで開発されているものがicart_miniをベースとしたつくばチャレンジ向けのNavigationパッケージであることを明示するために、リポジトリ名を"orne"に変えるというのはどうでしょうか? @open-rdc/tsukuba-challenge

[2015-05-02 16:03] DaikiMaekawa commented on #64
orne_navigationの方がわかりやすいかな?

[2015-05-03 07:38] Nasupl commented on #64
ORNE Project依存のローンチファイル等をこちらに移動するというような感じでしょうか．具体的な影響範囲がよくわからないです．

[2015-05-03 08:05] DaikiMaekawa commented on #64
その解釈であっています。 もっと具体的に言うとicart_miniリポジトリのicart_mini_navigationはタスク依存のコードなのでこちらに移してもいいかなと思っています。

[2015-05-06 07:34] DaikiMaekawa opened #67 "Release Jade version"

[2015-05-06 07:36] DaikiMaekawa commented on #64
リポジトリの名前を変更した

[2015-05-06 07:36] #64 closed

[2015-05-31 05:17] Nasupl commented on #63
部品の発注はほぼ終了

[2015-05-31 05:17] Nasupl commented on #42
もう進展ないと思うので閉じます．

[2015-05-31 05:17] #42 closed

[2015-05-31 05:22] Nasupl opened #68 "70-sensors.rulesでIMUにもユニークなデバイス名をつけるようにする"
RSC-U485などのFTDI製USBシリアルデバイスを接続した際に，接続順によってはIMU以外のFTDI製USBシリアルデバイスがIMUと誤認されることがある．

@DaikiMaekawa
launchファイルで指定されているデバイス名はどうしましょうか

[2015-05-31 05:23] Nasupl opened #69 "ORNE-αの電装系組み直し"
電圧計周辺の配線や12V供給系の見直しなどを行うべき

[2015-05-31 05:25] Nasupl commented on #63
とりあえず6/2はタイヤのネジ締めとフレームの組み換えを行う．

[2015-05-31 05:26] Nasupl opened #70 "ORNE-βの電装系"
* ハーネス作成
* 電圧計

[2015-05-31 05:29] Nasupl opened #71 "ORNE-β各種機器取付板の作成"
* 緊急停止スイッチ取付板
* IMU取付板

[2015-05-31 05:30] Nasupl opened #72 "ORNE-β用IMUの調達とファームウェア書き換え"
IMUを調達してつくば用ファームに書き換える

[2015-05-31 05:32] Nasupl opened #73 "買い出し"
ミスミで買わなくていいものの買い出し
* M3のスプリングワッシャー
* 外装用ビニールシート
* 養生テープ
* 強力な両面テープ
* マジックテープ
* 白ガムテ

[2015-05-31 05:34] Nasupl opened #74 "ORNE-β外装作成とαの外装修正"
ORNE-βもαと同様の外装を作成する．プラダンでよい．
αの上部構造は配線逃しのところでぐんにゃり曲がってしまっているので，β用外装はこれを改善した設計にすると共にαにもこれを適用する．

[2015-05-31 05:36] Nasupl commented on #74
とりあえず @KentaKubota に投げてますが３年生で誰か担当という感じでおねがいします．

[2015-05-31 05:37] Nasupl commented on #73
ビバホームまでバスやら自転車やらで行って買える量だと思うので誰か３年生おねがいします

[2015-05-31 05:40] Nasupl commented on #71
アルミの板をCNCでささーっと切削して作ってください．
データは申し訳ないけど残ってないです．

[2015-05-31 05:49] Nasupl commented on #73
- ４ポートのUSBハブ

ヤマダ電機で良さそうなのを1000円くらいで買ってきてください

[2015-05-31 05:54] Nasupl commented on #71
電源スイッチ用取付板もつくってください

[2015-05-31 06:23] Nasupl commented on #73
- サーキットプロテクタ(http://www.sengoku.co.jp/mod/sgk_cart/detail.php?code=EEHD-4FKA)
- モータドライバ保護用キャパシタ(http://www.sengoku.co.jp/mod/sgk_cart/detail.php?code=EEHD-4D83)

どちらも千石．

[2015-05-31 06:27] Nasupl commented on #71
電源スイッチ(サーキットプロテクタ)は #73 を参照してください．
[こちら](http://t-frog.com/forums/forum.php?ml=icart-mini-devel&read=6)の案２の形でよいかと思います．
IMUはAnalogDevicesのADIS16488です．
緊急停止スイッチについてはORNE-αの取付板を確認してください．

[2015-06-02 06:24] Nasupl commented on #72
もう１台どっかについてるのでぶんどる

[2015-06-02 11:33] Nasupl commented on #63
構造系の組み立ては完了．センサ，電装系とまだ届いていないキャスタを取り付ければ完了．

[2015-06-02 11:34] Nasupl opened #75 "ORNE-βモータドライバ基板ファームウェアアップデート"
旧ファームMD基板のファームアップデート

[2015-06-02 11:34] Nasupl commented on #72
@yasuohayashibara
AutonやRDC-10にはついていませんでした．先生のデスクの方を探していただきますでしょうか．

[2015-06-03 07:55] Nasupl commented on #75
書き換えた

[2015-06-03 07:55] #75 closed

[2015-06-04 05:16] yasuohayashibara commented on #72
見つけました．
夏迫くんの机の上に置いておきます．

[2015-06-05 03:18] Nasupl commented on #63
@KentaKubota , @ShunShimamura
キャスタが届きました．モータドライバ基板も用意出来たので，暇なときに取付けてください．

[2015-06-05 19:08] Nasupl commented on #73
サーキットプロテクタは見つかったので不要になりました

[2015-06-05 19:09] Nasupl commented on #71
電源スイッチ取付板は見つかったので作らなくていいです。

[2015-06-06 07:04] Nasupl commented on #72
調達とファームウェア書き換え完了

[2015-06-06 07:04] #72 closed

[2015-06-06 09:09] Nasupl commented on #70
ハーネス作成完了

[2015-06-06 09:12] Nasupl commented on #70
@yasuohayashibara
昨年度RBB用（？）に購入していただいた小さい電圧計，まだ在庫ございますでしょうか．

[2015-06-09 05:48] yasuohayashibara commented on #70
たくさん(10個ぐらい)購入した記憶がありますが，どこかは不明です．

[2015-06-10 02:04] Nasupl commented on #63
キャスターの取り付け完了につき本体組み立ては完了。残りハードウェアタスクは #70 , #71 , #74

[2015-06-10 02:04] #63 closed

[2015-06-11 09:40] ShotaroTerato commented on #71
緊急停止スイッチ取り付け板ならびにIMU取り付け板の製作を行いました
orne-βの運用ノートの上に置いてあります
![image1](https://cloud.githubusercontent.com/assets/7301081/8104114/243fa2bc-1069-11e5-9169-ecd896593e9e.JPG)

[2015-06-11 09:44] ShotaroTerato commented on #73
・M5のスプリングワッシャー
・外装用ビニールシート
・養生テープ
・強力な両面テープ
・マジックテープ
・白ガムテ

以上のものは購入し検収に通しました

[2015-06-11 14:43] Nasupl commented on #73
残りは4ポートハブだけ

[2015-06-11 14:44] Nasupl commented on #71
@NDYun, @KentaKubota, @ShunShimamura
すでに全て部品は揃っているので，取り付けまでお願いしたいです．

[2015-06-13 05:24] Nasupl commented on #69
少なくとも都産技デモまでにきれいにまとめる

[2015-06-13 13:31] Nasupl commented on #71
取り付けまで完了したので閉じます

[2015-06-13 13:31] #71 closed

[2015-06-13 13:32] Nasupl commented on #70
モータドライバ/IMU/緊急停止スイッチを取り付けて配線までしたので，あとは電源基板を取り付ければ完了

[2015-06-16 12:01] Nasupl commented on #70
電圧計以外はすべて配線完了．とりあえず都産技デモまではこのまま運用したい．

[2015-06-16 12:01] Nasupl commented on #69
電圧計周辺配線の修正と配線の把捉を実施．

[2015-06-20 11:28] Nasupl commented on #73
ハブはAmazonで複数まとめて購入していただくように先生にお願いしたので閉じる

[2015-06-20 11:28] #73 closed

[2015-07-01 14:22] elgure commented on #74
ORNE-βの外装完成しました.

[2015-07-13 21:15] Nasupl commented on #69
12V系は再度組み直し

[2015-07-13 21:15] Nasupl commented on #74
ありがとうございました．

[2015-07-13 21:15] #74 closed

[2015-07-13 21:15] Nasupl commented on #70
電圧計購入済み（？）

[2015-07-13 21:16] Nasupl commented on #70
ThinkPadバッテリーを発注する

[2015-07-13 21:18] Nasupl opened #78 "ORNE-α IMU修理及び通信切断原因調査"
αのIMU電源基板が故障したので修理する．
同時にカバー装着時に通信の切断が時たま起こる原因を調査する．

[2015-07-13 21:19] Nasupl opened #79 "YPSpurパラメータ調整"
パラメータを調整してトルクがもうちょっと出るか探る

[2015-07-13 21:19] Nasupl opened #80 "横断歩道対策"
* 追従どうする？
など

[2015-07-13 21:20] Nasupl opened #81 "外装修正"
* ルーフに窓？
* 開放面の雨対策カバー

[2015-07-13 22:59] yasuohayashibara commented on #70
検収した電圧計を夏迫くんの机の上に置きました．

[2015-07-17 06:52] Nasupl commented on #78
修理は完了．miniB基板側端子のハンダに不良が発生していた模様．

[2015-07-28 08:57] ShotaroTerato commented on #79
orne_navigation(icart_mini_ros_pkg)/icart-mini.param
のTORQUE_LIMITを1.0[Nm]から1.5[Nm]に変更

・TORQUE_MAX　モータトルク制限
・TORQUE_LIMIT

[2015-07-28 08:59] ShotaroTerato commented on #79
/orne_navigation(icart_mini_ros_pkg)/icart-mini.param
のTORQUE_LIMITを1.0[Nm]から1.5[Nm]に変更

なお
・TORQUE_MAX　モータトルク制限（PI制御ぶんの制限）
・TORQUE_LIMIT　モータトルク出力制限（最終的な出力制限）

[2015-07-28 09:25] Nasupl commented on #79
実機で検証をおねがいします．

[2015-08-04 04:42] Nasupl commented on #78
カバー装着時の通信の切断は，IMUの温度上昇によるものとは断定できない（IMU内部の温度センサにおいてカバー装着時にも温度の上昇は見られなかったため）．一応外部の温度計での調査をする．

[2015-08-18 04:47] Nasupl commented on #78
温度等ではなく，USBハブのコネクタが原因となっている模様．USBハブについて再度検討すべき．
USBハブを起因とする接続の不良は，PC側オスコネクタとケーブルの接合部分にかかる曲げ応力による断線と，ハブ側メスコネクタの接点不良の2つの原因によるものと考えられるので，これについて対策する．
前者については，PC側コネクタがL字になっているものを利用するなどして対策し，後者については，接点回復剤の使用やコネクタのリワークなどを検討する．

[2015-08-23 07:22] Hiroki-Goto commented on #80
今回出たこと

追従組
　・ROSの読み込み
　・スイッチ1つでモードチェンジ（？）←横断歩道とそれ以外のモード（？）←　座標値でモードチェンジ
　・横断歩道をどうわたるか（段差がきつい）

白線処理
自己位置でやるか？
waybpint　navigationでやるときついかも
地図にはセルごとに属性値と尤度は与えられるけどどうするか・・・
セルに情報入れると管理しずらい
地図とエリア情報を一括で管理する
これらは orne　navigationにパッケージしていく
FSM のパッケージにあるかも
目標値をロボットの少し後ろにしていれば障害物回避を回しながら追従行動できるかも

走行関係
モータのトルク関係？　
タイヤを大きくする？　←段差考えるとこっちかも
鬼畜どんぐり　←大きく浮かんだりする

[2015-08-24 17:42] Nasupl opened #82 "マッピング失敗の原因調査"
7/4の試走会でマッピングに失敗した原因を調査する
* icart_miniｎROS Packageを利用している他の大学で同様の事例が発生したとの報告がある
* 複合オドメトリに問題が発生している
 * 当日のbagファイルの検証を行う

[2015-08-24 17:43] Nasupl commented on #79
TORQUE_LIMITやTORQUE_MAXだけをいじっても変わらないのでPIDゲインの調整を行う．ダメだったら車輪径の変更も行う必要がある．

[2015-08-24 17:46] Nasupl opened #83 "機体ごとのlaunchやparamの管理"
マシンごとのlaunchファイルや各種パラメータの差異はlaunchファイルのif-unlessルールを使って管理し切り替えられるようにする
http://wiki.ros.org/ja/roslaunch/XML

[2015-08-24 17:48] Nasupl commented on #80
追加・補足メモ（？）
- 横断歩道前や対象発見時のPathPlannningについて
  - 状態管理するノードを追加するべき
  - 一つのノード内でやる
  - 地図を分割する？
    - 地図内でエリアを分割する
    - orne_navigation内にパッケージを作るべき
  - ロボットの手前に目標を定めれば障害物回避しない
    - nav_goalをロボットの手前に設置してあげる

[2015-08-24 17:51] Nasupl commented on #68
IMUのデバイス名問題は揺動URG用に必要だったが，揺動URGを使わなくなったのでとりあえず閉じる．
機体ごとの差異の吸収については #83 で議論

[2015-08-24 17:51] #68 closed

[2015-08-24 17:58] Nasupl commented on #78
ソフトウェア的な対策については adis_imu_drivers 側で検討する

[2015-08-24 19:36] DaikiMaekawa opened #84 "CIツールの導入"

[2015-08-24 19:40] DaikiMaekawa commented on #84
継続的なビルドテスト・単体テストの自動化は非常に有意義である。
GitHubならtravisが最もお手軽だけど、Ubuntu 14.04に対応していないので indigo, jadeのテストが困難。
そこで、Jenkinsを研究室サーバで稼働させることを検討する。

[2015-08-24 19:42] DaikiMaekawa commented on #84
サーバ環境が既にあるのでJenkinsの導入自体は難しくありません。

@Nasupl 一日あれば出来ると思うのですがどう思います?

[2015-08-25 05:03] ShotaroTerato opened #85 "起動時に3DURGが止まってしまうことがある"
3DURGを起動した時に10数秒で3DURGが止まってしまうことがある

[2015-08-25 08:09] ShotaroTerato commented on #79
GAIN_KPを120から180
GAIN_KIを300から450
に変更
動作を確認したところそれなりのトルクが出るようになった

[2015-09-08 05:58] #79 closed

[2015-09-08 06:33] ShotaroTerato commented on #82
複合オドメトリに問題は見受けられなかった

[2015-09-08 08:00] DaikiMaekawa commented on #82
@ShotaroTerato そこが一番可能性がありそうだったけど、どうやって調べたの?

[2015-09-08 08:01] DaikiMaekawa commented on #82
Issueには検証方法とその結果を書いておくと後で見返した時に便利だと思いますよ。

[2015-09-08 08:06] DaikiMaekawa commented on #84
@Nasupl Jenkinsサーバの動作を確認しました。 他の人にも引き継げるようにここのWikiに立ち上げ方を書いといて。

[2015-09-08 12:46] buzzshima commented on #81
透明の板は9/8の段階で開放面の雨対策カバーが2つできるくらいあるのを確認しました

[2015-09-11 15:53] DaikiMaekawa commented on #83
加えて、icart_miniのリポジトリじゃなくて、orne_navigationのリポジトリに配置すること。 waypoints_cfgもこっちに持ってきていいと思いますよ。

[2015-09-13 04:45] Nasupl commented on #78
USBの電流不足の可能性がある（未検証）

[2015-09-13 06:05] ShotaroTerato commented on #82
問題のロボットの進む方向が反転する時のbase_link: pose: pose: position: x,yの値の挙動を監視したところ，ロボットの進む方向が反転しても，x,yの値の増減が反転するということは起こりませんでした．

[2015-09-13 06:45] Nasupl commented on #81
完了したので閉じる

[2015-09-13 06:45] #81 closed

[2015-09-13 07:03] DaikiMaekawa opened #86 "設計データ配布"
設計データ配布用のリポジトリを作成しました。

https://github.com/open-rdc/orne_icart_designs

@iou16 差し当たりアセンブリ後のstlファイルをアップしてください。

GitHubはブラウザ上でstlを可視化する機能を持っています。 詳しくは以下を参照。
https://help.github.com/articles/3d-file-viewer/

[2015-09-13 08:21] DaikiMaekawa commented on #82
@ShotaroTerato  /combined_odomとかいうトピック名だったと思いますがそこのthetaの値も見ておいた方が良いです。

[2015-09-13 15:50] Nasupl commented on #82
私も同じデータを確認しましたが，/combined_odomトピックを見る限りでは姿勢が180度転換するようなデータは流れていないように見えました．gmappingがpublishしてる~entropyトピックを見てみて，これが高くなっていたらやはりgmappingが怪しいのかもしれません．

[2015-09-13 16:00] DaikiMaekawa commented on #82
そうですか。 /combined_odomが問題ないのであればgmappingを調べる必要がありそうですね。
私は直接現象を見ていないので何とも言えませんが以下のケースが近いでしょうか?

http://answers.ros.org/question/12446/turtlebot-slam-map-building-problems/

だとすればこの記述は重要そうですね。

[2015-09-13 16:02] DaikiMaekawa commented on #82
あっ、でもよく読んだらこのQ&AはTurtlebot固有っぽいな。

[2015-09-13 16:05] DaikiMaekawa commented on #82
トラブルシューティングの項目は確認済みですか?

http://wiki.ros.org/navigation/Troubleshooting

[2015-09-13 16:13] DaikiMaekawa commented on #82
姿勢が突然反転したとのことですが、問題発生時のタイムスタンプ付近のtfで変換エラーが発生してないかも見ておく必要があると思います。

[2015-09-15 04:49] Nasupl commented on #85
電源投入時以外発生しないのでとりあえずClose

[2015-09-15 04:51] Nasupl commented on #78
- USB電流計を購入したので電流不足疑惑について検証する
- セルフパワーのハブを買ったので電源回路を作成する

[2015-09-15 04:54] ShunShimamura commented on #80
@Hiroki-Goto 状態管理関係
@Shiina-Shiotani  地図関係
@ShunShimamura 追従関係

[2015-09-15 08:03] DaikiMaekawa commented on #85
GitHubのWikiに運用マニュアルとして載せておいた方が良い情報なのでは?

https://github.com/open-rdc/orne_navigation/wiki/%E9%81%8B%E7%94%A8%E3%83%9E%E3%83%8B%E3%83%A5%E3%82%A2%E3%83%AB

[2015-09-16 02:29] Nasupl commented on #82
@DaikiMaekawa
tfの変換エラーは発生していません．トラブルシューティングに該当項目は確認できませんでした．

gmappingのentropyトピックはfixedな値しか出ていないので，参考になりませんでした・・・．
rqt_consoleでメッセージを見てみると，問題が発生する直前にimuがAngle change too lateのエラーを吐いているので，これが間接的に原因になっているのかもしれません．ただし，１８０度回転する前後数秒で発生しているわけではないので，直接的な原因は不明です．

[2015-09-16 05:02] Nasupl commented on #85
YVT-X002についての[運用ページ](https://github.com/open-rdc/orne_navigation/wiki/YVT-X002%E3%81%AE%E9%81%8B%E7%94%A8)を作成しました

[2015-09-16 08:29] DaikiMaekawa commented on #59
https://github.com/open-rdc/orne_navigation/issues/86 との重複タスクなので閉じます。

@iou16 今となっては、ドキュメントを作成しろ等と面倒なことは言いません。 https://github.com/open-rdc/orne_icart_designs にstlファイルをただ追加してアップしてください。 お願いします。

[2015-09-16 08:29] #59 closed

[2015-09-16 09:05] DaikiMaekawa commented on #60
@Nasupl これは紛失していて復旧できないという話でしたっけ。

[2015-09-19 04:40] iou16 commented on #86
このような質問をして申し訳ありません．
アップするにあたってどのようなファイル名を付けるのが好ましいでしょうか？

[2015-09-19 08:14] DaikiMaekawa commented on #85
フォーラムがあればフィードバックする

[2015-09-19 08:39] buzzshima commented on #80
座標値よりも地図を分割して状態を管理していったほうがいいかも
ただ今回は時間がないため座標値で状態を分割した方がいいかも
今回は地図と状態管理が必要
B3だと期限的厳しいため夏迫さんになげた

[2015-09-19 08:40] DaikiMaekawa opened #87 "地図の座標値を使った状態管理"
https://github.com/open-rdc/orne_navigation/issues/80

[2015-09-19 08:48] buzzshima commented on #80
追従関係
waybpointナビゲーションするのは横断歩道の追従する地点までやる
横断歩道の区域に入ったら，障害物を認識次第それの少し前のところをゴールにしておく

[2015-09-19 09:02] ShotaroTerato commented on #69
こちらのタスクは終了したでしょうか

[2015-09-19 14:37] iou16 commented on #86
@DaikiMaekawa アップロードいたしました．
https://github.com/open-rdc/orne_icart_designs/blob/master/designs/2014/rdc_lab/i-Cart_mini_VerCIT.stl

[2015-09-19 17:33] DaikiMaekawa commented on #86
確認しました。

[2015-09-19 17:33] #86 closed

[2015-09-19 18:32] DaikiMaekawa commented on #82
私にbagファイルを渡して下さい。 解析してみます。

[2015-09-20 12:17] ShotaroTerato commented on #82
@DaikiMaekawa
bagfileを添付したメールをyahooのアドレス宛に送信しました．
ご確認お願いします．

[2015-09-21 06:13] ShotaroTerato commented on #83
icart_miniのリポジトリの方にadd_hokuyo3dブランチを作成しました．

[2015-09-21 08:25] DaikiMaekawa commented on #83
終わったらプルリクエストを投げること。 私がレビューします。

[2015-09-23 05:25] Nasupl commented on #78
平常時で270mA程度消費しているので，バスパワーのUSBハブだと他のポートの電力消費によっては電流不足になって落ちる可能性がある．
セルフパワーのUSBハブにする，もしくは本体USBポートにIMUを接続する等の方法で通信切断は割と解決してきたので，とりあえずこのIssueは閉じる．
また，これまでi-Cart miniのモータドライバボードの電流消費量が多いため，モータドライバボードは本体USBポートに接続すべきとされてきたが，改めて計測及び回路を確かめたところ，モータドライバボードは電源基板から電源の供給を受けているのみで，USBからの電源供給は受けていない．そのため，電源の問題についてのみいえばモータドライバボードを本体USBポートに接続する必要はない（通信の方で問題が発生する可能性はあるがそれはまた別の話）

[2015-09-23 05:25] #78 closed

[2015-09-23 05:25] Nasupl commented on #70
電圧計の取付け完了

[2015-09-23 05:25] #70 closed

[2015-09-23 05:28] Nasupl commented on #69
回路の構成は整った．3DURGに使うZHコネクタのハウジングの在庫が切れてしまったので買いに行って付け替えれば完了．

[2015-09-25 21:36] DaikiMaekawa commented on #82
長らく放置しており申し訳ありません。 今時間が取れそうなのでちょっと解析してみます。

[2015-09-25 22:05] DaikiMaekawa commented on #82
だいたいわかりました。 動画を見やすく編集してから状況をまとめますのでもう少し待っていて下さい。 後、bagファイルがあれば容易に状況を再現することが出来ますが実際の動きと比較することはその場にいた人しか出来ないと思うので、動作時の様子を記録することを忘れないように。

[2015-09-25 23:00] DaikiMaekawa commented on #82
https://www.youtube.com/watch?v=yujwZr9nsaM&feature=youtu.be

/combined_odomは不連続に生成されており、それが地図生成に悪影響を与えているのが見て取れますね。 ロボットを回転させた時に少しズレた地図が生成されるのはこれが原因のようです。 また、姿勢が大きくズレる前にIMUの姿勢データが大きく回転しているのがわかります。 左のrqt_consoleの値は少し遅延しているのですが、IMUの値が波打つように変動しており、それがオドメトリにも反映されています。

[2015-09-25 23:20] DaikiMaekawa opened #88 "Reimplement combine_dr_measurements as EKF"
https://github.com/open-rdc/icart_mini/tree/indigo-devel/combine_dr_measurements

#82 不連続なオドメトリが出力され機体回転時の地図の出力結果に悪影響を与えていることがわかった。 タイムスタンプの取り扱いを厳格化するための各種データの線形補完やデータを時系列的に扱うことを検討する。 データのフィルタリングにはEKFを用いる。

[2015-09-29 09:05] DaikiMaekawa opened #90 "Testing management script on the real robot"
他プロジェクトでこちらのソースを流用することになったので、細かい箇所を微調整しています。 https://github.com/open-rdc/icart_mini/pull/78 の修正ではicart_mini_driver.launchを立ち上げた際に従来使用していたypspur_coordinatorの起動スクリプトも同時に立ち上がるようにしました。 今までの状態だとパッケージとしてスクリプトを管理出来ませんので他の用途に流用する際に色々と面倒でした。

ブランチを変更してから実機でテストをお願いします。

[2015-09-29 09:06] DaikiMaekawa commented on #90
@Nasupl 取り敢えず担当者を夏迫君にしましたが、誰でも良いので実機で実行してみてください。 今日は開発日だと思いますので、出来れば今日中に結果を書き込んでもらえると助かります。

[2015-09-29 09:26] ximomoi commented on #83
@DaikiMaekawa
icart_miniリポジトリのselect_robotブランチでロボットの指定をできるようにしました、プルリクエストを送りましたのでレビューよろしくおねがいします。

[2015-09-29 10:23] Nasupl commented on #90
@DaikiMaekawa
今日はもう帰宅してしまったので明日午後イチで実験します．申し訳ないです．

[2015-09-29 11:53] ximomoi commented on #90
ORNE_betaにてrun-coordinator-processブランチのicart_mini_driver.launchを試しました。

icart_mini_driver.launch
![screenshot from 2015-09-29 20 24 57](https://cloud.githubusercontent.com/assets/7301098/10162940/0ca743c6-66ea-11e5-8a62-6e86e730b397.png)

./icart-mini.sh
![screenshot from 2015-09-29 20 36 50](https://cloud.githubusercontent.com/assets/7301098/10162993/8f9f9148-66ea-11e5-992f-1115336a7944.png)

---

[2015-09-29 11:57] DaikiMaekawa commented on #90
@ximo112  ./icart-mini.shは必要ありません。 この修正でicart_mini_driver.launchを実行した際にセットで起動するようになりました。 一番目のスクリーンショットを見る限り起動には成功しているようですので試しに何かしらの指令を送ってみて実機が無事動いたらOKです。

[2015-09-29 12:37] ximomoi commented on #90
teleop_joy.launchにて正常な動作を確認。

[2015-09-29 15:19] DaikiMaekawa commented on #90
協力に感謝します。

[2015-09-29 15:19] #90 closed

[2015-09-30 13:29] #85 closed

[2015-10-02 05:32] Nasupl commented on #83
- icart_mini_drive.launchにデバイス名が直に書いてある
  - if-unlessルールを利用して，指定したマシンのデバイス名が読み込まれるようにしてください
- icart_mini.paramにもマシンごとの差異が存在する
  - αとβそれぞれのパラメータを作成して，icart-mini.shに引数を与えてマシンを指定するとそれぞれのparamが読み込まれるようにする必要がある

[2015-10-02 08:34] DaikiMaekawa commented on #83
icart_mini.paramもdebリリースするためにパッケージ化しました。 https://github.com/open-rdc/orne_navigation/tree/indigo-devel/orne_setup

マシン毎のパラメータの違いはここを修正してください。

[2015-10-06 11:49] ximomoi commented on #83
add_sensor_selectでロボットごとのデバイス名、
add selection paramでparamの指定をできるようにしました。
add_sensor_selectではα側のデバイス名が分からなかったので中身の同じlaunchファイルが存在しています、with_hokuyo3dファイルは @Nasupl 中身の変更をおねがいします。

[2015-10-15 00:13] DaikiMaekawa commented on #88
オドメトリの推定器が完成。 離散化された各種データは線形補間される。 (回転は球面線形補間)
共分散はparamでチューニングができる。 私自身は実機向けに調整することが出来ないのでフィルタが安定しない場合はここを調整してもらうこととする。
シミュレータ内では従来よりも良い結果が得られているので、これからorne_navigationへの統合作業に移る。

[2015-10-16 11:42] DaikiMaekawa commented on #88
作成したフィルタにより良い推定結果が得られていたが、システムノイズのモデル化も行うrobot_pose_ekfをチューニングしたところ位置に対する精度を更に向上されることができた。 orne_navigationではこちらを使用することとする。

[2015-10-16 11:57] DaikiMaekawa commented on #84
Jenkinsにログインしていろいろと作業していたのですが、かなり動作が不安定です。 突然ログイン出来なくなったり、プラグインのインストール中でエラーを出して停止するなど。

サーバーが手元に無いのであまり詳しい情報も得られず、使い勝手が悪いですね...

[2015-10-16 12:00] DaikiMaekawa commented on #84
そんな中、travis-ciがついに14.04のβサポートを始めました。 Jenkinsは便利なツールですがこちらに移行する方が良いかもしれません。

http://blog.travis-ci.com/2015-10-14-opening-up-ubuntu-trusty-beta/

[2015-10-16 12:08] DaikiMaekawa opened #97 "Why not improve the avoidance performance for dynamic obstacles?"
動的障害物の回避性能を向上させるためパラメータのチューニングもしくは新たなパッケージを開発する。

[2015-10-16 12:09] DaikiMaekawa commented on #97
同時に障害物への衝突後のリカバリー動作を見直す。

[2015-10-16 17:10] DaikiMaekawa commented on #83
https://github.com/open-rdc/orne_navigation/pull/94 にて対応した。 10/17日の試走会で動作確認をしてもらう。

[2015-10-17 07:43] DaikiMaekawa opened #100 "Different source codes of URG3D between real and sim"
URG3Dを立ち上げるためのコードは実機だけで運用されているものがあり、GitHubと同期が取れていない。

[2015-10-17 07:44] DaikiMaekawa commented on #100
@Nasupl orne_bringupに関連コードを入れていただけると助かります。

[2015-10-17 08:01] DaikiMaekawa commented on #69
@Nasupl 多分これは終わってるよね。 閉じても良いですか?

[2015-10-17 08:02] DaikiMaekawa commented on #87
簡易的ではあるがつくばチャレンジで使用可能なものが実装できたためこのタスクを完了とします。
https://github.com/open-rdc/orne_navigation/tree/indigo-devel/orne_stoppoint_manager

[2015-10-17 08:02] #87 closed

[2015-10-17 12:21] DaikiMaekawa commented on #97
徐々に減速するというわけではありませんが、障害物回避時に速度が抑制されていることを実機で確認出来たようです。

[2015-10-17 12:23] DaikiMaekawa commented on #88
実機検証完了。 特に問題は無し。 今後の試走で問題は発生した場合は問題毎のIssueを立てて管理することとする。

[2015-10-17 12:23] #88 closed

[2015-10-17 12:39] DaikiMaekawa commented on #82
修正完了。

[2015-10-17 12:39] #82 closed

[2015-10-17 12:39] DaikiMaekawa commented on #83
masterにマージした。

[2015-10-17 12:39] #83 closed

[2015-10-18 07:37] DaikiMaekawa opened #104 "Erroneous detection problem at the intersection"
交差点に存在する勾配で障害物を誤検出し自律走行を継続できない問題が発生している。 バグファイルを解析し、対策を考える。

[2015-10-18 23:14] DaikiMaekawa commented on #84
[icart_mini](https://github.com/open-rdc/icart_mini)の方でTravisをサポートしました。 orne_navigationはTravis導入前にimuパッケージのimuノード... (ADISのROSドライバ)の扱いを何とかしなければ

[2015-10-19 08:19] DaikiMaekawa commented on #104
以前３次元の姿勢データをmove_base側に反映させる修正をした記憶がありましたので簡単なテストをしてみました。 姿勢が傾いている状態では地図との整合性を保つように障害物の登録が抑制されます。

https://github.com/open-rdc/adis_imu_drivers/pull/19 の修正をマージすれば実機でも同様の効果が期待出来ます。 以前は通信の問題があったので使用するデータをヨー軸だけに制限していました

![test](https://cloud.githubusercontent.com/assets/3862239/10572621/0696b00c-7685-11e5-8b27-6242c54f1612.png)

[2015-10-19 08:26] DaikiMaekawa commented on #104
@open-rdc/project-orne 実は校内でも勾配がキツくて同様の現象を再現出来る箇所があります。 新２号館を出ていつもロボットをスタートさせる地点から６号館(?)までの経路だったと思います。 他にも探せばいろいろあると思いますので急勾配を登らせたり、それを含むコースの地図を作成して全体を通して自律移動のチェックをしたりと本件に関しては念入りに実機検証してください。

[2015-10-19 08:29] DaikiMaekawa commented on #104
何か問題があった場合は直ぐに報告することを心がけてください。 そろそろ時期的に考えても、対応が少し遅れただけで致命傷になりかねませんので。

[2015-10-19 16:47] Nasupl commented on #69
OKです．閉じます．

[2015-10-19 16:47] #69 closed

[2015-10-19 16:49] Nasupl commented on #80
#87 は完了
横断歩道関連では #104 が進行中

[2015-10-20 23:31] DaikiMaekawa opened #111 "The behavior regarding the waypoints has not met the expected level."
試験走行時の動画を拝見しましたが、ウェイポイントの切り替え時の挙動があまり好ましくありませんでした。
ウェイポイントの切り替え判定に使用する距離の閾値が厳しすぎるため発生していると思いますので、パラメータの調整をすることをおすすめします。

[2015-10-20 23:33] DaikiMaekawa commented on #104
@Nasupl こちらの件、報告お願いします。

[2015-10-20 23:36] DaikiMaekawa commented on #100
https://github.com/open-rdc/orne_navigation/pull/103 にて対応。 実機運用時にはhokuyo3d.launchを起動しなければならない点に注意すること。

[2015-10-20 23:36] #100 closed

[2015-10-20 23:41] DaikiMaekawa commented on #84
https://github.com/open-rdc/adis_imu_drivers ADISのリポジトリにもTravisを導入しました。 プルリクエスト毎に自動でテストが実行されることを確認。 テストが失敗した場合はGitHub側がそれを認識し、プルリクエストはmasterにマージできなくなります。

[2015-10-21 00:01] DaikiMaekawa opened #112 "imu topic isn't connected to the node that calculating odometry"
EKFノードが購読しているIMUメッセージのトピック名は/icart_mini/imuなのに対して、imuノードが出力しているトピック名をリマップせずに使用しているためトピック名はimuとなり接続されていない。

[2015-10-22 13:15] Nasupl commented on #104
@DaikiMaekawa
短距離なら問題ないものの、長距離走行するとIMUの蓄積誤差のためか姿勢がめちゃくちゃになってコストも正常に付与されなくなります
http://www.hayashibara-lab.it-chiba.ac.jp/member/bags/

[2015-10-22 13:24] DaikiMaekawa commented on #104
@Nasupl どうやらそれは既知のバグです。 IMUの周期を計算するところのバグにより、蓄積誤差が貯まるようです。
https://github.com/citbrains/electronics/pull/13

IMU_robocupが修正版のようですので試して下さい。

[2015-10-22 13:30] DaikiMaekawa commented on #104
@Nasupl あと、もう一つ大きな問題としてはこちらですね。 https://github.com/open-rdc/cit_adis_imu/issues/26

幸い修正は簡単そうです。

[2015-10-22 18:57] Nasupl commented on #104
@DaikiMaekawa
IMU_robocupの最新のIMUのコードについてですが，周期の変更に伴って正常に角度が出力されません．IMUの内部での積分周りのパラメタの問題かとは思うので調整してみていますが，いまいちうまく行きません．
@yasuohayashibara
Robocupの方ではIMUから出力される角度情報は使用していないようですが，この件について何かご存知でしたらご教示ください．

[2015-10-22 19:38] yasuohayashibara commented on #104
ロボカップでは角速度データをベースに制御していたので，IMUから出力されている角度データに関してはあまり検討されていません．ロボカップ内ではこれに関してはほぼ未検証です．

[2015-10-22 20:12] DaikiMaekawa commented on #104
@Nasupl @yasuohayashibara 相変わらずこのインタフェースボードには手を焼かされますね。 内部の角度データが信用出来ないのであればロボカップと同様に角速度データをPC側で積分して使用しますか?

以前切り替えた際に使い物にならなかった主な理由としては通信エラーとIMU側の周期の問題だと思いますので今ならもう少しマシな結果が得られるのではないでしょうか。

[2015-10-23 05:28] Nasupl opened #113 "AMCLのパラメータ調整"
* チューニング前にランドマークが開けた場所でロボットを走行させてパーティクルの広がりを監視したほうがいい
* 障害物や自己位置のズレてパーティクルの広がりがあまりに早い場合はオドメトリの信頼度を上げる

[2015-10-23 05:45] Nasupl opened #114 "リカバリ動作の検証"

[2015-10-23 12:32] DaikiMaekawa commented on #104
去年と同じ時期に、同じくIMUの問題に悩まされるというのは面白いですね。 https://github.com/open-rdc/orne_navigation/issues/41

過去ログから前回の議論を参照しましたが、データ量が増えると取りこぼし頻度が上がるようですので角速度情報を吐き出すようにインタフェース基板側のコードを修正するのであれば角度は切ったほうが良さそうです。  念の為報告しておきます。

[2015-10-23 12:37] DaikiMaekawa commented on #104
https://github.com/citbrains/electronics/pull/9 こちらの修正はrobocup_IMUにあるソースコードには含まれていないと推測します。 必要な場合は適宜つくばチャレンジ側で使用していたソースコードをマージして使用してください。

[2015-10-23 13:32] iou16 commented on #113
@DaikiMaekawa オドメトリ信頼度を上げるということですが、これはサンプリングステップの誤差パラメータ(具体的にはamclのodom_alpha1, odom_alpha2, odom_alpha3, odom_alpha4)を低く設定することでパーティクルの広がりを抑えるようにするという形でよろしいでしょうか？

[2015-10-23 13:53] iou16 commented on #111
waypointの通過判定をする距離(dist_err)を0.5から0.8に変更したところ，waypoint通過時に機体を左右に振るような動作がなくなり非常にスムーズに走行することを実機で確認．

[2015-10-25 19:28] DaikiMaekawa commented on #113
はい、差し当たりはその方法でノイズの期待値を下げて試してみてください。 こういったパラメータの調整は結構泥臭い作業なので動作中やバグファイルで挙動を何度も確認し、必要に応じて他の該当パラメータもいじる必要が出てくるかもしれません。 とにかく検証実験は数をこなすしかありません。

[2015-10-25 20:26] DaikiMaekawa commented on #114
何をどのように検証するのか書いておくことをおすすめします。 @ximo112

[2015-10-26 06:37] iou16 commented on #111
現在、i cart-minのリポジトリに対するプッシュ権限がないと思われるので，i cart-miniリポジトリのwaypoints_nav.cppにも変更を反映していただけると幸いです．

[2015-10-26 07:29] DaikiMaekawa commented on #111
基本的にフォークする手間が増えるだけでプルリクを送ることは出来ます。 私がやっても良いですが、練習も兼ねて修正は @iou16 の方でやってもらってもよろしいですか?

[2015-10-26 07:58] iou16 commented on #111
@DaikiMaekawa 了解しました

[2015-10-26 18:23] DaikiMaekawa commented on #111
masterにマージしました。

[2015-10-26 18:23] #111 closed

[2015-10-27 12:50] iou16 commented on #113
パラメータ調整の現状を報告いたします．
- 今回は，公園内においてスタート地点(テント地帯から見て右・トイレ付近)の直線からスタートし，そのまま開けた場所(公園の道路側・地図に記録されるような障害物なし)に突入した場合に発生したパーティクルの発散を学内の環境で擬似的に再現し検証しました．
- odom_alpha4(回転方向の誤差を基準に回転方向の分散を決めるパラメータ)を低くする(信頼度を上げる)と，パーティクルの分散が抑えられる印象があります．ですが，誤差が蓄積すると復帰に若干の時間がかかる印象があります．
- odom_alpha3(並進方向の誤差を基準に並進方向の分散を決めるパラメータ)を低くする(信頼度を上げる)と，あまりいい結果が得られません．もともとオドメトリの誤差が大きいため真の姿勢に対するパーティクルのの喪失が発生するため，誤差は多めに見積もって置くことが必要だと思われま

[2015-10-27 17:27] DaikiMaekawa commented on #113
@iou16 実際に様子を見ていないので正確なアドバイスは出来ませんが、

推定誤差が蓄積していくということはそのパラメータはそれ以上下げるべきではないと思います。 実は誤差を大きめに見積もる分には通常大きな問題を引き起こすことはありませんが、誤差を過小評価することは推定結果に大きな悪影響を与えます。 なので、大きめの誤差から徐々に下げていき値を調整するのがコツです。 それに付け加えると、パラメータのチューニングの際には入力データをbagファイルに記録しフィルタに繰り返し流し込みながらRVizでパーティクルの変化を見極めるのが効率的です。 (既に行っていると思いますが念の為)

動画とbagファイルが欲しいですね。 オドメトリの計算部分を今年変更しましたので、どの要素がシステムに影響を及ぼしているのか見極めたいです。

odom_alpha1に並進方向の偏差は関係ないように見えますが。
o

[2015-10-29 05:34] ximomoi commented on #114
2号館3階でnav_static_map.launchを実行し、経路を遮るようにしてロボットを囲みrecoveryを動作させました

*bagfile
http://www.hayashibara-lab.it-chiba.ac.jp/member/bags/orne_recovery_verification.bag

*動画
https://youtu.be/TDekGy7BvFs

[2015-10-29 07:34] DaikiMaekawa commented on #114
@ximo112 動画を確認しました。 waypoints_navは一定時間毎にゴールポジションをmove_baseに送るようにしていますので、そちらで試していただいてもよろしいですか? 去年はこの修正を入れることでリカバリ失敗後も動き続けるようにしてしました。

[2015-10-29 12:43] iou16 commented on #113
@DaikiMaekawa アドバイスありがとうございます、参考にさせていただきました．
- 調整した結果は，odom_alpha1=0.2，odom_alpha2=0.2, odom_alpha3=0.8, odom_alpha4=0.1となりました．調整した印象としては誤差をこれ以上過小評価するとAMCLによって推定される姿勢がが真の姿勢に復帰するのに時間がかかるような印象があります．なので，これ以上サンプリングの誤差パラメータを低くするのは，あまりいい結果が得られないのではないかと考えます．パーティクルのばらつき具合ですが，既存のパラメータよりはパーティクルが円弧状に大きく広がりにくくなっています．
-  前後方向の誤差が発生してる状況で旋回するとパーティクルの収束が遅延する件についてですが，何度か試したのですが，前回報告したような現象を再現することができませんでした．私の勘違いだっ

[2015-10-29 15:11] ximomoi commented on #114
waypoints_navの動作になります

*bagfile
http://www.hayashibara-lab.it-chiba.ac.jp/member/bags/orne_recovery_verification_(waypoints_nav).bag
*動画
https://youtu.be/4a6RyapT3hs

[2015-10-29 16:45] DaikiMaekawa commented on #114
問題無さそうですね。 @ximo112 何か気付いた点などありますか?

[2015-10-29 17:00] ximomoi commented on #114
waypoints_nav時の動作は特に問題は感じませんでした。
少し気になる点として、突然前方に障害物が現れた際に少しバックすることがあったのですが、これはローカルコストマップ上でコストの沼に入った時、後方にコストが無いと判断された場合に起こる動作なのでしょうか？

[2015-10-30 00:01] DaikiMaekawa commented on #114
後方移動の優先度は低いですが、0には設定していないので前方の候補が全て無くなった場合にバックする挙動は発生します。

[2015-10-30 00:03] DaikiMaekawa commented on #114
waypoints_navに以前実装したmove_baseの失敗検出処理がうまく働くことにより、自律移動は継続可能であることがわかったため閉じます。

[2015-10-30 00:03] #114 closed

[2015-10-30 19:56] DaikiMaekawa commented on #113
こちらでいろいろと回答しました。　[![Gitter](https://badges.gitter.im/Join%20Chat.svg)](https://gitter.im/open-rdc/orne_navigation?utm_source=badge&utm_medium=badge&utm_campaign=pr-badge)　

[2015-11-01 19:32] DaikiMaekawa commented on #113
https://github.com/open-rdc/orne_navigation/pull/118 にてmasterにマージされたためこちらのIssueは閉じます。

[2015-11-02 13:25] DaikiMaekawa commented on #112
https://github.com/open-rdc/icart_mini/pull/98 icart_mini_driver側でトピック名をリマップして対処した。

[2015-11-02 13:25] #112 closed

[2015-11-03 08:33] DaikiMaekawa commented on #104
@Nasupl こちらのタスクは完了したと考えてよろしいですか?

[2015-11-03 12:51] Nasupl commented on #104
@DaikiMaekawa
歩道から横断歩道へ下る際の問題は解決しましたが、横断歩道から歩道へ登る際は、横断歩道の下り勾配がそれほど大きくないため、歩道が障害物としてコストに登録され、歩道に登ることはできませんでした。

[2015-11-03 12:52] Nasupl opened #125 "orne_bringupが立ち上がらない"
最新で以下のエラーが発生してORNE βのorne_bringupが立ち上がりません
[code]

[2015-11-03 12:54] DaikiMaekawa commented on #125
icart_miniリポジトリとorne_navigationの両方を最新版にしていますか?

[2015-11-03 12:56] Nasupl opened #126 "スタート/リスタート時にコストを消したい"
/syscommandで"start"や"restart"を送った時点でコストをクリアしてスムーズにスタートするようにしたほうが良い気がする

[2015-11-03 12:57] DaikiMaekawa commented on #104
@Nasupl 写真または動画をよろしくお願いします。 対策方法を早急に考え出します。
最悪の場合、URGの取り付け高さ変更、地図・ウェイポイント共に作り直しの可能性もあります。 リプライを急いでください。 :cry:

[2015-11-03 12:58] DaikiMaekawa commented on #126
@Nasupl 運用でカバーできませんか? どのような問題が起きているのか報告していただけると助かります。

[2015-11-03 13:00] Nasupl commented on #104
@DaikiMaekawa
状況としては先日Youtubeにアップした動画と全く同じ状態でした。今回の動画は残念ながらありません。
bagファイルはとりました http://www.hayashibara-lab.it-chiba.ac.jp/member/bags/2015-11-03-22-05-02.bag

[2015-11-03 13:01] DaikiMaekawa commented on #125
このエラーはicart_miniのバージョンが一つ低いことによるものだと推測されます。

[2015-11-03 13:01] Nasupl commented on #126
特にスタート時に、前のチームが直前に出走している場合、その前にplay_waypoints_navなどを立ち上げているとスタート地点がコストまみれでリカバリ動作をしてからスタートすることになり、動作が不安定になります。
スタートまでの時間が決められている以上、あまりスタート地点に長居したくないので、スタート地点についてからplay_waypoints_navを立ち上げたくはありません。
リスタート時においても同様です。看板が目の前に置かれるため、スタート時に経路上にコストが発生して大きく迂回して横断歩道に進行する形となり、あまりよくないです。

[2015-11-03 13:03] DaikiMaekawa commented on #126
なるほど。 去年はあまり気にしていなかった問題ですね。 それについては対処しておきます。

[2015-11-03 13:16] Nasupl commented on #125
@DaikiMaekawa
立ち上がりました。すいません。

[2015-11-03 13:16] #125 closed

[2015-11-03 13:29] DaikiMaekawa commented on #104
最悪のケースに備えて、URGをどの高さまで上げれば障害物として登録されずに走破できるのかデータを取っておくべきかもしれませんね。 これは時間との兼ね合いになってくると思いますが。

[2015-11-03 14:06] Nasupl opened #127 "使用している車検シートが古いので更新する"
公式サイトに上がっているらしい

[2015-11-03 14:14] Nasupl commented on #104
ORNEの設計データと路面データ( http://www.tsukubachallenge.jp/news2015/2015/04/24/3907 )からある程度は検討ができるかもしれません

[2015-11-03 16:27] DaikiMaekawa commented on #104
その路面データは有意義ですね。 私は設計データが手元にありませんので見積に関してはそちらにお任せしてもよろしいですか?

[2015-11-04 07:08] iou16 opened #128 "waypoint間の経路が左側に偏り，歩道から出てしまう"
各waypoint間を最短で(直線的に)走行せず，左側に膨らんだような曲線の経路が生成される．その結果，歩道から公園の芝生側へ縁石を乗り越えてしまう．現状縁石を乗り越えて芝生の上を走行しても，その後waypointに向かっていく過程でコースに復帰するが，オドメトリの誤差等が蓄積する危険があるため，このような経路が生成されるのを避けたい．
実際のbagファイル：http://www.hayashibara-lab.it-chiba.ac.jp/member/bags/2015-11-04-15-21-59.bag

[2015-11-04 07:24] ShotaroTerato commented on #127
ここからダウンロードできました
https://www.google.co.jp/url?sa=t&rct=j&q=&esrc=s&source=web&cd=2&ved=0CB4QFjABahUKEwiRm6ypnfbIAhUDHZQKHSQXDp8&url=http%3A%2F%2Fwww.tsukubachallenge.jp%2Fwordpress%2Fwp-content%2Fuploads%2F2015%2F09%2F04-safetycheck.xlsx&usg=AFQjCNFWWqonIgnu7vd5QHQxAL6ibV4MzA&sig2=mob2nrsxoMWvdO2WWIKh6g&bvm=bv.106379543,d.dGo&cad=rja

[2015-11-04 07:34] #127 closed

[2015-11-04 07:36] Nasupl commented on #104
マッチングとは別に，コスト付加用のURGを新たに取り付けるのはどうでしょうか

[2015-11-04 08:36] DaikiMaekawa commented on #104
URGの余裕があるのであればそれでも構いませんが。

[2015-11-04 08:38] DaikiMaekawa commented on #104
差し当たり、Costmap2Dのmin_obstacle_heightパラメータを変更してみるのはどうでしょうか。 現在、地面と同じ高さ0.0に設定されていますが障害物に合わせて変更してみるのもありです。

[2015-11-04 08:40] DaikiMaekawa commented on #104
後はUSBポートの余りがあるかどうかも関係しますね。 パラメータを調整してみてダメだったらURG追加も検討しましょう。

パラメータに関しては以下を参照してください。
http://wiki.ros.org/costmap_2d/hydro/obstacles

[2015-11-04 08:57] DaikiMaekawa commented on #128
bagファイルを見てみました。 一応問題発生時はその内容 + bagファイルでの時間を教えてください。 データから推測は出来ますが実物を見ているわけではないので問題発生箇所を誤解してしまうと見当違いのアドバイスをしてしまう可能性があります。

[2015-11-04 08:59] DaikiMaekawa commented on #128
指令値通りに機体が追従できず偏った経路を生成し続けることがあります。 (去年もありました)
問題が発生している場所の路面はどうなっていますか? トルクのパラメータを変更することで解決することもあります。

[2015-11-04 09:01] DaikiMaekawa commented on #128
あと昨日のbagファイルにも同様の現象が見られているのですが、ロボットの位置とは随分離れた位置にオドメトリが生成されているのが気になります。

![screenshot from 2015-11-04 17 53 01](https://cloud.githubusercontent.com/assets/3862239/10933713/e8037102-831d-11e5-8e48-3f45393dfe70.png)

[2015-11-04 09:12] Nasupl commented on #104
βに関して言えば，研究室に1台Ether-URGが余っていますし，取付け部品も全て揃っています．αに関して言えば，3D URGから出てくるポイントクラウドをある平面だけ取り出してコストマップに渡してあげれば解決できます．
min_obstacle_heightの調整で何とかなる気もしますが，横断歩道から歩道への乗り上げについては学内で検証できないため，現地での調整になります．
現地での調整でうまく行かない場合に備えて，URGの増加も並行して実施します．

[2015-11-04 09:16] DaikiMaekawa commented on #104
@Nasupl よろしくお願いします。 因みに路面データもあり現地でどの程度の角度かも確認しているとは思いますが学内で再現出来ないのはどういった理由からでしょうか? 模擬した環境物を簡易的でもいいので作成し検証することは可能ですか? 幸いそれぐらいの人手は確保出来そうに見えますが。

[2015-11-04 09:19] DaikiMaekawa commented on #104
学内では開発ではURGの追加を実施する前にパラメータの調整を行って下さい。 結果が乏しくない、やり方がわからない場合は質問していただければ出来るだけ早めに回答します。

[2015-11-04 09:21] Nasupl commented on #104
@DaikiMaekawa
模擬的にあの段差を再現するには，資材の購入，組み立て，用意に1日かかると思います．明後日にはまた現地での実験が始まるので，厳しいのではないでしょうか．

[2015-11-04 09:28] DaikiMaekawa commented on #104
ロボットの姿勢変化に対して同じ効能が得られれば良いのです。 以下私の案です。
1. ロボットに直進するだけの経路を生成させ、追従させる。 (nav_static_mapでよい)
2. 段差昇降時に機体が傾く分だけ手で機体を傾ける。 (事前に作ったガイドを使用する)
3. Costmap2Dの挙動を監視し、パラメータを修正する。
4. 1に戻る

[2015-11-04 09:30] iou16 commented on #128
bagファイル開始から90秒付近でwaypoint間(Namespaces:waypoint3→waypoint4)のpathを確認して頂けると解ると思いますが，左に膨らんだpathが生成されています．(今回アップロードしたbagファイルでは，他のwaypoint間でもこのような経路が生成されている傾向があると思います)．このような経路が生成されると，歩道と公園の境目の縁石(高さ的に地図では見えませんが)に乗り上げる危険性がありこのことを問題として捉えています．

[2015-11-04 09:33] iou16 commented on #128
路面については少し下り坂になっていますが，路面に土砂や落ち葉，どんぐり等が山積している訳ではありません．

[2015-11-04 09:35] DaikiMaekawa commented on #104
当然プランニングに衝撃等は使用していないため検証したいのは、あくまでも直進したい時に何度までピッチ方向の傾きに対応できるかどうかということに問題を分解出来ると考えました。

機体を何度まで傾けるのかという指標を人間にわかりやすくするため簡易的なガイドだけ作成し、傾けるのは人手で行えば良いのではないでしょうか。 ガイドは棒でも何でも良いです。 もちろんこの方法では論文などで使用できる程の再現性はどうやっても得られないと思いますが、今関心がある事柄はそこではないと思います。

[2015-11-04 09:55] iou16 commented on #128
ナビゲーション開始時にオドメトリとた正しい位置にずれがあるのは，恐らくナビゲーション開始前にロボットを持ち上げて移動したからだと思います．走行中に横方向にスライドするような走行軌跡が発生しているのは，縁石に乗り上げていたのだと思います．

[2015-11-04 09:57] DaikiMaekawa commented on #128
なるほど、シミュレータでは見られない挙動なので少し気になっていました。 念の為次回は手で持ち運ばずにそのままスタートさせてみてオドメトリがどのように出力されるか見てみて下さい。 トピックを見る限りはおかしな値が出力されているわけではないので問題ないと思いますが。

[2015-11-04 11:17] DaikiMaekawa commented on #128
さて本題に入りますが、左に膨らんだパスが生成された時刻は具体的には100sec以降くらいですかね。
![screenshot from 2015-11-04 19 55 10](https://cloud.githubusercontent.com/assets/3862239/10936175/61f901c4-832e-11e5-8c53-2a6699f4039f.png)

パーティクルの広がりすぎたケースを疑いましたがどうやら違うようです。 パスは自分の現在の位置から目標値までまっすぐ引かれていますが、機体が左側に逸れる度に修正されているためグローバルプランナーの問題では無いと思います。 確かにホイールオドメトリの結果を可視化するとウェイポイント間で円弧を描いているように見えます。 そしてローカルプランナーからは機体の傾きを修正するための制御指令値が出力されています。

左側に逸れ

[2015-11-04 11:31] DaikiMaekawa commented on #128
左側にズレる問題が発生しているのはグローバルパスの計画時なのか、それとも追従に失敗しているのかを明確にする必要がありますが、実物の挙動を見れないので何とも言えないですね。 bagファイル上ではプランナーに問題があるようには見えませんでした。 しかし、どのタイミングで縁石に乗り上げているのか等はこちらでは正確な判断が出来ません。

[2015-11-04 12:11] DaikiMaekawa commented on #128
@iou16 問題の発生した機体で単純に直進の指令をトピックで与えてみて直進性が確保されているかどうか確認をお願いします。 (navigationは起動しないでください)

[2015-11-04 14:17] Nasupl commented on #104
ガイド等は設けず，パラメタを変更して簡易的に実験しました．
min_obstacle_heightを0.2にすれば，先日の21°の勾配（高さ18cm）の前で10°程度傾けてもコストは付加されませんでした．これは，角度等を厳密に検証していないので，つくばと完全に同条件という訳ではありませんが，ほとんど同条件となっていると思います．

[2015-11-04 14:25] iou16 commented on #128
@DaikiMaekawa 単純に並進方向のcmd_velをトピックとして与えた場合でも少しずつ左に旋回するのを確認しました．
一つの素朴な質問なのですが，move_base/NavfnROS/planというトピックはどのようなトピックなのでしょうか？

[2015-11-04 15:03] iou16 commented on #128
![screenshot from 2015-11-04 23 58 51](https://cloud.githubusercontent.com/assets/7301090/10941847/95108ab0-8350-11e5-8dfc-f58b6273fc60.png)
![screenshot from 2015-11-05 00 01 49](https://cloud.githubusercontent.com/assets/7301090/10941852/989d4b64-8350-11e5-8424-beaf44337cdf.png)

[2015-11-04 17:47] DaikiMaekawa commented on #128
navfnによって計算された最新のパスはnav_msgs/Pathというメッセージ型のトピックでパブリッシュされます。 主に可視化目的です。

[2015-11-04 19:40] DaikiMaekawa commented on #104
逆に元のパラメータではコストが負荷されるということも同条件で確認をお願いします。 また、安全のためパラメータは実際よりは少し大きめに設定しておいてください。 検証方法とパラメータの最適化に関してはお任せします。

[2015-11-04 23:44] DaikiMaekawa commented on #128
まずは問題の発生した機体でypspurに関するパラメータが適切に設定されているかを再確認する。 (トルクの設定等)

アルファ、ベータ間でパラメータの差異が存在しローカルで管理していると以前聞きました。 そのパラメータに関して私は把握していないので何とも言えませんが、問題の起きていない機体からファイルを取ってきて動作確認等もしてみたほうが良い。 それら全ての確認が終了し、ハードウェアトラブルでもないとすると今までにない新しい問題ということになります。 そうなった場合、パラメータ調整等で改善するかどうかの検討はそちらにお任せします。

[2015-11-05 05:39] ximomoi commented on #104
新しくwaypointを追加するという手を使えば、新しいwaypointまでのpathは通り、また、新しいwaypointの地点からであれば前方のcostは無くなり現在のwaypointまでのpathも通ると思います。
![cm151105-142915001](https://cloud.githubusercontent.com/assets/7301098/10960778/510aabaa-83ca-11e5-9f49-0b184d9af12b.jpg)

[2015-11-05 06:01] ximomoi commented on #104
この方法であると、新しく追加するwaypointがcostに近いため、どの程度costに近い状態でwaypointの最短pathが通るか確認したほうが良いと思います。costの沼の中にwaypointを置いてみるなど...

[2015-11-05 06:13] Nasupl commented on #128
@DaikiMaekawa
YPSpurのパラメータは現在alpha, betaともに同じです。
機体の直進性が確保されておらず、若干左に旋回しながら走行するのは、YPSpurのパラメータを現在のパラメータに変更する以前から発生していた問題でしたが、ローカルなパスプランで修正されるため、大きな問題とされてこなかったのだと思います。

https://github.com/open-rdc/orne_navigation/issues/128#issuecomment-153754892 で示されている、グローバルパスプランが左に弧を描く問題は、機体の直進性の問題とは別なように思えるのですが、そうではないのでしょうか。

[2015-11-05 06:19] Nasupl commented on #104
パラメータの最適化についてですが、URGの取り付け高さが地上から0.2mに設定されているため、min_obstacle_heightを0.2mより高く設定すると、平面を走行している際にも障害物に対してコストが付加されない現象が起こりました。
今回の実験では、対象とする段差の高さが0.2mだったため、0.2m前後が最適でしたが、現地の段差は、最大の高低差は0.2m近くあるものの、コストに影響を与える高低差は0.15m程度であるため、これを最適なmin_obstacle_heightとして設定することとしました。

[2015-11-05 06:24] Nasupl commented on #104
また、 https://github.com/open-rdc/orne_navigation/issues/104#issuecomment-153962416 のWaypointの追加について追記すると、現在のWaypointは道路側と歩道を登りきった側のみに設置されており、その間で段差を検出してコストの壁ができるために、ローカルなパスを生成できずに停止してしまっている状態であると考えられます。それに対して、コストの壁の手前かつ段差を登った直後にWaypointを置けば、横断歩道から新たなWaypointまでの間は問題なく経路の生成が行われ、かつそのWaypointを通過する段階ではコストの壁が消えた状態になるため、問題なく横断歩道を通過できるというものです。

[2015-11-05 09:10] DaikiMaekawa commented on #128
@Nasupl 一応私がYPSpur関係のパラメータを調整した際は完全にNavigationとは切り離していましたので、指定の速度で直進性が確保されるかどうかはローカルプランナによる補正抜きで十分確保されていたと記憶しています。 ただし、それは指定する速度に依存していましたので、linear.xにいくつを指定した時にどの程度旋回してしまうのかという情報が重要かもしれません。 私が調整した時点では0.5m/sで直進させた場合、円弧を描く挙動を示すことは無くなりました。

その画像には説明がなかったため直前のコメントにあるmove_base/NavfnROS/planの質問に関する補足だと理解していました。 確かに円弧を描いていますが、コースアウトする危険性がある程には見えません。 (少なくともbagファイル上は)
ログを見るとそのパスを追従出来ず左側に機体が逸れていき、それを修正するためのパ

[2015-11-05 09:12] DaikiMaekawa commented on #128
ただし、縁石が画像に示されているプランニング後のパスの上に存在しロボットがそのパスを正確に追従しているにも関わらず縁石に乗り上げたことによって横方向にスライドするような挙動を示しているという話であれば私の指摘は的外れということになります。 これに関してはbagファイルからの情報だけでは判断しかねます。

[2015-11-05 09:23] DaikiMaekawa commented on #128
グローバルプランナーは単純に点の間を直線で結ぶ最短経路を生成するわけではありません。 探索空間にはロボットの姿勢も含まれており、パスの生成に影響します。 waypoints_navノードはウェイポイントへ移動するためにmove_base側へ要求している姿勢は必ず(0, 0, 0, 1)となっているためそれが影響している可能性があります。 我々が使用しているウェイポイントの定義はx, yのみですが姿勢も含めたものに拡張した方が良いかもしれないと今思いました。 しかし、大会も近いのでウェイポイントの設定にこれ以上労力を割きたくはないですので、手軽にやるならその間に更にウェイポイントを追加するとかが妥当な線ですね。

[2015-11-05 09:25] DaikiMaekawa commented on #128
そもそも機体が低速時でも直進しないという場合はそちらの解決を優先した方が良いとも思いますが。

[2015-11-05 09:28] DaikiMaekawa commented on #104
:+1: いいと思います。 min_obstacle_heightは更なる保険として有効ですのでこちらもプルリクエストしていただけると助かります。

[2015-11-05 10:39] Nasupl commented on #128
@DaikiMaekawa
機体の直進性については，0.8m/sでしか検証していませんでしたので，現在 @iou16 が低速の場合について検証中です．
Waypointの数を増やす件については， @yasuohayashibara 先生からもご指摘をいただきましたので，実施します．

[2015-11-05 12:04] iou16 commented on #128
@DaikiMaekawa
機体の直進性を0.5m/sで検証しました
検証の条件は
- 2号館3階の廊下で検証
- 床のタイルの等を基準に位置合わせ
- キャスターの向きも確認
- rostopic pub /icart_mini/cmd_vel geometry_msgs/Twist -- '[0.5, 0.0, 0.0]' '[0.0, 0.0, 0.0]'

検証した結果，6m程度走らせてみましたが，安定して直進しています(6m走らせても横方向の誤差は1cm以内かと)．

[2015-11-05 12:32] DaikiMaekawa commented on #128
推測ですが、バッテリーの残量等で機体側の挙動が変わったりしませんかね。 左側に軌道が逸れる原因はYPSpur側とwaypoints_navigationノードによるものでそれぞれ独立した原因があると考えています。
状況を整理すると、
1. ウェイポイント到着後に次の目標へとプランニングした際に発生する僅かに円弧を描くパス
   - ウェイポイントに姿勢を定義していないことが影響しているのではないか
2. その後も経路を追従できず左側に機体が逸れ続け、パスプランナはそれを修正しようとする
   - 以前発生していた機体の直進性が関係しているのではないか

そういえば、これについて回答してもらってもいいですか?

[2015-11-05 12:39] DaikiMaekawa commented on #128
@iou16 の検証により試験走行時に見られたような0.4m/s以上で直進させた際に左側に逸れる挙動が再現されない。 しかし、依然として問題２が解決されていないため、Issue冒頭にあるように

"左側に膨らんだような曲線の経路が生成される．" (問題1)
コースアウト = 問題１のみとする考え方は出来ない。 つまり従来のYPSpur側の問題とは関係しない原因が存在するかもしれない。 大会へ向けてはウェイポイントの追加で凌げる可能性も高いが、システム上重大な問題が未解決状態になっていることは記憶に留めておく必要がある。

[2015-11-05 14:20] iou16 commented on #128
ジョイスティックでβを運用した際の個人的な印象ですが，バッテリーを消耗した状況では直進性が低下する印象があります．因みに，今回私が検証に使用したバッテリーは充電済みのものです．

今回のbagファイルを記録した際の動画が存在しないため，はっきりとしたことが確認できないというのが正直なところです．申し訳ありません．私の記憶では，今回アップロードした画像はwaypoint3→wayopint4とwaypoint4→waypoint5の画像だったと思います．この走行の際，縁石に乗り上げ復帰したのは，waypoint2→waypoint3だったと記憶しております．なので，今回アップロードした画像のパスを追従している際は，横方向にスライドするような挙動はなかったと思います．

[2015-11-05 14:53] iou16 commented on #128
@DaikiMaekawa

コースアウトの原因が，問題1のみとするのには無理があるのは私も同意です．今回のbagファイルを記録した際の自律走行は，試走会の終盤だったので，バッテリーの残容量が低下していた可能性は十分にあります．
また，問題1が発生しているのも事実だと思います．何故なら，waypoint通過直後に生成された次のwaypointへのパス自体が湾曲していますし，このような挙動はバッテリーが十分に充電されていた際の走行でも発生していたからです．
ただ，このように左側に膨らんだ曲線のパスが生成されるのが，必ず同じこの道で，その他の場所では発生せず(ただ，この道以外の道の道幅が広いため，あまり問題になっていない=コースアウトしないだけかもしれませんが)，この道では，どのwaypoint間でもこのように左側に膨らんだような曲線の経路が生成されているのが少し気になっております．

[2015-11-05 23:13] DaikiMaekawa commented on #126
実装しました。 動作確認をお願いします。
https://github.com/open-rdc/icart_mini/pull/102

[2015-11-05 23:33] DaikiMaekawa commented on #104
こちら動作確認が完了しましたら閉じて下さい。

[2015-11-05 23:37] DaikiMaekawa commented on #128
金曜日も長い時間作業すると思いますのでバッテリーの残量と直進性に関連性があるかどうかに関しては運用時に注目してみてください。

現在の姿勢と目標間の角度の差がだいたい１８０度だからじゃないですか?

[2015-11-06 10:40] DaikiMaekawa opened #131 "A robot to go the long way around waypoint when goal and obstacle overlapped."
機体のピッチ方向の傾きにより地面を障害物として検出、障害物とウェイポイントが完全に重なりそれを回りこむようなパスが生成されています。

[![rosbag](http://img.youtube.com/vi/cqAval7k7_o/0.jpg)](https://www.youtube.com/watch?v=cqAval7k7_o)

[2015-11-06 11:47] Nasupl opened #132 "ゴール付近で自己位置推定がうまく行かずにゴールに入れない"
* 要bagファイル添付

[2015-11-06 11:48] Nasupl opened #133 "障害物とWaypointが被った場合にパスプランが大きく迂回してしまう"
* 要bagファイル添付

[2015-11-06 11:49] Nasupl commented on #126
コールバックの中でサービスを呼ぶようにする

[2015-11-06 11:50] Nasupl opened #134 "Recovery behaviorを変更する"
@ximo112 詳細を記述してbagファイルを添付してください

[2015-11-06 11:51] Nasupl opened #135 "waypoint_navで姿勢を考慮する"
#128

[2015-11-06 11:53] Nasupl opened #136 "ストップポイントで回転してしまう"
* move_baseで姿勢が収束しない問題
* bagファイルと動画を添付する

[2015-11-06 11:54] Nasupl opened #137 "ストップポイントを通過してしまう"
おそらくストップポイントのタイミング依存の仕様のせいでストップポイントを通過してしまうことがある
* bagファイルと動画添付する

[2015-11-06 11:55] Nasupl commented on #133
#131 ですでに出ていたのでクローズ

[2015-11-06 11:55] #133 closed

[2015-11-06 11:58] Nasupl commented on #131
この地点で再検証し，ウェイポイントを減らすなどしても問題が発生するようなら高い位置に取付けたコストマップ用URGを稼働させる

[2015-11-06 12:02] Nasupl commented on #136
@ShotaroTerato bagを頼みます
@Nasupl 動画を上げる

[2015-11-06 12:02] Nasupl commented on #137
@ShotaroTerato bagを頼みます
@Nasupl 動画を上げる

[2015-11-06 12:15] ximomoi commented on #134
bagも動画も撮っていない状態でしたので文章のみの記述になります。
一番目の橋の直前の直線において、点字ブロック上を走行中のロボットが障害物回避を行った際に回避動作がスローになっているため点字ブロックにスタックし動けなくなることが起こった。

[2015-11-06 12:30] Nasupl commented on #132
動画
https://youtu.be/UkhlSZ2UllM

[2015-11-06 12:31] Nasupl commented on #132
@ShotaroTerato
bagファイルお願いします

[2015-11-06 12:34] Nasupl commented on #136
動画
https://youtu.be/JTBLvJAKYXE

[2015-11-06 12:41] ShotaroTerato commented on #137
ストップポイントを通過してしまう時のbagになります
http://www.hayashibara-lab.it-chiba.ac.jp/member/bags/2015-11-06-21-17-00.bag

[2015-11-06 12:44] Nasupl commented on #137
動画
 https://youtu.be/6vcdXwn5cpA

[2015-11-06 12:56] DaikiMaekawa commented on #132
@iou16 そちらでバグファイルを元に検証してお手上げだったら私が引き継ぎます。 今日は他の問題も合わせて長い戦いになりそうですので、出来れば負担を軽減したいと考えています。

[2015-11-06 13:00] DaikiMaekawa commented on #135
次のウェイポイントまでの角度の差分を目標姿勢として使用する。

[2015-11-06 13:03] DaikiMaekawa commented on #128
今日のミーティングの内容をまとめます。 バッテリーがフル充電の場合でも大会の環境下では左側に逸れる挙動が見られた。 ジョイスティックのみ、Navigationを条件から排除した状態でもバッテリーの残量が減るにつれて直進性が失われていくことを実機で確認した。 https://github.com/open-rdc/orne_navigation/issues/135 の対応だけでコースアウトの危険性を排除することが出来ないのはbagファイルによる事前の検証で判明しているため、暫定的な対処法としてはバッテリー残量をなるべくフル状態に保つことを意識するという運用面でカバーするしかなさそうだ。

[2015-11-06 13:14] ShotaroTerato commented on #136
bagになります
http://www.hayashibara-lab.it-chiba.ac.jp/member/bags/2015-11-06-21-30-17.bag

[2015-11-06 13:15] DaikiMaekawa commented on #136
動画を確認しました。 最終的な判断はbagファイルを見てから行うつもりですが、

という言葉から受けるイメージとは異なる現象が発生していると感じました。

[2015-11-06 13:19] ShotaroTerato commented on #132
bagファイルになります
http://www.hayashibara-lab.it-chiba.ac.jp/member/bags/2015-11-06-21-50-57.bag

[2015-11-06 13:29] ximomoi commented on #134
#138 こちらで対処しました

[2015-11-06 14:45] Nasupl commented on #126
実装した
https://github.com/open-rdc/icart_mini/pull/103

[2015-11-06 15:04] ShotaroTerato commented on #132
#139 にて対応。
![screenshot from 2015-11-06 23 27 04](https://cloud.githubusercontent.com/assets/7301081/11000080/0607c0f6-84e3-11e5-922f-baa31ef43913.png)

[2015-11-06 19:17] DaikiMaekawa commented on #136
![stop_point_rotate_problem](https://cloud.githubusercontent.com/assets/3862239/11006195/befa79ec-8505-11e5-85f9-25fa8c8825c2.png)

bagファイルからmove_baseへと送られたゴールを青色の矢印で可視化してみました。 ロボットが回転している方向とまったく同じですのでこちらは停止する際の姿勢を定義することで対処出来そうです。 収束しないと聞いて随分昔に修正された問題ですが目標角度に到達せずに右旋回 -> 行き過ぎて -> 左旋回 以下ループするといった現象を思い出しました。 なので念の為bagファイルを送って頂きました。

[2015-11-06 19:20] DaikiMaekawa commented on #137
bagファイルを解析しました。 結論をいいますとミーティングでも述べたようにタイミング依存の問題でした。
ストップポイントとウェイポイントの送信タイミングがほとんど同じであったため、ウェイポイント側で上書きされて停止しないかったようです。 サービスによるノード間の同期処理やactionlibの後始末等をきちんと行う修正を行っているところです。 完成次第、実機でのテストを依頼します。

[2015-11-06 19:22] DaikiMaekawa commented on #104
https://github.com/open-rdc/orne_navigation/pull/130 を追加したことにより交差点の段差で障害物を誤認識する問題が解消されることを試走会にて確認。

[2015-11-06 19:22] #104 closed

[2015-11-06 23:54] ximo112 opened #140 "IMUのデータ受け取りが失敗する"
自律走行中にIMUからのデータの受け取りが失敗し、pathが生成されなくなり壁に衝突する

[2015-11-06 23:54] ximomoi commented on #140
@iou16 bagと動画をおねがいします

[2015-11-07 00:11] DaikiMaekawa commented on #140
先に案だけ書いておきます。 通信切断時にimuのトピックを投げないようにcit_adis_imuを修正すればrobot_pose_ekf側の各データに対するタイムアウトが働いてホイールオドメトリのみを使用してくれます。 そちらで手が空いていれば実装お願いします。 私が修正する場合は今のタスクが完全に終了した後になってしまいます。

[2015-11-07 00:12] DaikiMaekawa commented on #132
@iou16 amclのパラメータ調整はいかがでしょうか？

[2015-11-07 00:27] iou16 commented on #132
@DaikiMaekawa z_hitのパラメータを変更して対応しようとしたのですが，そうすると，その他の環境で自己位置推定が不安定になり,困っています.

[2015-11-07 00:36] iou16 commented on #140
bagファイルをhttp://www.hayashibara-lab.it-chiba.ac.jp/member/bags/2015-11-06-22-10-04.bag にアップロード致しました．

[2015-11-07 00:50] ximomoi commented on #140
動画
https://www.youtube.com/watch?v=0bpzysiV_ik

[2015-11-07 00:53] Nasupl commented on #140
@DaikiMaekawa
IMUのノードは、接続遮断時にはトピックを配信していませんし、チェックサムエラーが発生した場合も、その段階で例外が投げられてトピックを配信するところまで行かないので、問題発生時にはトピックは配信されないはずです。

[2015-11-07 01:21] ximomoi commented on #134
マージされたので閉じます

[2015-11-07 01:37] DaikiMaekawa commented on #140
ふーむ、これからbagファイルも見てみて対策を考えてみます。

[2015-11-07 01:46] DaikiMaekawa commented on #126
https://github.com/open-rdc/orne_navigation/issues/126 にも実装されました。 こちらはストップポイントの取り扱いに関しても改善されているため優先してテストを行う。

[2015-11-07 01:57] DaikiMaekawa commented on #136
https://github.com/open-rdc/orne_navigation/pull/129 にて、suspend_poseとして停止位置の姿勢も定義出来るようになった。 この姿勢を横断歩道に合わせて設定することによりこの問題は解決すると思われる。

[2015-11-07 03:14] DaikiMaekawa commented on #135
https://github.com/DaikiMaekawa/fulanghua_navigation/pull/45 にて対応済み。

[2015-11-07 04:05] DaikiMaekawa commented on #140
トピックを吐き続けてますね。

[2015-11-07 06:43] ximomoi commented on #140
ほぼ同じ場所において同現状が起きます、、、

[2015-11-07 07:24] DaikiMaekawa commented on #134
実機での動作報告をしてから閉じる。

[2015-11-07 08:20] ximomoi commented on #134
動作を確認しました、問題ありません。

[2015-11-07 08:21] #134 closed

[2015-11-07 10:48] DaikiMaekawa commented on #140
@ximo112 再発時との共通点を探りたいのでbagファイルをお願いします。

[2015-11-07 12:17] DaikiMaekawa commented on #140
デバッグした結果、IMUは正常に動作していることがわかった。 コース後半のため、バッテリー残量が減ることによる直進性の低下(https://github.com/open-rdc/orne_navigation/issues/128)やmove_baseの制御周期に関する警告が出力されていることの影響が大きい。 これに関しては別のIssueを作成し、対処することとする。

[2015-11-07 12:17] #140 closed

[2015-11-07 12:18] DaikiMaekawa commented on #137
https://github.com/open-rdc/orne_navigation/pull/129 の修正でナビゲーションのモード遷移に関するノード間連携を同期的に行うことにより解消した。

[2015-11-07 12:18] #137 closed

[2015-11-07 12:20] DaikiMaekawa commented on #136
https://github.com/open-rdc/orne_navigation/pull/129 停止位置に姿勢を定義し、実機で問題なく動作することを確認した。

[2015-11-07 12:20] #136 closed

[2015-11-07 12:21] DaikiMaekawa commented on #135
https://github.com/open-rdc/orne_navigation/pull/129 で全体に統合し、問題なく動作することを実機で確認した。

[2015-11-07 12:21] #135 closed

[2015-11-07 12:26] DaikiMaekawa commented on #131
この地点固有の現象であったため、ウェイポイントを間引くことで暫定的に対処した。 来年度に向けては障害物回避用に高めのURGを設置するなどシステムの改善が求められる。

[2015-11-07 12:27] DaikiMaekawa commented on #126
https://github.com/open-rdc/orne_navigation/pull/129 にてコストマップのクリア処理が問題なく行われることを確認しました。

[2015-11-07 12:27] #126 closed

[2015-11-07 12:30] DaikiMaekawa commented on #132
開けた場所でパーティクルの分散が広がりすぎる問題は結局解消されなかったが、ウェイポイントの調整によりゴールの枠には間違いなく入るよう暫定的に対処した。 まっすぐ走行しない問題にはmove_baseの制御周期エラーなども影響しているためそちらの問題を解消することを優先して行う。 開けた場所に於ける自己位置推定のパラメータ改善は来年度の重要な課題である。

[2015-11-07 12:55] DaikiMaekawa opened #144 "Sudden disconnect between PC and URG."
以下のようなエラーが突発的に発生し、自律走行が継続不可能になる。

[code]

[code]

[2015-11-07 12:58] DaikiMaekawa commented on #144
URGをUSBハブで接続することを回避するためにイーサネットURGを使用することを検討する。

[2015-11-07 13:07] ShotaroTerato opened #145 "2D Pose Estimate時のパーティクルの分散を小さくする"
人間が初期位置合わせをするので分散は小さくてもよい

[2015-11-07 13:18] DaikiMaekawa opened #146 "Suspend area should be more large radius."

[2015-11-07 13:19] DaikiMaekawa opened #147 "move_base outputs the warning of planning rate."

[2015-11-07 13:19] DaikiMaekawa commented on #147
EKFのtf更新周期が10Hzと他に比べて低いことが影響していると推測される。

[2015-11-07 13:25] DaikiMaekawa commented on #128
https://github.com/open-rdc/orne_navigation/pull/129 の修正によりウェイポイント間の経路が弧を描いている問題は改善された。

https://github.com/open-rdc/orne_navigation/issues/147 のmove_baseの更新周期のエラーによるコースアウトとバッテリー残量低下に伴う直進性の低下という問題を抱えているがそれはまた別の問題である。

[2015-11-07 13:25] #128 closed

[2015-11-07 13:33] DaikiMaekawa commented on #147
https://github.com/open-rdc/orne_navigation/blob/indigo-devel/orne_bringup/launch/includes/base.launch.xml#L4 を修正して警告が出なくなることを確認すること。

恐らく30Hzくらいが妥当。

[2015-11-07 13:46] DaikiMaekawa commented on #144
@Nasupl が書いてるのが以下のような感じ。 イーサネットURGにはurg_nodeパッケージを使用することにする。 処理はif elseで分岐させた方がよい。

[code]

[2015-11-07 13:49] iou16 commented on #147
@DaikiMaekawa
質問なのですが，読み込むmapファイルのサイズによって"，map update loop missed its desired rate of 1.000Hz... the loop actually took ◯◯ seconds"というwarnが出るかどうかは左右されるでしょうか？

[2015-11-07 13:51] DaikiMaekawa commented on #147
グローバルプランニングの探索空間が変わる場合は関係あるかもしれませんね。 その質問をするということはホテルで警告が再現出来ないということでしょうか? @iou16

[2015-11-07 13:53] DaikiMaekawa commented on #147
マップの大きさ、そして解像度はプランニングの処理の負荷に影響します。

[2015-11-07 13:55] DaikiMaekawa commented on #147
因みにメッセージを吐いている箇所がどこだか特定できますか? rqt_consolでノード名と発生箇所をデバッグしてみてください。

[2015-11-07 13:58] iou16 commented on #147
node名はmove_baseです，発生箇所とはどういった意味でしょうか？

[2015-11-07 14:00] DaikiMaekawa commented on #147
メッセージをクリックすると警告を出しているプログラムの行数まで絞り込めます。

[2015-11-07 14:02] iou16 commented on #147
![screenshot from 2015-11-07 23 01 24](https://cloud.githubusercontent.com/assets/7301090/11015470/9a00a5be-85a3-11e5-962f-d21e64d8a465.png)

[2015-11-07 14:05] DaikiMaekawa commented on #147
costmap2d内に問題の発生箇所があるようですね。 ざっとコードを確認してきますので少々お待ちを。

[2015-11-07 14:24] DaikiMaekawa commented on #147
@iou16 costmap_2dの解像度が一番効いてきそうです。 デフォルトは0.05meters/cellなので屋外用途では少し小さすぎたかもしれませんね。
以下にプルリクエストを送りましたので検証おねがいします。
https://github.com/open-rdc/orne_navigation/pull/148

[2015-11-07 14:54] iou16 commented on #147
検証してみましたが，同じメッセージが出ます．

[2015-11-07 14:57] DaikiMaekawa commented on #147
解像度をかなり大きめに設定してみたら警告は無くなる? @iou16

[2015-11-07 14:58] iou16 commented on #147
@DaikiMaekawa 解像度を0.5に変更して検証してみます．

[2015-11-07 15:12] iou16 commented on #147
解像度をどれだけ落としても同じエラーメッセージが出ます．

[2015-11-07 15:13] iou16 commented on #147
![screenshot from 2015-11-08 00 11 58](https://cloud.githubusercontent.com/assets/7301090/11015740/89db17d2-85ad-11e5-8138-1b5571306e64.png)

[2015-11-07 15:19] DaikiMaekawa commented on #146
半径が小さすぎると停止位置を少し通りすぎてしまう。

[2015-11-07 16:18] DaikiMaekawa commented on #146
実機にて動作確認が終了している半径1.0mでプルリクエストを投げる。 @open-rdc/project-orne

[2015-11-07 17:02] ShotaroTerato commented on #145
rqt_ez_publisherを用いる
http://wiki.ros.org/rqt_ez_publisher

[2015-11-07 17:12] DaikiMaekawa commented on #144
https://github.com/open-rdc/orne_navigation/pull/149 にて対応完了。

[2015-11-07 17:12] #144 closed

[2015-11-07 17:26] DaikiMaekawa commented on #146
https://github.com/open-rdc/orne_navigation/pull/150 にて対応した。

[2015-11-07 17:26] #146 closed

[2015-11-07 18:06] ShotaroTerato commented on #145
つかいづらいので
localization.launchの初期位置の変更により対処

[2015-11-07 18:14] DaikiMaekawa commented on #147
https://github.com/open-rdc/orne_navigation/pull/148 にて対応完了。
グローバルコストマップとローカルコストマップの解像度を下げて、EKFノードのtfの周期も上げた。
機体標準のPCではなく @Nasupl のPCを使用することで警告が表示されなくなり、CPUの使用率が下がることを確認。

つまり、以下の環境で最低限の要求スペックを満たした。

[code]

[2015-11-07 18:24] ShotaroTerato commented on #145
[code]

[2015-11-07 18:35] DaikiMaekawa commented on #145
マップに合わせてamclの初期姿勢に関するパラメータを設定することとした。 RViz上で可視化した結果が設定したパラメータと一致することが確認できたため閉じます。

[2015-11-07 18:35] #145 closed

[2015-11-08 18:26] DaikiMaekawa opened #151 "2015年度のつくばチャレンジで発覚した問題、改良点を洗い出す"
各々がここに思ったことを書き込んでいきましょう。

[2015-11-08 18:45] DaikiMaekawa commented on #151
### チームβのリタイヤの原因

断片的に聞いた話を元に状況を推測したにすぎないが出走前や前日の状況を受けて、ナビゲーションシステムの制御周期の遅延により、パスが完全に生成される前の速度指令を使用して走行を続けてしまったためによりコースアウトしてしまった可能性が高い。

Q. なぜ遅延が発生するのか?
A. 大きく分けて三つの原因が存在します。
- 一つ目はmove_base内で処理されるtfの変換待ちの処理に関するものです。 EKFのノードからトランスフォームされるtfの周期は10Hzと他のフレームより低く、またtfは分散システムでも変換が破綻しないようにタイムスタンプを厳密に取り扱います。 move_baseが要求するtfのレートは少し高めであるにも関わらず、全体のパフォーマンスは10Hzのodomフレームに引っ張られてしまいます。
- 二つ目はPCの処理能力不足です。
  コストマ

[2015-11-08 18:49] DaikiMaekawa commented on #147
@Nasupl のPCは雨により破損、共有PCでは https://github.com/open-rdc/orne_navigation/issues/151 で挙げたように安定して完走することは困難。

[2015-11-08 19:03] DaikiMaekawa commented on #132
開けた場所に於けるamclのパラメータの最適化に関する検討を2016年度に向けて再開する。

[2015-11-08 19:35] DaikiMaekawa commented on #151
本番のコースアウト以外で気になったことを挙げます。
- LRFが雨で距離を誤検出することにより、コストマップが常にロボットの周囲に障害物を登録し結果として、雨が強くなるにつれて回避行動を繰り返す頻度が増加する。 特に木から落ちてくる大量の水が障害物として誤検出されやすい。

LRFからのデータをフィルタリングしたり、コストマップの解像度を荒くすることで対処は出来ないか。
- ゴール付近等の開けていてランドマークの少ない領域ではパーティクルが散らばりすぎて走行が不安定になる。

amclのパラメータを再度調整し直す必要がある。
- 緩やかな傾斜では機体がピッチ方向に揺れた際に地面を障害物と誤検出することがある。 これがウェイポイントと重なることで誤検出した障害物を回りこむようなパスが生成される。

トライアルエリア等の開けたコースでのマップ作成、自己位置推定の観点からなるべくランドマークを増

[2015-11-08 19:55] DaikiMaekawa commented on #97
本番のコース上において、障害物回避前の減速が働き過ぎた結果小さな路面の変化によって車輪がスタックして抜け出せなくなる現象が見られたためmove_slow_and_clearを再び削除した。

[2015-11-08 20:03] DaikiMaekawa commented on #53
バッテリーの残量が低下することにより0.4m/sでの走行時でも左側に逸れていく挙動が確認された。
ジョイスティック等で検証した場合でも同様の挙動であるためナビゲーション側の原因である可能性は排除している。

[2015-11-08 20:06] DaikiMaekawa commented on #151
-  以前 https://github.com/open-rdc/orne_navigation/issues/97 で追加した障害物回避時の減速、及びリカバリー時の動作用に追加していた処理がリアル・ワールドでは有効に機能しなかった。

減速しすぎて車輪がスタックするなどの現象が起きている。 必要に応じて速度に関するパラメータの調整、もしくは新規にプラグインを開発することで対応する。
- バッテリー低下に伴って機体の直進性が低下する。 https://github.com/open-rdc/orne_navigation/issues/128 により判明。

https://github.com/open-rdc/orne_navigation/issues/53 にて2014年度はYPSpurのパラメータを調整して左側に逸れる挙動を改善していたが、バッテリーの残量低下によって再発するこ

[2015-11-08 20:12] DaikiMaekawa commented on #113
2016年度に向けてパラメータの最適化を再開。 https://github.com/open-rdc/orne_navigation/issues/151

[2015-11-08 20:14] DaikiMaekawa commented on #151
各問題に対してIssueを作成し、担当者を再設定し直した後このIssueを閉じる予定。

[2015-11-08 20:34] DaikiMaekawa opened #152 "Introduce an initialpose configuration file."

[2015-11-08 20:35] DaikiMaekawa commented on #152
https://github.com/open-rdc/orne_navigation/issues/145 の設定をyamlで記述出来るようにしておく。

[2015-11-09 00:23] yasuohayashibara commented on #151
パソコンの処理性能の話がありましたので，少し調べてみました．

■Lenovo ThinkPad X240 20AL006P JP
Core i5-4300U
ベンチマーク　3755
http://ark.intel.com/ja/products/76308/Intel-Core-i5-4300U-Processor-3M-Cache-up-to-2_90-GHz

■最新レッツノート　ハイエンド
Intel Core i7-6600U
ベンチマーク　4603
http://ark.intel.com/ja/products/88192/Intel-Core-i7-6600U-Processor-4M-Cache-up-to-3_40-GHz

ベンチマークの比較
http://www.cpubenchmark.net/compare.php?cmp[]=2608&cmp[]=2054

[2015-11-09 00:42] DaikiMaekawa commented on #151
BRIXは残念ながらオススメできませんね。 特につくばチャレンジ用途では。
メモリの大きさが重要という意見には同意します。 ８GB以上は必須かなというのが2014年度で運用していた者としての感想です。 ただし、あまりギリギリを攻めすぎるとポイントクラウドを取り扱う際や後々の機能の拡張に支障をきたしかねません。 消耗品として購入するため価格を抑えたいところだと思いますが、ここは有意義な投資ということで備品で十分なスペックを持つPCの購入を検討してみてはいかがでしょうか。

[2015-11-09 00:57] DaikiMaekawa commented on #151
以下のリンクでインテル社のモバイルパソコン向け CPUの性能比較表を見ることが出来ます。
http://pcinformation.info/cpu/comparison-intel-mobile.html

極端な例ではありますが、 @yasuohayashibara が挙げているレッツノートのCPUよりも２倍以上の性能を持つものも存在しますので、参考までに。

[2015-11-10 12:52] DaikiMaekawa commented on #151
https://github.com/open-rdc/orne_navigation/blob/indigo-devel/orne_bringup/launch/includes/base.launch.xml#L4
30Hzに引き上げました。 現時点では実機での検証が不足しています。

[2015-11-10 19:34] DaikiMaekawa commented on #151
ウェイポイントの設定が職人芸。 もっと賢く環境情報をプランニングに反映させることを検討するのはどうか。 私からの案は４つでどれも3D-URGからのポイントクラウドデータを使用する。 別に一つしか選べないわけではないので必要に応じて組み合わせる。
1. ローカルコストマップの表現にElevation Mapを使用する。
   更に、各種プランナーのプラグインを高さ情報を使用できるように拡張する。 Elevation Mapは実装の手軽さと計算コストの低さが魅力。
2. OGMで表現されたコストマップの更新にポイントクラウドを活用する。
   最近、costmap2dの対応リソースにポイントクラウドが追加された。 パラメータを調整するだけで我々の要求仕様を満たすようであれば新規に開発を行う必要がない。
3. コースの大域的な地図を作成する段階からElevation Mapを検討する。
   因

[2015-11-10 19:44] DaikiMaekawa commented on #151
我々のウェイポイントの定義は位置のみだが姿勢を含めるのはどうか。 (注) 現状は、次のウェイポイントの方向という常に固定の姿勢が定義されているとも解釈出来る。
任意の姿勢を含める方がより一般的且つ設定に柔軟性がある。 (その柔軟性が我々のシステムに必要かどうかは要議論)
ROS上の都合で言えばgeometry_msgs/PoseArrayに全てのデータを格納でき、可視化コードやyamlのロード・セーブのコードを全て削ることが可能。 ゴール時の姿勢を別途定義する必要も無くなるので実装とデータ構造がよりシンプルになる。

[2015-11-12 07:38] Hiroki-Goto commented on #151
昨日からORNE-βのパソコンのキーがずっと押されている状態になっているのでログインができなくなりました。
パスワード入力の画面で起きているのでどのキーが入力されているかは分かりません。

[2015-11-15 05:45] Nasupl commented on #151
![dsc_0178 2](https://cloud.githubusercontent.com/assets/7274407/11167504/6f46be26-8ba7-11e5-90cb-c3236d5b99d4.JPG)

[2015-12-05 09:53] Hiroki-Goto opened #162 "udev rule が適用されない"
PCにセンサなどをさしたときにUSBがさされたことは認識されますがudev ruleが適用されなくなりました

[2015-12-05 09:58] Hiroki-Goto commented on #162
IMUのruleが適用されていないPC（URGは認識されている）にIMUのruleが適用されているマシンのIMUに関するruleのみをコピーしたところIMUは認識されるようになったがURGが認識されなくなった

[2015-12-07 00:44] Nasupl commented on #162
双方のruleをここに貼り付けてもらえると助かります

[2015-12-08 06:32] Nasupl commented on #162
αのルール

[code]

[2015-12-08 06:40] Nasupl commented on #162
βのルール

[code]

[2015-12-08 09:07] Nasupl commented on #162
[code]

が適用されない原因っぽい。こいつを消してデバイス名をhokuyoにすれば問題なく動く
どのマシンでも一律して動かなくなってる。単体で

[code]

とやると問題なくURGのシリアルナンバーは取得できる。

[2015-12-08 09:38] Hiroki-Goto commented on #162
これで自律移動できるようになりました。
ありがとうございます

[2016-01-25 14:26] #162 closed

[2016-02-10 07:33] Hiroki-Goto opened #164 "record_waypointが起動しない"
record_waypoint を起動したときrvizは起動するがwaypointと終了の姿勢を置くことができない（初期位置の設定だけは可能）

[2016-02-14 01:45] Nasupl commented on #164
見るからに起動時にエラーメッセージ出てるんだから貼っておいてほしかったですね

[code]

[2016-02-14 01:59] Nasupl commented on #164
つくばチャレンジ以降、旧waypoint_navで作ったwaypoint使ってたから気づかなかったけど、record_waypoints_joyで立ち上げるwaypoints_saverをfulanghua版に変えるの忘れてたっぽいですね

[2016-02-15 09:57] #164 closed

[2016-02-15 09:59] DaikiMaekawa commented on #164
@Hiroki-Goto 使用環境とエラーログを報告する癖は付けておいた方が良いと思います。 これは他のオープンソースプロジェクト等でも共通すると思いますが、より迅速に正確な回答をもらえる可能性が高くなります。

[2016-04-17 06:53] iou16 opened #169 "icart_mini.xacroが実際のorneと異なった構成になっている"
icart_mini.xacro上での車輪の位置が，シミュレータ上での挙動を自然なものにするために，実際の位置と異なっており，本来存在しない受動輪も存在する．
これは実際のロボットの挙動にも影響を与える(RoboCup@Homeでは問題となった)為，実際の配置に合わせるべきである．
もし，シュミレーター上で，これまでの挙動を維持する場合はicart_mini.xacroを別途用意すべきであり,その辺りは用検討．

[2016-04-17 06:56] iou16 commented on #169
また，対処についてもorne_description側に新たにicart_mini.xacroを作成し，そちらを参照するようにするか，本家のicartをforkして修正しpull requestを送るかなどの対応の仕方も用検討．

[2016-04-17 06:58] iou16 commented on #169
@DaikiMaekawa
ご意見を頂けると幸いです．

[2016-04-18 07:49] DaikiMaekawa commented on #169
Homeだと問題になったのですね。 それならば、つくばチャレンジでも問題が表面化していないだけだと思います。
せっかくの機会ですので修正をorne_navigationだけに留めてしまうのは勿体ないのでは? icart_mini側にプルリクエストを投げるのが良いと思います。

[2016-04-19 07:48] iou16 commented on #169
上記の問題に対しては https://github.com/open-rdc/icart/pull/115 を作成し対処しました．また，icart_mini.xacroを変更したことによってorne_alpha.xacorとorne_beta.xacroおよびcostmap_common_params.yamlに変更が必要となったので https://github.com/open-rdc/orne_navigation/pull/170 を作成し対応しました．実機での挙動は確認済みです．

[2016-04-22 04:33] iou16 commented on #169
https://github.com/open-rdc/icart/pull/115 と#170 をmergeし，問題に対処することができたのでこのissueを閉じます．

[2016-04-22 04:33] #169 closed

[2016-06-14 18:03] Nasupl commented on #152
@iou16
これって結局AMCLの立ち上げ時にparamで設定できるんでしたっけ？

[2016-06-14 18:04] Nasupl commented on #147
こちらの問題はRAMの不足が原因であると断定し，2016年度は各PCのRAM容量を増加することで解決としました．一旦閉じます．

[2016-06-14 18:04] #147 closed

[2016-06-14 18:09] Nasupl commented on #80
https://github.com/DaikiMaekawa/fulanghua_navigation の開発によって，横断歩道手前での一時停止は可能になった．今年度は信号機のある横断歩道に取り組むため一旦閉じる．

[2016-06-14 18:09] #80 closed

[2016-06-14 18:12] Nasupl commented on #53
この問題はモータドライバのPIDゲインが原因であり，発振寸前にピーキーな状態までチューニングしたが改善されることはなかったため閉じる．

[2016-06-14 18:12] #53 closed

[2016-06-14 18:13] Nasupl commented on #113
@iou16 本件どういう結論になったんでしたっけ

[2016-06-14 18:15] Nasupl commented on #132
#113 に引き継ぎ

[2016-06-14 18:15] #132 closed

[2016-06-14 18:16] Nasupl opened #172 "新テーブルの購入"
つくばチャレンジ実験走行で使用するアウトドアテーブルの購入が必要
@yasuohayashibara
よろしくお願いします

[2016-06-14 18:19] Nasupl opened #173 "手押し棒の開発"
地図作成においては，ジョイスティックによってロボットを操作するよりも，モータ配線をドライバから切断して手押しによって地図を作成するほうが効率がよいと考えられるため，ロボットを押すための棒を開発しロボットに取り付ける．
@Shiina-Shiotani が担当しβについては完成，αは接着して完成の見込み．
@Shiina-Shiotani は完成したら写真とともにここに報告すること．

[2016-06-14 18:21] Nasupl opened #174 "ORNE-βの防水対策"
ORNE-βは現状でPC搭載部と電子回路搭載部が露天であり雨天時の防水性に難がある．

[2016-06-14 18:23] Nasupl opened #175 "ORNE-βの電装"
- [x]  IMUの搭載
- [x] 緊急停止スイッチの取り付け及び配線
- [x] 3D URGの電源回路
- [x] icart-miiidle回路の防水対策(タッパで)

[2016-06-14 18:26] Nasupl opened #176 "ORNE-βのIMUソフトウェア対応"
本年度開発中のORNE-β( iCart-middleベース )は，従来のAnalogDevices ADIS16488ではなく，Invensense MPU6050を使用することとなった．
ROS側では https://github.com/fsteinhardt/mpu6050_serial_to_imu を用いて対応するため，orne_bringupでβの場合はこちらを立ち上げるように対応が必要．

[2016-06-14 18:28] Nasupl opened #177 "障害物の回避がギリギリ"
base_local_plannerが計画する経路が，特に歩行者等がロボットの前に突然現れた時などにおいて，障害物のギリギリを通るようなものになっていて，安全性の面で課題がある．
場当たり的であるが，つくばチャレンジにおいては狭路を通過するようなコースはないため，move_baseのfootprintパラメータを現状より大きくすることによって対処する．

[2016-06-14 18:31] Nasupl opened #178 "第一回試走会に向けた実験走行会の実施"
6/21に学内で実験走行会を実施し，第一回試走会に向けた確認を行う．

### それまでに必要なこと
- [ ] #175
- [ ] #176
- [ ] #177

### 確認すること
- [x] 発電機動く？燃料ある？→動かしてみる
- [x] タープは無事？買わなくて平気？→広げてみる

[2016-06-15 04:40] iou16 commented on #152
@Nasupl  paramで設定可能です．

[2016-06-15 05:32] iou16 commented on #113
小手先のパラメータ調整ではどうにもならないので，別途2D LIDARに匹敵する高精度なセンサを積んで自己位置推定に反映するのがベストな対処法だと思われます．

[2016-06-17 08:00] Nasupl opened #181 "ORNE-βのキャスター交換"
左右で異なるキャスターが付いているので交換する

[2016-06-20 09:23] Hiroki-Goto commented on #181
キャスターの交換終わりました
動作確認済です

[2016-06-20 09:23] #181 closed

[2016-06-21 06:08] iou16 commented on #152
対処したので閉じます.

[2016-06-21 06:08] #152 closed

[2016-06-21 06:08] Nasupl commented on #113
GPSの統合等は研究で進んでいるので一回こちらは閉じます

[2016-06-21 06:08] #113 closed

[2016-06-21 06:11] Nasupl opened #182 "ORNE-βのバッテリーもうワンセット買うか確認"
長時間動かしてどのくらいバッテリーが減るかわからないので，チェックして，減りが早そうだったらもうワンセット買う．

[2016-06-21 08:16] Nasupl commented on #176
TFがうまくいっていないので調整中

[2016-06-21 08:16] Nasupl commented on #175
どれもまだ

[2016-06-21 08:16] Nasupl commented on #173
とれたので接着しなおし

[2016-06-21 08:17] Nasupl commented on #172
@yasuohayashibara が購入

[2016-06-21 08:17] #172 closed

[2016-06-21 11:24] buzzshima commented on #182
電圧のチェック
13.05   13.03   16:00
この時モータの線を抜いた
～３階地図作成～
12.80   12.78   16:20
～外の地図作成～
12.79   12.77
～waipoint～
12.77   12.75   17:58
19:00に再開まで電源スイッチoff(その時は特に降下してない)
～自律移動～
12.84       12.85          19:50
以上の結果となりました

地図作成とwaypointは手押しで行った

[2016-06-22 05:34] Hiroki-Goto commented on #177
後藤が担当します

[2016-06-22 09:53] KentaKubota opened #183 "icart-miniで自律走行させる際、2D Pose Estimate を押しても何も反応が起きない"

[2016-06-24 01:37] Nasupl commented on #183
当該時刻のbagファイルは記録してありますか？

[2016-06-24 04:41] KentaKubota commented on #183
あります。
slack #general に上げた16_06_21_test_run.zipです。

[2016-06-24 04:42] Nasupl commented on #183
その際，rvizからmove_baseに/initial_poseトピックはpublishされていますか？

[2016-06-24 06:43] KentaKubota commented on #183
確認方法がわかりません。どのように確認できますか？
bagファイルを再生しながらrostopic list -v で確認しましたが

Published topics:
  /initialpose [geometry_msgs/PoseWithCovarianceStamped] 1 publisher

があるのは確認できました。

[2016-06-24 07:14] KentaKubota commented on #183
Fixed Frameをbase_linkにした状態で2D Pose Estimateを行っていたのが原因でした

[2016-06-24 07:14] #183 closed

[2016-06-26 07:54] buzzshima commented on #182
@Nasupl この件は今週長く動かしてためしてから購入するか決める感じですか？

[2016-06-26 07:55] buzzshima commented on #175
防水対策終了

[2016-06-26 07:56] Nasupl commented on #182
@buzzshima お願いします

[2016-06-28 05:56] buzzshima commented on #174
回路の部分は終了

[2016-06-28 05:58] Hiroki-Goto opened #184 "コーナーモールの取り付け"
安全対策のため取り付ける

[2016-07-05 06:10] Hiroki-Goto commented on #184
PCの防水対策あたり以外の場所は行った（7/5現在）

[2016-07-05 06:24] Hiroki-Goto commented on #174
７/9の天気予報が雨のため防水グッズの購入

[2016-07-07 08:30] Nasupl commented on #175
IMUのソフトウェア対応完了( #185 )
緊急停止スイッチの配線は明日Robocup資材回収後に実施．
また，IMUのUSBケーブルとバッテリーが干渉する問題も明日までに部品を購入して実施予定．

[2016-07-09 07:16] Nasupl opened #186 "第一回実験走行会メモ"
### αの地図
* 昨年度地図とbridge1, before_cross, before_cross_2, after_crossを合成する必要がある
* 横断歩道と、中央公園内のランドマーク皆無エリアがうまく地図を作れない

### 忘れもの・買い忘れ
* モバイルバッテリーからPCに給電するためのDCプラグがついたケーブル
* Aオス-Aメスのケーブル（Aオス-AオスケーブルとAオス-Bオスケーブルを誤って購入していた）

### 電源
* X240の大容量バッテリーのラッチが破損して使えなくなった（衝撃でPCから脱落し電源が落ちる）。テープで無理やり固定すれば使用できるかもしれない。
* E460がめちゃくちゃ電源を食う（大清水公園を一周するだけで20%くらい消費する）ので対策が必要
* βはモータを駆動しながら3DURGを動作させるような電力消費をしない使い方（地図をつくる、W

[2016-07-09 14:03] Hiroki-Goto commented on #186
**βの地図**
トライアル区間と探索エリアを作った（トライアル区間は最後の方で角度がずれていったが画像を加工すればどうにかなると思う）
探索エリアの地図はとじ込み等うまくいかなかっため作り直す必要があるかもしれない

**２D－URGのudevルールが適用されない問題**
これは頻繁に起こる問題。いつもは70-sensor-ruleのURGのIDを取得する部分を消すことによって対応している。（今日もそれで対応した）

**αの電装系について**
車検時にテープなどで固定しておくようにと言われた

[2016-07-10 02:57] yasuohayashibara commented on #186
地図を作成したら，どこか(WebDAV?)にアップしてもらえればと思います．

みなさんから指摘があったように，ランドマークの少ない公園内で地図の作成が難しい．
また，自律走行も難しいので，ランドマークを増やす努力をすべきではないかと思います．
ランドマークとしては，以下が挙げられる思います．

１）地面の種類（アスファルトと草むら）
　　分類せずに反射強度をそのまま尤度の計算に使っても良いと思います．
２）２．５Dの地形データ
　　URGが取り付けられた水平面だけでなく，高さ方向で輪切りにした地形データ

他チームで既に導入されて有効性が確認されたものですが，安定性を向上させるためには本チームも導入したほうが良いのではと思います．

[2016-07-11 07:59] ShotaroTerato commented on #186
＊外装
icart-middleは高さ10~30cmの間に外装を追加する必要があり

[2016-07-12 06:17] buzzshima commented on #186
icart-middleの電源のたっぱのゴムブッシュの位置変更(?)

[2016-07-12 06:27] Nasupl commented on #186
- [ ] α報告書書く

[2016-07-12 06:28] #184 closed

[2016-07-12 06:28] Nasupl commented on #182
#186 に示したように多分いらない

[2016-07-12 06:28] #182 closed

[2016-07-12 06:29] Nasupl commented on #178
実験走行会予行自体は終わったので閉じる

[2016-07-12 06:29] #178 closed

[2016-07-12 06:30] Hiroki-Goto opened #187 "URGの挙動がおかしい"

[2016-07-12 06:30] Nasupl commented on #177
middleは #187 URGの挙動がおかしい（後藤談）ため検証ができず止まっている．

[2016-07-12 06:31] Hiroki-Goto commented on #187
ロボットの動いている向きとURGの向くむきが真逆になっている

[2016-07-12 06:39] Nasupl commented on #177
alphaは狭い場所でbase_local_plannerがアボートする問題があるらしいのでその検証まち

[2016-07-12 06:39] Nasupl commented on #176
おわった

[2016-07-12 06:39] #176 closed

[2016-07-12 06:41] Nasupl opened #188 "ORNE-βのIMUがぴょんぴょんする"
ヨー方向に飛ぶのでLPF入れるべきかもしれない

[2016-07-12 06:42] Nasupl commented on #175
全部終わったっぽい

[2016-07-12 06:42] #175 closed

[2016-07-12 06:43] Nasupl commented on #174
#186 でタッパ内に水が侵入し電装が水没しそうになったので，配線穴等の位置変更が必要

[2016-07-12 06:45] Nasupl commented on #173
αも上から挿せるようにしてほしい

[2016-07-12 06:46] Nasupl opened #189 "結界の実装"
走行禁止箇所に結界を設定できるようにしてほしい

[2016-07-12 06:47] Nasupl opened #190 "ORNE-βの外装の改良"
地面から10-30cmの範囲をカバーする必要がある

[2016-07-12 06:48] Nasupl opened #191 "ランドマーク空白地帯における地図生成"
なんもなくてレーザーが当たらないからgmappingで地図作れない．2.5D化や反射強度対応の必要がある．

[2016-07-19 06:03] Nasupl commented on #174
配線穴部分はゴムブッシュで構成されている．ミスミで探す．

[2016-07-19 06:04] Nasupl commented on #174
穴径はΦ32くらい

[2016-07-19 06:11] ShotaroTerato commented on #189
amclとcostmap2dはそれぞれmapを受け取っている．
amclは今までどおりのmapを受け取り，costmap2d側で編集済みmapを受け取らせる方法が一番簡単な対処法か

[2016-07-19 06:19] Nasupl commented on #188
加速度取得の対応と合わせて対応中

[2016-07-19 06:25] Nasupl commented on #189
launchファイルを書いてください

[2016-07-19 06:26] Nasupl commented on #190
透明な板ではアカンので透明ではない板でなんとかしましょう

[2016-07-19 06:26] Nasupl commented on #191
@iou16 が反射強度対応をしている

[2016-07-26 03:47] Shiina-Shiotani commented on #173
αの接続部をL字にした際、前輪部分が浮きやすくなった

[2016-07-26 06:18] Shiina-Shiotani commented on #173
車軸中心に力がかかる位置に設置する

[2016-07-26 06:33] Nasupl commented on #189
memo: map_serverを2つ建てる

[2016-07-26 07:08] Nasupl opened #192 "緊急停止スイッチの遮断箇所の変更"
現在は緊急停止スイッチでモータドライバのモータ側電源を遮断しているが，これではモータとモータドライバが接続された状態のままになっていて，手でロボットを押したりしたときに逆起電力でブレー-キがかかったりするので，現在はモータ-モータドライバ間の配線を切断することで対処している．
これを，リレーを用いて緊急停止スイッチからモータ-モータドライバ間の3相x2=6本を遮断できるようにしたい．

[2016-07-29 05:01] ShotaroTerato commented on #189
map_serverを２つ建てた
今度はcostmap側に別のmapを受け取らせる
![two_maps](https://cloud.githubusercontent.com/assets/7301081/17238209/c4139bc4-5594-11e6-9af8-d23180b24398.png)
![rosgraph](https://cloud.githubusercontent.com/assets/7301081/17238211/c81a2b0c-5594-11e6-9568-edea388a2902.png)

[2016-07-29 06:18] ShotaroTerato commented on #189
navigationのstatic layerのプラグインを直書き換えしたところ
うまくグローバルコストマップとしてもうひとつのマップが読み込まれた
と思ったが，元マップがmove_baseに渡されていない…←（追記）move_baseは別に自己位置推定してないし元マップ読む必要ないのか
![1_001](https://cloud.githubusercontent.com/assets/7301081/17239513/ad57305c-559f-11e6-858d-49a3cfe4cda4.png)
![rosgraph_costmap](https://cloud.githubusercontent.com/assets/7301081/17239524/b91512d8-559f-11e6-91cd-36712ac23862.png)

[2016-07-29 06:42] ShotaroTerato commented on #189
マップの占有してるとこをpoint cloudに変換して障害物として認識させるほうが早いかも

[2016-07-29 06:50] ShotaroTerato commented on #189
amclがちゃんと元マップを受け取れているか確認をする

[2016-08-01 04:19] ShotaroTerato commented on #189
global costmap として別のマップを受け取れた
amclもちゃんと動いてるっぽい
![workspace1_002](https://cloud.githubusercontent.com/assets/7301081/17283358/69cd33c0-57ea-11e6-965e-36712676686f.png)

[2016-08-01 04:28] ShotaroTerato commented on #189
運用時にいちいち2つのマップファイルを指定するの面倒になりそう

[2016-08-02 01:33] Nasupl commented on #187
EKFによるオドメトリの推定がおかしいのが問題と思われるのでとりあえずその方向で探る

[2016-08-02 05:22] ShotaroTerato commented on #189
argを使ってうまい具合に読み込ませるようにする

[2016-08-02 05:48] Nasupl commented on #187
#194 で解決したのでクローズ

[2016-08-02 05:48] #187 closed

[2016-08-02 06:11] Nasupl commented on #188
#185 で解決したのでクローズ

[2016-08-02 06:11] #188 closed

[2016-08-02 06:12] Nasupl commented on #177
alphaについては #193 で解決．

[2016-08-02 06:20] Nasupl commented on #174
ゴムブッシュみっけた http://jp.misumi-ec.com/vona2/detail/110500128760/?HissuCode=C-30-SG-32A-5P&PNSearch=C-30-SG-32A-5P&searchFlow=results2products

[2016-08-02 07:13] ShotaroTerato commented on #189
![nav rviz- - rviz_004](https://cloud.githubusercontent.com/assets/7301081/17319950/f909bfd6-58cb-11e6-9331-cf11d0620a80.png)
![nav rviz- - rviz_005](https://cloud.githubusercontent.com/assets/7301081/17319952/fad0c846-58cb-11e6-9856-9d4239623e47.png)

[2016-08-02 07:19] ShotaroTerato commented on #189
efc2090 でmap_file指定時に自動的にmap_file_for_costmapの指定がなされるようにした
運用法が少し変わりmap_fileを指定するときは

・従来
map_file:=/フルパス/map.yaml
・変更後
map_file:=/フルパス/map

となった．
この時，mapファイルとmap_for_costmapファイルを同じディレクトリに保存しておくこと
また読み込ませたいコストマップ用マップの名前は
"（元マップの名前）_for_costmap.yaml"
とすること

[2016-08-09 00:49] Shiina-Shiotani commented on #173
現在αはこのようになっている.
![s_4731833333384](https://cloud.githubusercontent.com/assets/12287214/17501095/7098b508-5e16-11e6-95ed-44b9e05213c4.jpg)
![s_4731833346738](https://cloud.githubusercontent.com/assets/12287214/17501097/74784936-5e16-11e6-8663-7e5e2949f4f8.jpg)

[2016-08-09 01:08] Nasupl commented on #177
βは @Hiroki-Goto が担当

[2016-08-09 01:09] #186 closed

[2016-08-09 01:09] Nasupl commented on #189
地図を用意すれば使える

[2016-08-16 01:13] Nasupl commented on #173
完成

[2016-08-16 01:13] #173 closed

[2016-08-16 01:16] Nasupl commented on #191
暫定的には人手で地図を作成することにする

[2016-08-22 23:44] Nasupl opened #195 "戦略の改良"
現在のorne_strategyを，信号/探索対象者へのアプローチ/自己位置推定の尤度低下時の復帰動作及びmove_baseの制御が可能なように改良する

[2016-08-31 01:43] Nasupl commented on #189
とりあえず検討は完了したので一回閉じる

[2016-08-31 01:43] #189 closed

[2016-08-31 01:48] Nasupl commented on #191
@iou16 の高低差地図で問題解決を図る．検討終了．

[2016-08-31 01:48] #191 closed

[2016-09-13 04:59] Shiina-Shiotani opened #197 "ORNE-αの電源問題"
αのURGが故障する事案が連続して発生した.

[2016-09-13 05:01] Shiina-Shiotani commented on #197
モータドライバ側で5Vが正常に流れるか確認

[2016-09-13 05:33] Shiina-Shiotani commented on #197
4.88Vだった

[2016-09-13 07:45] Nasupl commented on #197
Top-UIRG電源供給部以外はとりあえず問題なさそうなので，Top-URGの電源供給部だけMegaroverのものに取り替えて運用する．

[2016-09-15 14:24] Nasupl commented on #177
βも #196 で解決

[2016-09-15 14:24] #177 closed

[2016-09-15 14:26] Nasupl commented on #190
改良中。ビニール地の素材でスカート様の外装を作る。

[2016-09-15 14:27] Nasupl commented on #174
とりあえずタッパへの配線投入位置をタッパ下部に変更した。これでケーブルを伝ってタッパ内に水が浸入することはないはず。配線をもうちょっとしたら出来上がり。

[2016-09-20 06:45] #197 closed

[2016-09-20 06:47] #174 closed

[2016-09-27 04:17] Nasupl commented on #190
今回の外装は次回車検を通して文句を言われたら変える

[2016-10-04 06:58] Nasupl commented on #190
基本的にマジックテープで取り付け，取り外しを行えるようにする．

[2016-10-04 07:00] Nasupl opened #198 "αの緊急停止スイッチの高さ変更"
緊急停止スイッチが付いているフレームの高さを変更する．
@KentaKubota がフレーム発注中

[2016-10-04 07:01] Nasupl opened #199 "空気圧チェックと持ち物チェック"
10/15に備えて

[2016-10-04 09:21] Nasupl opened #200 "膨張リセットAMCLの適用"
@Shiina-Shiotani が開発した膨張リセット法を適用したAMCL(以下ER-AMCL)をorne_navigationに適用する
- [x] Navigationパッケージをopen-rdcにフォークしてER-AMCLをコミットする
- [x] orne_navigationの依存関係をフォーク側にする
- [x] 動作確認

[2016-10-11 06:16] Nasupl opened #201 "ORNE-α電源回路検証"
取り外して負荷かけて検証

[2016-10-11 06:45] #199 closed

[2016-10-11 06:46] Nasupl commented on #198
棒が届いた．

[2016-10-11 06:47] Nasupl commented on #201
今日取り外してチェック

[2016-10-11 09:15] Nasupl opened #202 "機体にスポンサーのシールを貼る"
本走行までに貼る

[2016-10-11 13:51] Shiina-Shiotani commented on #200
オーナー権限が無いとフォークできないみたいです
持っている方はフォークをお願いします

[2016-10-12 07:48] KentaKubota commented on #198
フレームの高さ変更  終了
![5045903480354](https://cloud.githubusercontent.com/assets/12063148/19301682/a9654646-909b-11e6-8d9e-661607e67cfb.jpg)

[2016-10-12 07:52] #198 closed

[2016-10-12 13:49] Nasupl commented on #200
@Shiina-Shiotani https://github.com/open-rdc/navigation へのpush等も権限がありませんか？

[2016-10-13 08:07] Shiina-Shiotani commented on #200
push できなかったので、ないと思います。

その時のエラーメッセージは以下の様になりました

remote: Permission to open-rdc/navigation.git denied to Shiina-Shiotani.
fatal: unable to access 'https://github.com/open-rdc/navigation.git/': The requested URL returned error: 403

[2016-10-14 01:41] yasuohayashibara commented on #200
open-rdcの権限を見るとownerは前川さん，後藤くん，林原のようです．
権限の問題であれば，後藤くんが対処するか，もしくは別の人にもowner権限を与えて対処できるようにしたほうが良いと思います．
夏迫くんがowner権限を持っていないのは不自然かなと思いますので，ownerに変更したいと思いますがよろしいでしょうか．

[2016-10-14 02:04] Nasupl commented on #200
@yasuohayashibara 是非お願いします

[2016-10-14 02:21] yasuohayashibara commented on #200
@Nasupl ownerに変更しました．

[2016-10-14 07:02] iou16 opened #204 "β用にamclのパラメータを調整する"
αと同様のamclのパラメータでは大清水公園などの環境で自己位置推定が破綻する.
動作モデルの誤差パラメータを大きく見積もることで多少は対応可能だと考えられるのでそのように調整する.
ただ, 小手先のパラメータ調整ではコース全域は走破できそうにないので, 完走する場合は #200 の適用が必要か.

[2016-10-14 07:02] iou16 commented on #204
#203 で対応.

[2016-10-14 07:10] iou16 opened #205 "αとβでwaypointとinital_poseを別々にする."
αとβは地図が別なので, waypointとinitial_poseも別なものになるはず. なので, それぞれ用意し, 参照先も変更.

[2016-10-14 07:39] iou16 opened #207 "70-sensors.rulesが適用できない."
hokuyo_nodeのgetIDが動かないので, 70-sensors.rulesが適用できない.
hokuyo_nodeのgetIDを動くようにしてpull request送るのが正しい気がするが, 面倒なので, 当面は70-sensors.rulesのgetIDの部分を消して対処.
このIssuesの優先順位は低いが, 放っておくと忘れてしまうので, 忘れないうちに対処しておく.

[2016-10-14 07:42] iou16 commented on #207
#208 で対処. 一段落したらmergeする.

[2016-10-14 14:22] Shiina-Shiotani opened #209 "不足している備品の補充"

[2016-10-14 14:26] Nasupl opened #210 "αとβのlaunchファイルや設定ファイルの共通部分の共通化"
#205 , #206 などでたくさん別々の設定ファイルが登場した。

ウザいだけでなく運用において混乱を招く原因にもなるので何とかするべきなんだろうと思う。

[2016-10-14 14:28] Nasupl commented on #204
#203 でマージしたが、現地で走行させてこれでどれだけ対応できるかは検証が必要。

[2016-10-14 14:30] Nasupl commented on #205
Doneだがいちいちバラバラのファイルがあるのは厄介なのでこの問題を #210 に引き継ぎ

[2016-10-14 14:30] #205 closed

[2016-10-14 14:31] Shiina-Shiotani commented on #209
10/15, 16 試走会前でのチェック
・ビニール袋
・マジックテープ
・両面テープ
・雑巾(予報では晴れなので必要ないかも)

[2016-10-18 00:58] buzzshima opened #211 "電源スイッチ位置の変更に伴いコードの延長"
スイッチを操作しやすい場所に変更

[2016-10-18 05:23] buzzshima commented on #209
マジックテープ大量

ロール状やつで

[2016-10-18 07:19] Nasupl commented on #201
新しい電源届いたけどURGは別電源のまま

[2016-10-18 07:19] #204 closed

[2016-10-18 07:26] Nasupl commented on #210
設定ファイルやlaunchファイルがたくさんある事自体はいいので，launchファイル内の共通部分を一つにまとめて，メンテナンス性を向上させる方向にいきたい．

[2016-10-18 07:27] Nasupl commented on #190
マジックテープが足りなくなった #209
まだ途中

[2016-10-18 07:34] Nasupl opened #212 "αの外装の作り直し"
ペイロードが足りない．実験に不便との声．

[2016-10-18 07:36] Nasupl opened #213 "βのrecord_waypoints_joyで，保存されるwaypointsのファイル名が間違っている"
waypoints_beta.yamlとして保存されるようにする

[2016-10-18 08:21] buzzshima opened #214 "icart-middleの幅変えたい(2017年2月くらい)"
幅がどうしても大きすぎる

[2016-10-18 10:23] ShunShimamura commented on #209
- [x] マジックテープ
- [x] ゴミ袋、ビニール袋
- [x] タオルor雑巾
- [x] 両面テープ

[2016-10-18 12:25] #213 closed

[2016-10-18 12:26] Nasupl commented on #211
終わり

[2016-10-18 12:26] #211 closed

[2016-10-18 12:26] Nasupl commented on #201
とりあえず交換はした

[2016-10-19 00:58] yasuohayashibara commented on #201
とりあえず担当者がいなければ林原が問題の究明を行います．
どなたかできればお任せします．

私が行う場合は，問題のある電源を机の上に置いて下さい．

[2016-10-21 06:54] NamikiHiroaki commented on #209
ポリ袋（65cm×80cm 0.012mm 45L）40枚入り
雑巾（20cm×30cm）3枚入り
両面テープ（15mm×6.5m）
各１つずつ購入
マジックテープについては新習志野・津田沼周辺にはロール状のものがないのでネット購入になるかと

[2016-10-21 07:02] Nasupl commented on #209
@NamikiHiroaki マジックテープ，南船橋のスーパービバホームか船橋競馬場のコーナンまでいけばロールのやつ売ってるはず．

[2016-10-21 07:05] NamikiHiroaki commented on #209
Vivaホームの方は今日確認したのでコーナンの方寄ってみます

[2016-10-21 07:07] Nasupl commented on #209
あー，ロールというか切り売りのやつでいいと思う． @buzzshima, @ShunShimamura 両面テープ何m必要ですか？具体的に．

[2016-10-21 07:10] buzzshima commented on #209
最低5㍍ですかね

欲を言えば切り売りだと小さな余分なやつをなくしてすぐストックなくなりそう

[2016-10-21 07:12] buzzshima commented on #209
あと#202のシール用紙もお願いします

[2016-10-21 07:12] Nasupl commented on #209
切り売りって店頭にロールで置いてあって店員さんに切ってもらって買うタイプのやつのことですよ．
@buzzshima が言ってる切り売りは20cmごとにパッケージに封入されているやつのことでは？

[2016-10-21 07:14] buzzshima commented on #209
@nasupl  予想してるとおりです

[2016-10-21 07:14] Nasupl commented on #209
@NamikiHiroaki ということで1m辺りx円みたいな感じで売ってるロール切り売りのマジックテープを5mお願いします

[2016-10-21 07:14] NamikiHiroaki commented on #209
マジックテープの幅は15mmとかそのくらいで大丈夫でしょうか？

[2016-10-21 07:14] buzzshima commented on #209
なので@nasupl の言ったとおりで

[2016-10-21 07:15] Nasupl commented on #209
15mm細くない？25mmがベストだけどなければ15mmでいいです．

[2016-10-21 07:16] buzzshima commented on #209
@NamikiHiroaki 20ミリ以内であればできるだけ太めで割りにいいやつで

[2016-10-21 07:16] NamikiHiroaki commented on #209
了解しました

[2016-10-21 07:17] buzzshima commented on #209
25mmだとフレームからでるので少し嫌ですね

[2016-10-23 05:24] NamikiHiroaki commented on #209
切り売りは幅25mmが最小のようです

[2016-10-23 05:25] Nasupl commented on #209
@NamikiHiroaki それでいいです

[2016-10-24 03:10] NamikiHiroaki commented on #209
マジックテープ5m 検収済みです

[2016-10-24 04:12] Nasupl commented on #209
全部揃った

[2016-10-24 04:12] #209 closed

[2016-10-24 05:51] NamikiHiroaki commented on #202
シール用紙検収済みです

[2016-10-25 07:05] Nasupl commented on #190
コーナーモール取り付け．終わったらCloseしてください ＞ @buzzshima

[2016-10-25 07:11] Nasupl commented on #202
高解像度なロゴのデータがないのでそれ待ち

[2016-10-25 07:16] Nasupl opened #217 "alphaの全域地図を上げる"
大清水公園の部分の長さが怪しいので変更しているのをorne_mapsにupする

[2016-10-25 07:32] Nasupl opened #218 "初期位置の決定"
初期位置の設定ファイルに今年の初期位置を設定する

[2016-10-26 03:40] yasuohayashibara commented on #202
一応ロボカップで問合せてみましたが反応がないおそれがあります．
もし間に合わないようでしたら，ウェブ上のものを利用して下さい．

あと，フォーラムエンジニアリングのロゴだけだと「フォーラムエンジニアリング」チームになってしまいますので，千葉工業大学（もしくはORNE？）のロゴは最低限必要だと思います．

サイズや見え方に注意しないとみなさん「フォーラムエンジニアリング」の社員と間違われることになります．

ちなみに，未来ロボティクスのロゴを見つけました．（使わなくても良いが．．．）
![default](https://cloud.githubusercontent.com/assets/5755200/19712442/d6169892-9b78-11e6-9a17-53f77fe1bcf7.jpg)

[2016-10-26 06:24] yasuohayashibara commented on #202
高画質のロゴ手に入れました．

https://drive.google.com/file/d/0B1R8y8aFBfUdSnNJMmNyZERPb1E/view?usp=sharing
https://drive.google.com/file/d/0B1R8y8aFBfUdeE4tQjVaU0JZWFk/view?usp=sharing
https://drive.google.com/file/d/0B1R8y8aFBfUdVFR5ODhPQkUzbWM/view?usp=sharing

[2016-10-31 08:01] Nasupl opened #220 "膨張リセットを導入してからウェイポイントでの経路生成が遅い"
要因は不明
* 膨張リセットによってパーティクルが増えていて，計算リソースが消費されている
  * パーティクルの数をもうひと桁減らしてもいいかもしれない
* navigationパッケージ全体をローカルでビルドしているため，バイナリ配布より重くなっている（？）
  * 最適化オプションをつけてビルドすれば解決するかもしれない

[2016-10-31 08:02] Nasupl opened #221 "βのウェイポイント到着判定をもう少し緩くする"
βは機体が大きくなっている分，ウェイポイントの到着判定をもう少し緩く（到着判定範囲円を広く）してもいいかもしれない

[2016-10-31 08:04] Nasupl commented on #217
https://github.com/open-rdc/orne_maps/pull/21 で上げた

[2016-10-31 08:04] #217 closed

[2016-10-31 08:05] Nasupl commented on #218
- [x] βについては10/29の実験走行のbagファイルから初期位置だけ取り出して設定する．

[2016-10-31 08:05] Nasupl commented on #202
貼った

[2016-10-31 08:05] #202 closed

[2016-10-31 08:07] Nasupl commented on #190
完了しているのでclose

[2016-10-31 08:07] #190 closed

[2016-10-31 08:23] iou16 commented on #220
Gazeboで試している分にはそこまで遅くならない気がするんだけど, 何故だろうか？

[2016-10-31 08:23] Nasupl commented on #220
@iou16 地図サイズは？

[2016-10-31 08:24] iou16 commented on #220
@Nasupl デフォのmymapです. 地図サイズの影響か.

[2016-10-31 08:24] Nasupl commented on #220
そうね，地図サイズの影響は明らか．
しかし，同じ地図でも前回はここまで遅くなかったのでは？

[2016-10-31 11:40] Nasupl commented on #220
2号館北側から東側を通って南側までコの字状に同じ初期位置から同じWaypointsで走行させたときの時間を測定した
- navigationパッケージすべてローカルビルド: 8分40秒
- amclのみをローカルビルド、それ以外はバイナリ配布版navigationパッケージ: 7分46秒

1回のみしか走行させていないので偶然かもしれないが、Waypointにおける次のWaypointへの経路計画は歴然と速い気がした。

[2016-11-01 07:16] Nasupl commented on #220
膨張リセットをビルドするときに最適化オプションをつけてビルドしてあげたほうがいいかも知れない

[2016-11-02 07:54] iou16 commented on #221
https://github.com/open-rdc/fulanghua_navigation/pull/62 でparamで設定できるようにした.

[2016-11-02 09:40] iou16 opened #225 "膨張リセットにおける誘拐状態判定の閾値を調整する"
膨張リセットが頻発し過ぎる. でも膨張リセットがないと完走できない. 閾値を少し高くして対処.

[2016-11-02 09:41] iou16 commented on #225
そもそも, paramで閾値を設定できるようにすべきかも知れない.

[2016-11-03 05:09] Nasupl commented on #225
navigation側はhttps://github.com/open-rdc/navigation/pull/3 で対応済み

[2016-11-03 05:25] Nasupl commented on #210
ユーザが触るlaunchとパラメータだけはロボット毎にファイルを用意して，それ以外を共通化する．

## launchについて

以下のlaunchが共通化できる
- move_base.launch
- localization.launch

共通化可能なlaunchに，ユーザが触るlaunch（nav_static_mapなど)からロボット名をargとして渡すことで，共通化launchからそれぞれのロボットのパラメータファイルを参照できるようにする．

## パラメータファイルについて

また，パラメータファイル群については，以下に例示するように共通化できる部分とできない部分で一つのファイルを複数に分ける

### 現在: すべてのパラメータが双方のファイルに書き込まれている
- localization_params.yaml

[code]
- localization_para

[2016-11-03 05:39] #218 closed

[2016-11-03 05:40] Nasupl commented on #218
#223 で対応完了

[2016-11-03 10:53] #221 closed

[2016-11-03 10:53] iou16 opened #227 "betaの自律走行時の速度を早くする"
図体がデカイくせに遅い.ロボットの大渋滞の元凶になりかねない.少し早くすると人間も幸せ.

[2016-11-03 10:55] iou16 commented on #227
学内でサイズの大きい地図で自律走行させた印象では0.6[m/s]くらい出しても問題なさそう.
ただ少々心配なのが, 突然近くに障害物が出てくると回避するタイミングが若干遅れて避けきれない.でも止まりはするので衝突はしない.

[2016-11-03 11:09] iou16 commented on #227
https://github.com/open-rdc/orne_navigation/blob/indigo-devel/orne_navigation_executor/param/base_local_planner_params.yaml をalphaとbetaで別々に容易しないといけない.

[2016-11-03 11:44] #227 closed

[2016-11-04 16:02] #225 closed

[2016-11-04 16:02] #220 closed

[2016-11-09 07:29] #60 closed

[2016-11-15 06:39] #200 closed

[2016-11-15 06:41] buzzshima commented on #214
細くするとトルクが足りずに旋回できない

[2016-11-15 06:49] Nasupl opened #236 "orne_setupについてREADME.mdに追記する"
orne_setupのcreate_udev_rulesとかcreate_robot_paramを実行し忘れて動かないトラブル続発

[2016-11-15 09:25] buzzshima opened #237 "New_機体　要求仕様　要望"
思いつくこと箇条書きでいいのでどんどん書いてください
参考の写真やURLあると助かります

[2016-11-15 09:33] buzzshima commented on #237
29日のミーティングで話を詰めて行きたいと思います

[2016-11-15 14:58] buzzshima commented on #237
キャスターの位置（前後）
タイヤ径
スイングアーム
モータは変更?

[2016-11-16 06:41] Nasupl commented on #237
仕様を決定していく前に要件を定義しないといけないと思う．
新機体については，つくばチャレンジの環境，ひいては市街地におけるミニマムなロボットにできるといいと思っていて，そのためにはどのくらいの段差を登れなきゃいけなくて，どの程度の環境で自己位置推定できなきゃいけなくて，どのくらいの障害物を見つけられなきゃいけないのか，そういうところから考えなくてはならないんだと思う．

[2016-11-16 06:42] Nasupl commented on #214
車輪間距離を短くするとトルクが足りずに旋回できない．というのはあくまで可能性の話であって，どの程度まで補足したら旋回できなくなるのかは定かではない．
これについては，現状のパラメータから限界を算出する必要がある．

[2016-11-16 07:02] Nasupl opened #238 "経路生成手法の刷新"
### 現在の手法:
1. 人間 (Waypoint(以下WP)を配置することによる大域的な経路生成)
2. global_planner （WP間のローカルな経路生成）（ローカル・グローバル双方のコストマップに影響を受ける）
3. base_local_planner (ローカルな経路に従う速度制御）
* この手法では，一つ一つのWPがゴールになっているため，WPの直上に障害物が存在すると到達できずに経路生成に失敗することがある．
* また，経路生成をWP毎に行うために遅い

### 必要とされている手法
1. 人間 (WPの配置による大まかな通過点の指定）
2. 大域的な経路生成器 (ローカルコストマップに影響を受けず，グローバルコストマップのみ基づいて全てのWPを最短で通過するパスの生成）
3. 局所的な経路生成器 （ローカルコストマップに基づいて，大域的な経路を追従する経路を生成す

[2016-11-16 07:07] Nasupl opened #239 "緊急脱出リカバリの@Homeからの輸入"
2016年度の本走行において，MCLのパーティクルが地図上で占有されているセルの中にめり込んだ上，そのパーティクルの尤度が最尤になったため，経路生成が正しく行えず身動きが取れなくなったことがあった．
このような状態では，ロボットが動ける範囲で動くことによって，自己位置の回復に努めることが必要だと考えられる．
@Homeではこのような状態に対処するために，ロボットの前後に障害物が存在しない場合には微速で前進もしくは更新するリカバリビヘイバを開発し使用している．
つくばチャレンジにおいても，このlead_outプラグイン(緊急脱出用リカバリビヘイバ）を導入するべき．

[2016-11-16 07:09] Nasupl opened #240 "最低加速度の設定"
icart_mini_controlでは，最低加速度を設定することが可能だが，現在は設定されていないため速度指令がでなくなった場合急停止する．このパラメタを設定することでこの問題を解決する．

[2016-11-16 07:14] Nasupl opened #241 "タープ（テント）が雨漏りする"
タープの幌に穴が開いていて雨漏りする．
研究室では今メインで使っているタープの他にもうひとつタープがあるはずなので，そのタープの幌が無事ならニコイチして使う．
どっちもダメなら買う．

[2016-11-16 07:14] Nasupl opened #242 "モバイルバッテリーの追加購入"
PCに給電可能なモバイルバッテリーが一台しか無いので，２台のロボットを運用するには不足している．
もう１台モバイルバッテリーを購入する．

[2016-11-16 07:15] Nasupl opened #243 "第一回実験走行での全域bringuｐのみのbagファイル取得"
以後のデバッグをしやすくするため，第一回実験走行会でbringupのみを立ち上げたbagファイルを取得しておく

[2016-12-06 06:36] Nasupl commented on #241
ダメそうだったので新しいのを買う

[2016-12-06 06:39] Nasupl commented on #242
来年度予算につける

[2016-12-06 06:39] Nasupl commented on #241
来年度になってから買う

[2017-02-14 07:51] iou16 commented on #239
@Homeでは後方視界用のURGがあったが, 今回はないのでどうするべきだろうか.
『コストマップを見れば良いのでは？』と思うかも知れないが, lead_outの当初の目的は“反射動作を実装”するというものなので, できる限り“センサ情報→反射動作”的な実装をしたい.

[2017-02-14 11:48] Nasupl commented on #239
今回の場合は前進するだけでも解決した可能性があるし、前進だけでもできたほうが良いのでは。
スキャンがある方向だけに動けないもんですかね。

[2017-02-14 11:51] Nasupl commented on #212
αは新規設計するので閉じます

[2017-02-14 11:51] #212 closed

[2017-02-14 14:14] buzzshima commented on #214
- とりあえず今のアルファフレームは削らずに倉庫にあったものを削りだして試行する．(350mm＞300~280mmくらい)
- pc部分は間は現在pcが入らなくなるため細くしない．
- 過去のフレームは残しておく．

 計算部分は式がわかりしだい行う

[2017-02-19 13:09] Nasupl commented on #241
買ってもらいました

[2017-02-19 13:09] #241 closed

[2017-02-20 06:01] buzzshima commented on #214
@fujisawa1933  @rakkyo1223   組み立て方法として以下のurlのアルミフレームの組み立て (5/11 steps)を見るとらくにできる(片側につけていく感じを真似る)
http://t-frog.com/products/icart_mini/assembly/

[2017-02-22 02:57] NamikiHiroaki commented on #236
ブランチを切ってREADME.mdを変更したものを上げた（issue#236）
変更点：Usageの下、Bring up the real/simulated robotの前にSettingを追加
　　　初回のみと記載しコードを入れた
他に変更点があれば記入して欲しい

[2017-02-22 05:38] #210 closed

[2017-02-22 08:43] iou16 commented on #239
現在開発中のrecovery behaviorの挙動(4倍速).
![simple_lead_out](https://cloud.githubusercontent.com/assets/7301090/23203231/078ee51e-f925-11e6-8c76-775464d7195e.gif)
具体的には, わざと自己位置を壁上にずらすことでpath plannerをabortさせ, 開発したrecovery behavior(前方を2D LIDARで確認し開けていたら直進するだけ)で復帰している様子.

[2017-02-23 01:25] Nasupl commented on #236
#245 で終了

[2017-02-23 01:25] #236 closed

[2017-02-23 01:52] Nasupl commented on #240
ORNE-αは勝手にゆっくり止まるので必要なさそう．βの狭幅化が終わったらβで調整する．

[2017-02-23 01:53] Nasupl commented on #207
PROGRAMで実行させた外部プログラムのstdoutは$resultで取るっぽい

[2017-02-28 05:15] ShotaroTerato commented on #238
作業内容
　WPをyamlから読み込む　済
　各WPごとの経路を計算　デバッグ中
　各経路を結合　デバッグ中

[2017-02-28 05:18] Nasupl commented on #214
本体の改修は調整は完了．paramとurdfをいじらないといけない．

[2017-02-28 09:20] ShotaroTerato commented on #238
![rviz_screenshot_2017_02_28-18_17_24](https://cloud.githubusercontent.com/assets/7301081/23399119/78f487ce-fde2-11e6-8f3e-9c6bacd8c127.png)
つながった経路の配信

しかし、local planner は動かず

[2017-02-28 09:31] ShotaroTerato commented on #238
WPをyamlから読み込む　済
各WPごとの経路を計算　済
各経路を結合　済

local plannerに反映させる New!

[2017-03-06 09:39] ShotaroTerato commented on #238
global plannerで繋げた経路をlocal plannerで追従するようにはできたが、経路上に障害物が現れるとlocal planner(dwa)で障害物回避してくれない。
dwaのパラメータの問題か

[2017-03-07 05:45] #239 closed

[2017-04-04 03:49] Nasupl commented on #242
土浦プロジェクトはこれを使っているらしい．デカくて安い．
 http://amzn.asia/5ZD4hsH

[2017-04-04 03:50] Nasupl commented on #214
#248 で完了

[2017-04-04 03:50] #214 closed

[2017-04-11 10:14] Nasupl opened #250 "新マシン選定"

[2017-04-11 15:31] buzzshima commented on #237
# コンセプト
 小さくて走破性のたかい機体．
- i-Cart middleをベースに設計

## middleからのおもな変更点
- キャスターサイズの変更
- ホイールベースを短く
-  駆動輪を後部に変更
-  PCのモニタを見やすくするために斜めに設置
-  重心を低く設定

[2017-04-11 15:31] #237 closed

[2017-04-18 06:36] Hiroki-Goto commented on #250
早めに候補をあげる（備品扱いにする）
CPU：i7-７世代以降
RAM：最低8GB，できれば16GB
SSD　容量は常識的なおおきさ
おおきさ：βのマシン以下（重さはとわない）
GPUはできればほしい
USBポート：3ポート以上
画面：取れたり180°以上回したい

[2017-04-18 07:03] buzzshima commented on #250
ThinkPad P40 Yoga はどうでしょう

http://www3.lenovo.com/jp/ja/notebooks/thinkpad/p-series/ThinkPad-P40-Yoga/p/a

[2017-04-18 07:11] buzzshima commented on #250
http://www3.lenovo.com/jp/ja/notebooks/thinkpad/p-series/ThinkPad-P40-Yoga/p/22TP2WPWP40

[2017-04-19 05:55] iou16 commented on #242
発注していたモバイルバッテリーが届いた(検収済)

[2017-04-25 06:04] buzzshima commented on #242
動作確認をする

[2017-04-25 07:29] Nasupl commented on #207
#249 で完了

[2017-04-25 07:29] #207 closed

[2017-04-27 06:30] iou16 commented on #240
https://github.com/open-rdc/icart/blob/indigo-devel/icart_mini_control/config/icart_mini_control.yaml#L34
↑このファイルをこのまま変更するか, 必要であればαとβで分けるか, 意見お願いします.

[2017-04-27 06:34] Nasupl commented on #240
@iou16
そもそもβにおいてはこのパラメータ有効に機能するの？

[2017-04-27 06:53] iou16 commented on #240
βには効き目ありそうですよ

[2017-04-27 06:57] Nasupl commented on #240
@iou16
βで有効なパラメータをαで使ったときに、αの動作に影響がでないならそのまま変更すればよいのでは

[2017-04-27 07:22] iou16 commented on #240
それもそうだな、影響なさそうなのでこのまま変更する.

[2017-04-27 11:36] Nasupl commented on #250
Quadro M500MもちゃんとLinux向けdriverがあるっぽいのでP40 Yogaでいい気がしてきた

[2017-05-06 07:19] Nasupl commented on #201
電子負荷で挙動をみたところ、12Vのレギュレータが50mA負荷時に500mVドロップし、120mA負荷をかけたところでシャットダウンしてしまった。定格1A品なのでレギュレータの故障であると考えられる。
また、正常品も同様にテストしたが、こちらも950mAでシャットダウンしてしまった。定格消費電流700mAで1A以上の容量を持つ電源が推奨されているTop-URGにおいてこの性能はいささか不安がある。レギュレータの変更や、またこれまでのトラブルを考慮すると絶縁型のDCDCを使った電源回路に変更するべきなのかもしれない。

[2017-05-06 10:11] yasuohayashibara commented on #201
多くの人に影響する問題だと思いますので，渡辺先生（確か設計は渡辺先生でしたよね）にフィードバックしたほうが良さそうですが，夏迫くんにお願いして良いですか？
難しければ林原が行います．

[2017-05-08 06:17] Nasupl commented on #201
@yasuohayashibara やりましょう

[2017-05-08 09:22] Nasupl commented on #201
TF-2MD3-R6のMLに投稿しました

[2017-05-09 06:26] iou16 opened #251 "ORNE-βの左側のキャスタが浮いている"
ORNE-βの左側のキャスタが浮いていた. キャスタの取り付けられているフレームを取り付け直し等したが, まだ浮いている. キャスタのバネがダメになっているなど考えられるが, 調査中. 担当者求む.

[2017-05-09 08:44] Hiroki-Goto commented on #242
動作確認を行った（問題なかった）

モバブの出力が12Vと20Vの二種類があるためPCを充電するときは確認を行った方がいい

[2017-05-09 08:56] Nasupl commented on #242
@Hiroki-Goto PCは20Vでいいですね？

[2017-05-09 08:59] Hiroki-Goto commented on #242
@Nasupl 20Vで大丈夫です

[2017-05-09 10:40] buzzshima commented on #251
右と左キャスターを交換したら両方とも，地面設置するようになった

[2017-05-09 10:40] #251 closed

[2017-05-16 05:58] Nasupl commented on #242
予算が決まり次第もう1台買う

[2017-05-17 09:08] iou16 commented on #240
最低加速度の設定前の挙動
![img_1359_short](https://cloud.githubusercontent.com/assets/7301090/26146626/d0d551d6-3b2b-11e7-815c-ea021c30b756.gif)

[2017-05-17 09:11] iou16 commented on #240
最低加速度の設定後の挙動
![img_1358_short](https://cloud.githubusercontent.com/assets/7301090/26146715/22e35d10-3b2c-11e7-945c-1ac0901fbf35.gif)

[2017-05-18 13:29] Nasupl commented on #250
見積もり中

[2017-05-18 13:41] Nasupl commented on #201
更に解析した結果ポリスイッチが故障していたので、交換する。bel Fuseの0ZCJ Series。

[2017-05-23 02:45] yasuohayashibara commented on #240
あまり加速度を下げすぎると応答が遅くなり障害物回避などに問題が発生するかもしれませんが，オドメトリの精度を考えると最大加速度はできるだけ下げたほうが良いです．

[2017-05-23 06:04] yasuohayashibara commented on #242
購入しました．
issueを閉じます．

[2017-05-23 06:04] #242 closed

[2017-05-23 06:09] ShotaroTerato opened #252 "バッテリーカバーの作成"
バッテリーカバーが紛失しているため、プラスチック段ボールなど用いて再度作成する必要がある

[2017-05-23 06:10] Nasupl commented on #252
@rakkyo1223 @nao2853 @ryotasuzuki0919 @fujisawa1933 @NamikiHiroaki どなたか主導してやっていただきたく

[2017-05-24 08:15] nao2853 commented on #252
制作しました

[2017-05-25 09:05] yasuohayashibara commented on #250
購入の手続きを進めていますが，申し訳ありませんが，既にウェブページがなくなっています．
発注にはカタログが必要になるのですが，もしかして販売終了でしょうか．
もし分かる方はできるだけ早めに教えてくれると助かります．
このままだと再度型番選定から始めなければならないかもしれません．

[2017-05-25 09:10] Nasupl commented on #250
@yasuohayashibara
Webページがなくなっているというのがよくわからないのですが、どのWebページがなくなっているのですか？
製品のWebページは存在しているようですが。 http://www3.lenovo.com/jp/ja/notebooks/thinkpad/p-series/ThinkPad-P40-Yoga/p/22TP2WPWP40

[2017-05-25 09:21] yasuohayashibara commented on #250
￥182,218という価格が記載されていますが，間違いないでしょうか．
見積もりが224,070円ですが，差額は手数料？
カタログと見積もりを事務に出して妥当性を審査されますので弾かれるおそれがあります．

[2017-05-25 09:40] Nasupl commented on #250
@yasuohayashibara
今回見積もりをお願いしたのは http://www3.lenovo.com/jp/ja/static/catalog/nb-2016-p40yoga_cf_0119 の20GR0003JPで、このページには見積もりを取った製品の直販価格も書いてありますが、このページでよろしいですか？

[2017-05-25 09:48] yasuohayashibara commented on #250
見れました．ありがとう．
こちらで発注します．

[2017-05-29 15:09] yasuohayashibara commented on #250
転送します．

2017年5月29日 17:48 池田　大輔 <d-ikeda@chibasokki.co.jp>:

[2017-05-30 05:53] #250 closed

[2017-05-30 05:55] Nasupl commented on #151
とりあえず閉じます

[2017-05-30 05:55] #151 closed

[2017-05-30 05:55] Nasupl commented on #131
とりあえず閉じます

[2017-05-30 05:55] #131 closed

[2017-05-30 05:55] Nasupl commented on #84
閉じます

[2017-05-30 05:55] #84 closed

[2017-05-30 05:55] #67 closed

[2017-05-30 05:56] Nasupl commented on #97
問題が発生していないので閉じます

[2017-05-30 05:56] #97 closed

[2017-06-06 05:55] Nasupl commented on #252
@nao2853
新しいバッテリーが来たのでもう2個お願いします

[2017-06-13 05:54] #252 closed

[2017-06-13 05:57] Nasupl opened #253 "新機体のdescription変更"
新機体のハードウェアに併せてurdf等を変更する必要がある

[2017-06-13 06:00] Nasupl commented on #253
変更が必要なもの
* xacro
* ypspurのパラメータ

[2017-06-13 06:01] Nasupl opened #254 "持ち物リストの更新"
古臭くなっているので更新する

[2017-06-15 09:03] Hiroki-Goto commented on #254
更新しました

足りないものなどあれば，コメントをおねがいします

[2017-06-20 06:09] Nasupl opened #255 "新PCのセットアップ"
* Ubuntu 16.04
* ROS Kinetic Kame
* CUDA 8.0
* Open CV ( <= 3.1 )
* ZED SDK

[2017-06-26 09:32] Hiroki-Goto commented on #253
こちらもβと同様に最低加速度を設定する必要があると思われる

[2017-06-27 06:12] Nasupl commented on #255
nVidiaのドライバのインスコ中

[2017-06-27 06:14] Nasupl opened #257 "空気入れの先端がない"
空気入れの先端，チューブのバルブに差し込む部分がない．

[2017-06-27 06:17] Hiroki-Goto commented on #254
管理シートの作成がまだ終わってない
@fujisawa1933 にまかせる

[2017-06-27 06:20] Hiroki-Goto commented on #253
gazeboの完成などの設定ファイルの変更も行う

[2017-06-27 06:36] Hiroki-Goto opened #258 "試走会に必要なものの購入"
購入するものを書いていく

[2017-06-27 06:36] buzzshima commented on #254
ネジケースとブラケット

[2017-06-27 06:37] Nasupl commented on #258
#257

[2017-06-27 06:37] Hiroki-Goto commented on #258
プラスチックダンボール２畳

[2017-06-27 06:40] rakkyo1223 commented on #258
・テスター用電池
・養生テープ（白）
・ガムテープ（白）

[2017-06-27 07:39] rakkyo1223 commented on #258
自分が上に書いた3つは購入しました。

[2017-06-29 07:19] buzzshima opened #259 "ロボットの外装部分取り付け"
レギュレーションを満たす簡易なものでorne a & βともにつける
βは昨年度のものを流用

[2017-07-03 06:03] rakkyo1223 commented on #258
プラダンと予備のコーナーモール購入しました

[2017-07-06 07:06] buzzshima commented on #259
完成した

[2017-07-07 11:44] Nasupl commented on #257
先端、売ってなさそう・・・。

[2017-07-07 11:45] Nasupl commented on #255
@ryotasuzuki0919 完了でいいですか？

[2017-07-07 14:15] Hiroki-Goto opened #261 "Kinetic対応"
ROSのバージョンがkineticの場合，今までの導入方法だとパッケージ等が足らないためcatkin buildできない問題が発生する

そのためwikiを変更する必要がある

[2017-07-07 14:28] Hiroki-Goto commented on #261
忘れないうちにメモ
・hokuyo_nodeの入れ方
http://answers.ros.org/question/243232/how-to-install-hokuyo_nodeurg_node-on-kinetic/
を参考に導入する
・icart_mini_driverのCMakeList.txtの24行目YPSpur->ypspur
・icart_mini_gazeboのCMakeList.txtに「add_definitions(-std=c++11)」の追加
・navigationパッケージのvoxcel_gridディレクトリの削除（？）
・YPSpurの導入時にcatkin build を行わない（依存関係の解決時に問題が起きる）

[2017-07-07 15:17] Nasupl commented on #261
@Hiroki-Goto navigation stackはkinetic-develなら通るのではないですかね？（膨張リセットをなんとかする必要がありますが）

[2017-07-07 16:32] ryotasuzuki0919 commented on #255
PCセットアップ完了です

[2017-07-11 06:32] Hiroki-Goto commented on #261
ｔｆ周りの対応

[2017-07-11 06:33] #258 closed

[2017-07-11 06:34] buzzshima commented on #257
空気入れを購入する

[2017-07-11 06:35] buzzshima commented on #243
betaは次回も取得

[2017-07-18 06:04] #254 closed

[2017-07-18 06:04] #255 closed

[2017-07-18 06:04] #259 closed

[2017-07-18 06:07] Hiroki-Goto opened #262 "βの地図作成"
第1回試走会で取得した地図と前回までの地図を合成する

[2017-07-25 06:11] iou16 commented on #262
合成した. 出来は7/25のミーティングで確認. 自動ドアを消し忘れたので消す. https://github.com/open-rdc/orne_maps にアップロードしようとしたが, git lfsが容量オーバであげられないので, 研究室マシンをgitサーバにし, そちらに上げる.

[2017-08-08 04:15] Hiroki-Goto commented on #257
ホースを買った
先端は売ってなかった
届いたら閉じる

[2017-08-08 04:25] Nasupl opened #264 "orne_mapsのレポジトリ移転"
#262 で，Githubでは容量が足りなくなってしまったので研究室のサーバにレポジトリを移転する

[2017-08-08 04:31] Nasupl opened #265 "電気関係の資料作成"
ORNEのエレクトロニクスについて資料が何もないので資料を作成する

[2017-08-08 04:32] Hiroki-Goto opened #266 "ORNE-Xの外装"
林原先生の夏休みの宿題

[2017-08-08 04:39] Nasupl opened #267 "3DURGの配線"
青が-で茶色が+

[2017-08-08 08:31] Nasupl commented on #267
おわり

[2017-08-15 04:14] #267 closed

[2017-08-15 04:16] Hiroki-Goto commented on #257
ホースをテープでとめる

[2017-08-16 07:34] ShotaroTerato commented on #261
旋回時orne-xのgazeboのモデルの動きがおかしかった（直進走行は正常）
→base_linkから駆動輪が前後方向に大きく離れていると信地旋回ができなくなる挙動がみられた
orne_x.xacro：ロボット本体､車輪ごと0.1m前方に移動させ、駆動輪軸をbase_linkに近づけたところ改善した

[2017-08-16 07:43] ShotaroTerato commented on #253
旋回時orne-xのgazeboのモデルの動きがおかしかった（直進走行は正常）
→base_linkから駆動輪が前後方向に大きく離れていると信地旋回ができなくなる挙動がみられた
orne_x.xacro：ロボット本体､車輪ごと0.1m前方に移動させ、駆動輪軸をbase_linkに近づけたところ改善した
928102b

[2017-08-16 08:40] ShotaroTerato commented on #261
bringupのみのときのtf
nav_static_mapしたときのtf

![frames_only_bringup](https://user-images.githubusercontent.com/7301081/29354969-35998784-82aa-11e7-841c-b0b4c0842d24.png)
![frames_with_map](https://user-images.githubusercontent.com/7301081/29354988-444f25fe-82aa-11e7-8481-001250372feb.png)

[2017-08-17 02:07] yasuohayashibara commented on #201
届きましたので机の上に置いておきます．

[2017-08-17 04:30] ShotaroTerato commented on #261
https://answers.ros.org/question/259341/frames-not-shown-using-view_frame-node-but-in-rviz/
このページを参考に
rosrun tf2_tools view_frame.py
を実行した結果
![tf2_frames](https://user-images.githubusercontent.com/7301081/29395916-5d814bc4-834f-11e7-8699-193191910463.png)
配信されているtfトピック
/tf
/tf_static

[2017-08-17 05:49] Nasupl commented on #201
交換した

[2017-08-17 05:52] Nasupl commented on #192
基板を作成した
![dsc_1009](https://user-images.githubusercontent.com/7274407/29397788-a8692bbe-835b-11e7-8b83-6655388b84e9.JPG)

[2017-08-17 08:40] Nasupl commented on #264
普通のremoteレポジトリをつくってlfsで管理して，httpsでアクセスしようとしてもうまくいかない．sshだったらうまく行きそうだけど，鍵の管理とか悩みどころ．めんどくさい．
GitLabを導入してどうにかしようとしているけどうまくいっていない．

[2017-08-17 08:41] Nasupl commented on #192
ハーネスも作成したのであとは板に取り付けるだけ．スペーサを買ってこないといけない．

[2017-08-21 01:34] Nasupl commented on #265
電源基板の故障診断・修理に関する記事を書いた
https://github.com/open-rdc/orne_navigation/wiki/t-frog%E9%9B%BB%E6%BA%90%E5%9F%BA%E6%9D%BF_TF-PW36-5-12M_%E6%95%85%E9%9A%9C%E8%A8%BA%E6%96%AD

[2017-08-22 04:11] Nasupl commented on #261
@Hiroki-Goto
https://github.com/open-rdc/orne_navigation/issues/261#issuecomment-313697900 について，kinetic-develブランチを作成して反映してください．

[2017-08-22 04:14] #201 closed

[2017-08-24 04:59] Nasupl commented on #257
そうそう抜けなさそうなのでテープで留めなくてもよさそう

[2017-08-24 06:30] Nasupl opened #269 "Kineticでnav.rvizを開くとRvizがSegmentation faultで落ちる"
#261 関連
ROS Kineticの環境において，orne_navigation_executerのnav.rvizを開くと，RvizがSegmentation faultで落ちる．
同じ設定をして保存すれば落ちない模様

[2017-08-24 06:45] Nasupl commented on #265
モータドライバの故障診断・修理に関する記事を書いた
https://github.com/open-rdc/orne_navigation/wiki/t_frog%E3%83%A2%E3%83%BC%E3%82%BF%E3%83%89%E3%83%A9%E3%82%A4%E3%83%90_TF_2MD3_R6_%E6%95%85%E9%9A%9C%E8%A8%BA%E6%96%AD

[2017-08-24 08:11] Nasupl commented on #261
具体的作業
- [x]  orne_pkgs.installの変更
- [x] 依存関係の解決
  * hokuyo_nodeはdeprecatedなのでurg_nodeに変える
- [x]  navigationパッケージの対応
  * https://github.com/open-rdc/navigation/issues/7
- [x]  icartパッケージの対応
  * icart_mini_driverのCMakeList.txtの24行目YPSpur->ypspur
  * icart_mini_gazeboのCMakeList.txtに「add_definitions(-std=c++11)」の追加
  * icart_mini_drive.launchでもurg_nodeが立ち上がるようにする
- [x]  #269
- [x]  #274 のurg_node関連対応

[2017-08-24 08:12] Nasupl commented on #269
state_trigger_panelを読み込むと落ちる

[2017-08-24 09:05] Nasupl commented on #269
https://answers.ros.org/question/233795/kinetic-rviz-segfaults-when-loading-panel/ を参考に https://github.com/open-rdc/orne_navigation/commit/7c9692cfadeaa4ac0e29201fe8f493cf2605dd91 で対応した．
#261 でindigoと共通する部分の対応が終わったらkinetic-develブランチをつくってマージする

[2017-08-24 09:44] Nasupl commented on #269
Indigoも対応しているのでこのままindigo-develに一旦マージする

[2017-08-25 07:46] Nasupl commented on #195
wait_near_pointに状態が遷移した後，ロボットがゴールに向かわない．その時のゴールはtargetからmost_nearじゃないところに出ている．

[2017-08-29 04:08] Nasupl commented on #269
#270 で対応

[2017-08-29 04:08] #269 closed

[2017-08-29 04:08] Nasupl commented on #257
@ShotaroTerato がテープで留めたので終了

[2017-08-29 04:09] Nasupl commented on #253
footprintを変える必要がある

[2017-08-29 10:22] Nasupl commented on #192
取り付け/動作確認終了．
あとは #265 でドキュメントを作成するのみ．

[2017-08-30 02:48] yasuohayashibara commented on #266
本日，工作センタと相談して，最終的に以下の方法で製作することにしました．

１）CADで外装の3Dモデルを製作する．
２）輪切りにして，2Dのデータに変換
３）2Dデータに従いスタイロフォームをウォータジェットで切断
４）重ねて段差をヤスリがけ　→　型が完成
５）その型を使用してFRP成形
６）乾燥したら，スタイロフォームを崩して完成

FRP成形をしたことがないので，本日キットを購入して小さなモデルで勉強会の後に試してみたいと思います．
ご興味のある方はご参加下さい．

[2017-08-31 02:18] yasuohayashibara commented on #266
お試しでサーフボード補修用のFRPを購入した．

使用したキットの写真
![dsc_2246](https://user-images.githubusercontent.com/5755200/29903082-ea08b8a0-8e3c-11e7-98f4-9cb25065387f.JPG)

スタイロフォームに凹みを作り，グラスウールをかぶせて，硬化剤を入れたプラスチックの溶液を叩くように染み込ませた．
（作業を行っていたので写真なし）

アセトンでのハケの洗浄が遅れた(30分程度)ため，固着して再利用不可能となった．
紙コップの液体も30分程度で表面は完全に固形化した．
FRPの溶液は臭いが，どちらかというと洗浄に用いたアセトンの方が臭いがきついかもしれない．

１時間程度放置したら，臭いがそれほどしなくなったため，ゴミ袋にいれて，３Fに置いた．
２４時間放置して，完成の状態を確認

[2017-08-31 04:58] yasuohayashibara commented on #266
ベタな設計ですが，外装の外観です．
内部の部材が見えていますが，あまり気にしないでください．
すっぽり被せるように取り付けます．
干渉する部分は成型した後にカットします．

![2017-08-31 13-52-08](https://user-images.githubusercontent.com/5755200/29907018-f995238c-8e53-11e7-9db4-77560314a284.png)

![2017-08-31 13-52-33](https://user-images.githubusercontent.com/5755200/29907021-fd8a80a4-8e53-11e7-86e3-b48b49d7bbf8.png)

来週には製作する予定ですので，何かありましたら早めにご意見下さい．

[2017-08-31 05:32] Nasupl commented on #266
@yasuohayashibara
前輪が回転した時に干渉しませんか？
また，スイッチパネルはどこにつく予定ですか？

[2017-08-31 05:56] yasuohayashibara commented on #266
前輪に関して
見た感じギリギリのような気がしますが，前輪は前後左右に動かすことができるので，干渉したら少しずらします．

スイッチパネル
手押し棒の根本の下に置きます．パネルの部分に関しては，干渉しますのでカットします．

工場に加工をお願いしなければならない関係で，先に外装の形状を確認させてもらえればと思います．

スタイロフォーム発注済み，工場にカットの予約もしました．
40mmのスタイロフォームが望ましいということですので，14枚のスタイロフォームを重ねることになります．

[2017-08-31 05:57] Nasupl commented on #266
@yasuohayashibara
これは個人的な興味なのですが，輪切りはどの軸に対して輪切りにするのですか？

[2017-09-01 00:43] yasuohayashibara commented on #266
左右方向に積層します．
全て同じ形状でカットしてもらい，ロボットの左右の丸みはヤスリがけで作る予定です．

[2017-09-01 00:47] yasuohayashibara commented on #266
スイッチパネルを含めた外観です．
![image](https://user-images.githubusercontent.com/5755200/29950905-fb19739c-8ef9-11e7-8fe0-5bded4356159.png)

インターフェイス及びスイッチは以下の通りです．

1)有線LAN x 1
IE-FCM-RJ45-FJ-P

2)USB x 3
IE-FCM-UAB-A

3)LED
DW-10ML-IP-AC/DC5V-60V-R/C

4)スイッチ
M-2012W/B

5)電源
D/MS3100A12S-3P

スイッチとLEDに関しては，Arduinoを介して利用することになると思います．
全て防水ですので，常に暴露した状態で使用します．

[2017-09-01 02:45] yasuohayashibara commented on #266
整形したFRPに穴があり，水が漏れる様子
https://www.youtube.com/watch?v=A4W5yGAT3og&feature=youtu.be

[2017-09-01 08:57] ShotaroTerato commented on #253
footprintを変更した
#271

[2017-09-01 10:48] Nasupl commented on #195
2回目以降のアプローチにおいて，waypoints_navが停止していないためにコストに引っかかってもたもたしているとwaypoints_navが動いて進んでいってしまう問題がある

[2017-09-05 04:40] Hiroki-Goto commented on #261
rvizの読み込むファイルを元に戻す

[2017-09-05 04:41] Hiroki-Goto commented on #257
ホースの先っぽの形状が違った

[2017-09-12 04:08] #192 closed

[2017-09-12 06:15] Hiroki-Goto commented on #257
空気入れの使い方が間違っていただけだった

[2017-09-12 06:16] Nasupl commented on #257
ミーティングを待たずに閉じます

[2017-09-12 06:16] #257 closed

[2017-09-18 12:34] Nasupl commented on #240
マージした (https://github.com/open-rdc/icart/pull/117)

[2017-09-18 12:40] Nasupl commented on #195
そもそも、waypointsをgoalとしていちいちsubscribeしてるのがおかしいので、https://github.com/open-rdc/fulanghua_navigation にwaypointsをnav_msgs/PoseArrayで要求できるserviceをつくって、起動時に全waypointsをもらって計画できるようにしたい。

[2017-09-19 07:57] yasuohayashibara commented on #266
スタイロフォームが到着したので，工場に出してウォータで型を作ります．

[2017-09-19 08:01] #240 closed

[2017-09-19 08:05] buzzshima commented on #195
B3から募集

[2017-09-19 11:14] Hiroki-Goto opened #272 "StateTriggerPanelをkineticで読み込むとrvizが落ちる"
kineticでnav.rvizを読み込んだ場合，おそらくStateTriggerPanelが原因でrvizが落ちる

[2017-09-19 11:14] Hiroki-Goto commented on #272
今のところの対応
kineticはnav.rviz以外のファイルを読み込むことで対応
自律移動する際はサービスを送ってる（wikiのコマンドではスタートしない）

[2017-09-19 11:15] Nasupl commented on #272
@Hiroki-Goto orne_toolsを最新にしてビルドしましたか？

[2017-09-19 11:38] Hiroki-Goto commented on #272
最新にしてみてやってみた結果です
・orne_toolsのSaveTriggerPanel->読み込むことはできた
・orne_rviz_pulginsのStateTriggerPanel->rvizは落ちる

あとnav.rvizですが，StateTriggerPanelだけを読み込んでいるっぽいです

[2017-09-19 11:41] Nasupl commented on #272
@Hiroki-Goto Hiroki-Goto orne_rviz_pluginも#270 で対応しているはずですが、そのテストはどのブランチで試していますか？

[2017-09-19 11:42] Hiroki-Goto commented on #272
テストのブランチですが，change_orne_x_descriptionでやっています

[2017-09-19 11:45] Nasupl commented on #272
@Hiroki-Goto そのブランチには #270 がマージされていないからだと思います。なぜKinetic develではなくそのブランチなんですか？

[2017-09-19 11:55] Hiroki-Goto commented on #272
kinetic develのブランチはαのURDFの変更などが適用されていなかったため，変更を適用しているchange orne x description でテストをしていました

最新版のindigo develでやってみしたが落ちませんでした

[2017-09-19 11:56] Nasupl commented on #272
@Hiroki-Goto indigo-develをkinetic-develにマージしてください

[2017-09-20 03:53] Nasupl commented on #272
#273 が終了したら終了

[2017-09-20 06:07] Nasupl commented on #272
#273 マージした

[2017-09-20 06:07] #272 closed

[2017-09-20 15:47] yasuohayashibara commented on #266
工場に発注しました．
[outer_body.zip](https://github.com/open-rdc/orne_navigation/files/1318323/outer_body.zip)

できるだけ明日(9/21)加工するそうです．

[2017-09-21 03:56] Nasupl commented on #261
@Hiroki-Goto icartパッケージにもkinetic-develを立ち上げたので，CMakeLists周りの変更をお願いできますか？

[2017-09-21 07:44] Hiroki-Goto commented on #261
@Nasupl プルリクを送りましたので確認をお願いします.

[2017-09-21 07:47] Nasupl commented on #261
@Hiroki-Goto 動作はKinetic環境で確認済みですよね？

[2017-09-25 05:07] iou16 opened #275 "17/09/23に作成したβ用のwaypointsの編集・合成"
17/09/23の試走会で作成した, βのトライアル区間内のwaypointsとトライアル区間外のwaypointsを編集・合成する.
以下, 主な仕事内容.
- トライアル区間外には, いくつか位置を修正しなくてはならないwaypointがあるので修正する.
- トライアル区間外はゴール付近のwaypointが雑に配置してあるのでそれっぽく調整する.
- トライアル区間内はwaypointを密に配置しすぎているという意見もあるので間引く.
- 上記3つの作業が終了したら, ２つを合成する.

[2017-09-26 09:24] Nasupl commented on #275
@rakkyo1223
上に書いてあることをやる

[2017-09-26 09:25] Nasupl commented on #264
@yasuohayashibara にお願いしてgithubに課金してもらう

[2017-09-26 09:27] Nasupl commented on #262
@rakkyo1223
編集した地図コミットだけしとく

[2017-09-26 09:31] Nasupl commented on #261
https://github.com/open-rdc/icart/pull/119 と https://github.com/open-rdc/icart/pull/118 でicart周りは終わり

[2017-09-26 09:31] #253 closed

[2017-09-26 09:33] Nasupl commented on #243
αは取った．βはローカルからDAVに移す（消してなければ）消えてたら寺戸のを移す．

[2017-09-26 09:37] Nasupl opened #276 "9/23の実験走行での忘れ物をリストに反映したりする．"
忘れたもの
* モバイルバッテリーのケーブル
* βの外装の一部
* βの電装の蓋

[2017-09-26 09:37] Nasupl opened #277 "テントの錘を買う"
先生にお願いする

[2017-09-26 09:39] Nasupl opened #278 "ジョイスティックで操作するときの速度を上げる"
超高速モードをつくる

[2017-09-26 09:39] Nasupl opened #279 "αのnavigationの最高速度を変更する"
0.4m/sは遅い

[2017-09-26 09:39] ShotaroTerato commented on #277
https://www.amazon.co.jp/%E3%82%A2%E3%82%A4%E3%83%AA%E3%82%B9%E3%82%AA%E3%83%BC%E3%83%A4%E3%83%9E-%E3%82%A6%E3%82%A9%E3%83%BC%E3%82%BF%E3%83%BC%E3%82%BF%E3%83%B3%E3%82%AF-10%E3%83%AA%E3%83%83%E3%83%88%E3%83%AB-%E3%80%902%E5%80%8B%E3%82%BB%E3%83%83%E3%83%88%E3%80%91-WAT-10L/dp/B00TDKRUAG/ref=pd_sim_200_11?_encoding=UTF8&psc=1&refRID=XMZBPNX82R4NTRXN2XFQ

10L　2個セット　ウォータータンク　880円

[2017-09-26 09:49] Nasupl opened #280 "βで西友前の段差が乗り越えられるかチェック"
ウェイポイントも貼る

[2017-09-26 09:49] Nasupl opened #281 "αゴール付近地図合成する"

[2017-09-26 09:50] yasuohayashibara commented on #277
購入しました．
issueを閉じます．

[2017-09-26 09:50] #277 closed

[2017-09-27 03:24] yasuohayashibara commented on #264
課金プランに加入しました．
ご確認下さい．

[2017-09-30 23:01] yasuohayashibara commented on #266
FPR成形しました．
ちなみに初めてFRP成形したので，ややミスありです．

１）ウォータカッターで切った型を抜きます．

![dsc_2372](https://user-images.githubusercontent.com/5755200/31050109-9befad10-a67c-11e7-81e8-4ed89066c716.JPG)

２）重ねます．
　　CADデータに従って切れるので，もっと自由な形状にできるのですが，今回はわりとシンプルな形状です．　

![dsc_2373](https://user-images.githubusercontent.com/5755200/31050112-a36d12a8-a67c-11e7-8020-00042f3c8921.JPG)

３）ガムテープでぐるぐる巻きにします．
　　ちなみに，ガムテープを付けないとスタイロフォームが溶

[2017-10-03 06:39] buzzshima commented on #278
yamlを変更

[2017-10-03 06:41] buzzshima commented on #278
1m/sでまっすぐ走るか確認

[2017-10-03 06:45] buzzshima commented on #276
ケーブルを探してから閉じる

[2017-10-03 06:52] buzzshima commented on #266
白で塗装

[2017-10-03 06:52] Nasupl commented on #281
@nao2853  https://github.com/open-rdc/orne_maps/pull/29 に併せてやってください．

[2017-10-03 06:54] #264 closed

[2017-10-03 06:55] #262 closed

[2017-10-04 22:00] yasuohayashibara commented on #266
１）乾燥した様子

![dsc_2391](https://user-images.githubusercontent.com/5755200/31201124-7f7e12ce-a998-11e7-9993-cb192559f8aa.JPG)

２）スタイロフォームを外した様子
　　準備と後片付け合わせて３時間かかりました．

![dsc_2393](https://user-images.githubusercontent.com/5755200/31201148-93355750-a998-11e7-9f03-615f361848b1.JPG)

３）硬さを確認した様子

https://youtu.be/G0-p3yR42zc

思っていた以上に固くてそのまま使えそうです．
まだ内側がしっとりしているので，もう少し乾燥させてから切断・塗装します．

得られた知見
・４日間経っても中

[2017-10-06 08:02] Hiroki-Goto commented on #278
1m/sに変更後の挙動
https://youtu.be/MgkafqL5mzw

[2017-10-10 04:09] yasuohayashibara commented on #266
グラインダで不要部分を削り取りました．
![dsc_2420](https://user-images.githubusercontent.com/5755200/31368945-e1ae1986-adbb-11e7-8a03-33a3ca03695d.JPG)

クレンザでケースを洗いましたが一部繊維が飛び出しており，まだチクチクします．

パテを盛って，ヤスリをかけて，必要な部分に穴をあけたら塗装します．

[2017-10-10 04:10] ShotaroTerato commented on #243
2017/07/08のβのbagファイルをDAVにアップロードした

[2017-10-10 04:51] #276 closed

[2017-10-10 05:03] #243 closed

[2017-10-10 05:04] ShotaroTerato commented on #243
補足：βのPCのローカルに保存されていたbagファイルをアップロードした

[2017-10-10 05:48] Nasupl commented on #266
今週末に向けて
* まずは外装を機体に合わせる
* 外装が使える場合
  * パテ盛ってヤスリがけする
  * 塗装する
  * PCは外装の下に入ってしまうので，無線LANルータを積んでvino, reminaでVNCできることを確認する
* 外装が使えない場合
  * 電子回路，PC周辺の防水処理をする

[2017-10-11 10:15] yasuohayashibara commented on #266
外装をロボットに被せてみた．
外装のバリがフレームに干渉してはめづらいが，フィットしている．
干渉する部分があったが，フレームをずらすと干渉しなくなった．
（長島君からいただいた図面と少しずれていたので，図面に従ってずらしました．）

![dsc_2432](https://user-images.githubusercontent.com/5755200/31434699-105e992a-aeb8-11e7-8e24-04d40d467a58.JPG)

[2017-10-11 10:29] yasuohayashibara commented on #266
１）ペンでマーキングして，現物合わせでカットして，再度被せた様子．
　　良い感じではまっています．（パテ塗りの作業の紹介が抜けていた．．．）

![dsc_2438](https://user-images.githubusercontent.com/5755200/31434954-ed23d9b0-aeb8-11e7-95aa-12cc15aed6c3.JPG)

上から見た様子
![dsc_2440](https://user-images.githubusercontent.com/5755200/31435058-4037303e-aeb9-11e7-98b5-dc85749cf25c.JPG)

２）ヤスリがけをしました．
　　（こちらも写真なし．２時間？ぐらいかけて穴あけヤスリがけをしました．）
　　粉を被っていたのでクレンザで洗いました．

![dsc_2441](http

[2017-10-11 11:43] iou16 opened #283 "17/09/23のαのwaypoitnsにトライアル区間外を追加してアップロードする"

[2017-10-12 08:54] iou16 opened #286 "βのbringupのscan_devが違う."
https://github.com/open-rdc/orne_navigation/blob/indigo-devel/orne_setup/config/70-sensors.rules#L1
getIDしているのに, URGのIDがない. 今使っているURGのIDを付け足す.

[2017-10-13 00:41] yasuohayashibara commented on #266
ロボットにはめてみました．

注意事項として，

１）ほとんど乾いていますが，だまになっていて乾ききっていないところがあります．
　　よく注意して作業して下さい．
２）はめると中の部品にはアクセスできません．
　　再度あけて作業するのは結構大変ですので，よくチェックして組み立てる必要があります．
３）ポールと斜め付けURGはケースを取り付けてから組み立てる必要があります．
　　ケーブルの扱いが難しいですが，予め配線してから組み立てることになります．
　　※斜め付へURGに関しては，夏迫くんが外さなくても良さそうな処置をしていました．
４）あまり無理な力を加えるとおそらく壊れます．
５）バッテリの電圧メータが見えなくなります．

あと，根本的な問題として，組み立てて気づいたのですが，下からの水には弱いです．
想定されることとして，

１）雨粒が大きい時に，地面に叩きつけられた水が跳ね返って中

[2017-10-13 00:43] yasuohayashibara commented on #266
実験走行(10/14,15)後に本格的な防水処置及び端子台の追加をして，issueを完了させたいと思います．

[2017-10-13 05:33] Nasupl commented on #283
#284 マージしたので終了

[2017-10-13 05:33] #283 closed

[2017-10-13 05:33] Nasupl commented on #281
open-rdc/orne_maps#29 マージして終了

[2017-10-13 05:33] #281 closed

[2017-10-13 05:34] Nasupl commented on #275
#275 マージしたので終了

[2017-10-13 05:34] #275 closed

[2017-10-13 06:09] #286 closed

[2017-10-17 06:43] Nasupl opened #290 "テントの雨漏り"
ポツポツ雨漏る
縫い目から雨漏りするらしい
防水スプレー買ったほうがいい

[2017-10-17 06:46] Nasupl commented on #266
### 運用してわかったこと
* 取り外しにくい
* 端子台がないと困る
* GPSはβに乗せる
* 緊急停止スイッチのコネクタをもっと伸ばして付け外しを楽にする

[2017-10-17 06:51] Nasupl opened #291 "βの外装"
外装がURGの視界にかぶる

[2017-10-17 06:52] Nasupl opened #292 "自動ドア対策"
自動ドアの手前で止まって経路を他のところに生成しようとしてしまう
戦略面で対応．自動ドアエリアではドアが開いたら強制的に進むようなプログラムを書く．

[2017-10-17 06:54] Nasupl opened #293 "17/10/14,15のwaypointsの編集"
### alpha
* 公園内の最初の直線のwaypointsが足りない
* 編集したwaypointsと公園外のwaypointsのマージ

### beta
* 紙をチェックして何とかする

[2017-10-17 06:56] Nasupl opened #294 "足りないものを買う"
* 布テープ
* ダクトテープ
* 防水スプレー( #290 )
* PPシート

[2017-10-17 06:57] Nasupl opened #295 "結界を張る"
進入禁止領域に結界を張る

[2017-10-17 06:58] Nasupl opened #296 "地図の編集"
* βの全体マップとセンター広場マップのマージ
* ノイズ除去

[2017-10-17 06:59] Nasupl opened #297 "リセットのパラメータを変更したのを反映する"
alpha, betaのリセットのパラメータを当日変更したので反映する

[2017-10-17 07:05] #278 closed

[2017-10-17 07:06] #279 closed

[2017-10-17 07:06] buzzshima commented on #280
登れた

[2017-10-17 07:07] #261 closed

[2017-10-18 13:16] yasuohayashibara commented on #294
長島君からのメールを転送
---
M1 長島です．

この前のミーティングで話した購入品です．
添付ファイルの発注お願いします．

よろしくお願いします．

[tc発注リスト.xlsx](https://github.com/open-rdc/orne_navigation/files/1394699/tc.xlsx)

[2017-10-18 13:16] yasuohayashibara commented on #294
発注しました．

[2017-10-20 07:52] iou16 commented on #292
fulanghua_waypoints_nav側を改造&デバッグ中.
waypointsをserviceで受け渡し出来るようにしている.
https://github.com/open-rdc/fulanghua_navigation/tree/add_wp_serv

[2017-10-20 14:02] Nasupl commented on #292
@iou16 fulanghua側の改修、 https://github.com/open-rdc/fulanghua_navigation/commit/eb2bf46e0cd2765a8d985d3d4ef94beb0324700f で終わりですか？

[2017-10-20 15:08] iou16 commented on #292
@Nasupl 変更すべき箇所はこれで終わりかと. でも, 動作確認というかデバッグが終わっていません.

[2017-10-20 15:12] Nasupl commented on #292
@iou16 了解。明日試します。

[2017-10-24 01:55] iou16 opened #298 "resumeする際に, 通過したwaypointは無視したい"
https://github.com/open-rdc/fulanghua_navigation/blob/4baef9bb12f4e3833b2de33c8c46e3283e535ec9/fulanghua_waypoints_nav/src/waypoints_nav.cpp#L128
↑resumeする際には最近傍のwaypointから再開するようになっている.
しかし, 現在の実装だと, 全てのwaypointの中で最近傍なwaypointに向かってしまうため, 場合によっては一度通過したwaypointに向かう恐れがある.(susupendする位置とwaypointの位置次第では, 横断歩道の前でresumeした際に逆走するおそれがある).

[2017-10-24 06:20] ShotaroTerato commented on #296
open-rdc/orne_maps@1a35f63 open-rdc/orne_maps@7a7cefe で #295 も合わせて対応。

[2017-10-24 06:47] yasuohayashibara commented on #266
制御板を作成しました．

写真は製作途中のものです．
![dsc_2482](https://user-images.githubusercontent.com/5755200/31928210-379faf46-b8d2-11e7-9fd6-82048abf4b1f.JPG)

[2017-10-24 07:03] Hiroki-Goto commented on #297
localization_params.yamlのreset_th_alphaをそれぞれのyamlファイルに書き換える

[2017-10-24 07:05] Hiroki-Goto commented on #296
PRを投げる

[2017-10-24 07:06] buzzshima commented on #294
届いた

[2017-10-24 07:06] #294 closed

[2017-10-24 07:09] Nasupl commented on #292
https://github.com/open-rdc/orne_navigation/tree/add_%23292 で対応中

[2017-10-25 13:13] iou16 commented on #292
取り敢えずそれっぽいものができたので, 明日, 2号館1階の自動ドアで試す.
@homeで使っていたただまっすぐ進むだけのserviceは現状使用していない(自動ドアの目の前で止まって, 開いたらwaypoints_navを再開するだけ)だが, 明日の結果次第では導入するかも.

[2017-10-26 05:06] Nasupl opened #299 "すべてのマシンをKineticに移行する"
複数のメインストリームで開発していると混乱を招くので、現在ROS Indigoが動いているマシンをROS Kineticにすべて移行する。
この移行を持ってIndigo-develはEOLとする。

[2017-10-26 06:16] iou16 opened #301 "waypointの姿勢を全て事前計算する"
https://github.com/open-rdc/fulanghua_navigation/blob/indigo-devel/fulanghua_waypoints_nav/src/waypoints_nav.cpp#L366-L367
↑navigation中にいちいち計算しなくてもいい. 立ち上げ時に全て計算しておく.

[2017-10-26 06:38] ShotaroTerato commented on #296
open-rdc/orne_maps#31
プルリクエスト

[2017-10-26 09:24] iou16 commented on #298
https://github.com/open-rdc/fulanghua_navigation/pull/66 mergeしたら終わり.

[2017-10-26 09:24] iou16 commented on #301
https://github.com/open-rdc/fulanghua_navigation/pull/66 mergeしたら終わり.

[2017-10-26 09:28] Nasupl commented on #293
#300 でβは対応したので， @Hiroki-Goto か @ryotasuzuki0919 はαの対応を急ぎお願いします

[2017-10-26 09:44] Nasupl commented on #297
@Hiroki-Goto βは #302 で対応したので，αも同様にkinetic-develのHEADからブランチを生やして対応してください

[2017-10-26 10:45] yasuohayashibara commented on #266
本体に取り付けました．

![dsc_2498](https://user-images.githubusercontent.com/5755200/32048948-2bac6d04-ba86-11e7-9e7e-25bfad0053d1.JPG)

これに合わせて外装をカットします．

[2017-10-26 12:39] iou16 commented on #292
2号館1階の自動ドアで試したが, 一応通れた. その際の動画は,  @buzzshima がアップロードしてくれる(らしい).

[2017-10-26 13:03] buzzshima commented on #292
https://youtu.be/R91wTuLpTMU

これがURLです

[2017-10-27 03:06] Nasupl opened #303 "Rvizの設定ファイルをfulanghua_waypoints_navの新しい実装に合わせる"
https://github.com/open-rdc/fulanghua_navigation/pull/66 にてfulanguhua_waypoints_navから吐出される可視化用waypointsトピックがMarkerArayからPoseArrayに変わったので，こちらのnav.rvizをこれに合わせる．

[2017-10-27 03:08] Nasupl commented on #301
open-rdc/fulanghua_navigation#66 Merged

[2017-10-27 03:08] #301 closed

[2017-10-27 03:08] Nasupl commented on #298
open-rdc/fulanghua_navigation#66 Merged

[2017-10-27 03:08] #298 closed

[2017-10-27 03:10] Nasupl commented on #291
@rakkyo1223 対応完了でよろしいでしょうか？できれば写真を貼っていただけると助かります．

[2017-10-27 03:10] Nasupl commented on #290
@buzzshima 対応完了してますよね？

[2017-10-27 03:12] Nasupl commented on #195
別の問題に移行しているので閉じます

[2017-10-27 03:12] #195 closed

[2017-10-27 04:46] Nasupl commented on #296
@ShotaroTerato αについてはノイズ除去は必要ないということでよろしいですか？

[2017-10-27 04:46] Nasupl commented on #295
https://github.com/open-rdc/orne_maps/pull/31 でβの結界については追加されました．引き続きαもお願いします．

[2017-10-27 05:20] Hiroki-Goto commented on #297
git diff で確認したところαは変更がなかった

[2017-10-27 05:20] #297 closed

[2017-10-27 05:43] ryotasuzuki0919 commented on #293
#304 αのwaypointの追加

[2017-10-27 05:44] #293 closed

[2017-10-27 07:05] iou16 commented on #303
ついでに不要と思われるtopic群も削除してしまいました. 『そのtopic必要!』と言う方は教えて下さい.

[2017-10-27 07:40] iou16 opened #306 "base_local_plannerのtolerance変更"
yaw_goal_toleranceの設定がデフォルト(0.05 rad = 2.864789 deg)になっている. シビアすぎると, 向きが合わずにいつまで経ってもactionlib::SimpleClientGoalState::SUCCEEDEDしない.
(10 deg = 0.174533 rad)ぐらいでいい.

[2017-10-27 07:42] Nasupl commented on #306
キリがいいし0.2radでどうっすか？（10degという値にも特にエビデンスはないし）

[2017-10-27 07:42] iou16 commented on #306
了解です.

[2017-10-27 08:01] iou16 commented on #306
人物探索で問題視されている事象なので, 今回は, indigo-devel側のみにpullreqを送る.

[2017-10-27 08:07] #306 closed

[2017-10-27 08:12] iou16 commented on #303
kinetic-develにも変更を適応する.

[2017-10-27 11:29] yasuohayashibara commented on #266
外装をカットして，ポリカーボネートの窓を付けました．

![dsc_2499](https://user-images.githubusercontent.com/5755200/32101907-11fbc5e2-bb55-11e7-8f8c-f8fc76cb9b26.JPG)

一気にそれらしくなりました．
あとはコーキングして終了です．

[2017-10-27 11:31] Nasupl commented on #266
@yasuohayashibara 制御盤と外装の間の隙間になにか処理する予定はありますか？

[2017-10-28 04:05] yasuohayashibara commented on #266
ありません．
とりあえずは養生テープかなと思います．
あと，制御盤と外装の間は浸水してもそれほど大事に至らない気がします．

[2017-10-28 04:56] Nasupl commented on #266
@yasuohayashibara とりあえずまだ利用できる状態ではないのでそれで問題ないと思いますが，制御盤裏面側に出ている端子の短絡が不安です．

[2017-10-28 12:58] yasuohayashibara commented on #266
裏面端子に関しては，配線し終わったらコーキングしようかと考えています．

[2017-10-28 13:03] yasuohayashibara commented on #266
FRPとポリカーボネートの間をコーキングしました．
明朝までには乾いていると思いますが，扱いには気をつけて下さい．
（本体には注意書きを付けました．）

![dsc_2515](https://user-images.githubusercontent.com/5755200/32134609-6e21234a-bc2b-11e7-857a-aa5a808b50c1.JPG)

[2017-10-28 13:04] yasuohayashibara commented on #266
制御板背面のコーキングは残っていますが，外装に関しては一通りの作業が終了したので，issueを閉じます．

[2017-10-28 13:04] #266 closed

[2017-10-31 04:51] yasuohayashibara commented on #266
電源のコネクタが届きました．

![dsc_2542](https://user-images.githubusercontent.com/5755200/32207733-3a6c8770-be41-11e7-87e0-dc3db09f5641.JPG)

[2017-10-31 07:12] Nasupl commented on #303
αでwaypointsのPoseArrayが出ない

[2017-10-31 07:15] #296 closed

[2017-10-31 07:16] Nasupl opened #310 "3D URGとの接続が切断されることがある"
3D URGとのEthernet接続が切断されてノードが落ちることがあるので対応する

[2017-10-31 07:16] #295 closed

[2017-10-31 07:17] yasuohayashibara opened #311 "ORNE-Xの外装の雨漏りの対処"
ORNE-Xの外装が雨漏りするため対処する．

[2017-10-31 07:18] buzzshima commented on #292
コストマップを編集したらうまくいったのでとりあえず保留

[2017-10-31 07:18] Nasupl opened #312 "10/29分の地図編集"
## α
* 大清水公園でノイジーなところがあるので修正する

## β
* 地図の合成
  * センター広場修正部分
  * スロープ周辺の追加部分
* 結界
  * 追加部分の追加

[2017-10-31 07:25] #291 closed

[2017-10-31 07:26] buzzshima commented on #290
対策していないところからもれたので改善

[2017-10-31 07:26] iou16 opened #313 "αのfootprint変更"
回避がギリギリらしい. footprintを大きめにするべきかもしれない.

[2017-10-31 07:30] Nasupl opened #314 "αのwaypointsの編集"
* 看板と被りそうなところを端っこにズラす
* Q'tのイスのところを窓ぎわにずらす

[2017-10-31 07:31] buzzshima opened #315 "空気圧の確認(ついでにオドメトリ)"
ホイールオドメトリの精度が空気圧にどれくらい依存しているかの確認

[2017-10-31 07:31] Nasupl opened #316 "βのwaypointsの編集"
* 地図がおかしいセンター広場のところ
* Q'tのテーブルのところを建物よりにする
* 西友からの帰りが端っこすぎ

[2017-10-31 09:10] Nasupl opened #317 "fulanghua_waypoints_navのsuspend_wp_navサービスがフリーズしないようにする"
fulanghua_waypoints_navのsuspend_wp_navサービスは指定したsuspend_poseへのナビゲーションが成功（move_base_actionのStateがSUCCEDEDになる）しないとresponseが返らない．
この場合，move_baseがabortした時に永遠にresponseが返らずwaypoints navigationに復帰することもままならないので，この実装を変更する必要がある．

[2017-10-31 13:04] Nasupl commented on #317
対応中

[2017-11-01 03:00] yasuohayashibara commented on #311
水を入れてチェックしました．
結果的に，以下の部分から雨漏りします．

１）斜め付けURGの根本
２）サイドからの雨漏り

斜め付けURGを本番で使用する場合はコーキングかゴームシートをはさみますので，申し出て下さい．
（まあ今回は雨は気にしなくても良さそうですので，対策する必要はないとも思いますが．．．）
使用しない場合は，土台を外してテープでふさぎます．

サイドからの雨漏りは電子回路部には影響ありませんし，前回それほど問題とはなっていませんでしたので，このままとします．

斜め付けURGの部分からの雨漏り
https://youtu.be/R6RL1QRYzck

サイドからの雨漏り
https://youtu.be/ON_GDfxfxG0
https://youtu.be/Snl92mYh2O4

[2017-11-01 03:01] yasuohayashibara commented on #311
対策が分かったのでissueを閉じます．
斜め付けURG部の対策が必要になった場合は再度開きます．

[2017-11-01 03:01] #311 closed

[2017-11-01 06:44] iou16 commented on #292
https://github.com/open-rdc/orne_navigation/blob/add_%23292/orne_strategy/scripts/tsukuba_challenge#L116-L117
使用するかしないかは別として, この部分の実装は修正しないといけない
具体的には
- LaserScanをPointCloudに変換
- global座標系へ変換
- 自動ドアの周辺の一定範囲にPointCloudが含まれていないかを確認(実装方法要検討)

[2017-11-01 07:29] buzzshima commented on #315
両機体ともに適正空気圧(210ｋpa)より下がっていて適正まで空気圧を入れた．(そのときbetaはもともとの空気圧が低すぎたためか空気を入れた時機体がジャッキアップしたみたいに上がった)
また空気圧の調整前後でのホイールオドメトリのチェックした．

実験は簡易的行った．
- 2号館3階を一周し計測
- 調整前後で同じ速度で走行したが経路は異なる(コースと始点と終点は同じ)

調整前は赤いライン
調整後は黄緑ライン
alphaのホイールオドメトリ
![a pha](https://user-images.githubusercontent.com/12147191/32264185-cb124e10-bf20-11e7-97a6-6849b75c5ed2.png)
＿＿＿＿＿＿＿＿＿＿＿＿＿＿＿＿＿＿＿＿＿＿＿＿＿＿＿
betaのホイールオドメトリ
![beta](https://user-

[2017-11-01 08:13] Nasupl commented on #315
@buzzshima
現在のαのパラメータ，
RADIUS[1] 0.148569 # 0.148493 #0.150044 #0.149044 #0.150
TREAD 0.56 #old_0.449592 #0.450
ですが，合ってますでしょうか？

[2017-11-01 11:14] buzzshima opened #319 "alphaの機体パラメータの変更"
#315 でαのホイールオドメトリがオドメトリがあまりにもずれていたので機体のパラメータを見たら違っていたのでパラメータを変更して計測した．
![param](https://user-images.githubusercontent.com/12147191/32272362-1472e504-bf41-11e7-886b-e1c9388b36ab.png)
＿＿＿＿＿＿＿＿＿＿
変更前のやつ
![a pha](https://user-images.githubusercontent.com/12147191/32272404-3d8ec14c-bf41-11e7-988e-6e60e018a94b.png)

変わってないような............

[2017-11-01 12:22] Nasupl commented on #319
マシにはなっているのでは

[2017-11-01 12:26] Nasupl commented on #317
https://github.com/open-rdc/fulanghua_navigation/pull/68 で対応完了

[2017-11-01 12:26] #317 closed

[2017-11-02 01:50] yasuohayashibara commented on #319
どちらにしてもひどいですね．100m走行すると90度以上ずれる計算ですね．
（修正前のパラメータだと180度以上）

つくばチャレンジの2kmのコースを走行すると5回転(1800度)ほどずれる計算です．
まあ実際にはIMUで方位を求めているので問題ないかもしれませんが，できるだけ直進できるようにホイールの空気圧を調整したほうがよいと思います．
（もしくは左右のアンバランスを調整するパラメータがあれば，その修正でも構わないかもしれませんが．．．）

このような基礎的なデータは問題がどこにあるかを明確にできるので重要ですね．

#315 にコメントを追加しました．

[2017-11-02 01:55] yasuohayashibara commented on #315
#319 でコメントしてしまいましたが，こっちに空気圧の議論がありました．
同じ圧力でこれだけずれるのですね．
意図的に圧力を変えてずらすのもあまり良くないと思いますので，先ほどの空気圧の議論は無しで．

左右のホイールの半径の設定があるのであれば，それで対処できそうですね．

[2017-11-02 06:11] Hiroki-Goto opened #321 "βのfootprint変更"
βのfootprintが左右非対称になっていたため修正する

[2017-11-02 06:22] ShotaroTerato commented on #312
プルリクエスト： open-rdc/orne_maps#32
βのスロープ付近の結界は現地で追加する

[2017-11-02 07:10] iou16 commented on #313
この後, 実機で試す.

[2017-11-02 07:53] Nasupl commented on #314
#325 で対応

[2017-11-02 07:53] #314 closed

[2017-11-02 07:53] #312 closed

[2017-11-02 07:53] #310 closed

[2017-11-02 07:55] #316 closed

[2017-11-02 10:07] iou16 commented on #313
実機で試したが問題なさそう.

[2017-11-02 10:07] nao2853 commented on #313
変更後
https://photos.app.goo.gl/UAgWfQxEfjZmCbP82

[2017-11-02 10:11] iou16 commented on #321
実機でも動作確認したが, 取り敢えず大丈夫そう.

[2017-11-02 14:10] #321 closed

[2017-11-02 14:11] #313 closed

[2017-11-03 10:33] ShotaroTerato opened #329 "11/3 分の変更（β）"
障害物に接触するおそれのあるwaypointの修正
footprintの変更

[2017-11-03 10:46] iou16 opened #330 "一定時間経ったら現在のwaypointをスキップする"
現在向かっているwaypoint上にカラーコーンなどの動的障害物があった場合, navigationがabortして進まなくなるおそれがある. そういった場合は現在のwaypointを飛ばして, その次のwaypointをgoalとして渡すべきかも知れない.
その場合, waypointの上手く配置することによって回避していた低層障害物等を回避できなくなる恐れがあるが, 少しでもnavigationが再開できる可能性があるのであれば, そちらに賭けるべきかもしれない.

[2017-11-03 11:24] #329 closed

[2017-11-03 15:15] iou16 opened #332 "lead_outでバックするようにする"

[2017-11-06 04:57] iou16 opened #335 "地図の解像度を粗くしてみる"
現在の占有格子地図の解像度は0.05[m]だが, 屋外で自律走行するならそこまで細かくなくていいのかも知れない.  少し試してみたい. どの程度の解像度が適切だが要検討.

[2017-11-07 04:02] Nasupl opened #336 "古いTop-URG(H0803606)のファームアップ"
通信の遮断やurg_nodeで使用できない問題はおそらく，このURGが古くSCIP2.0に対応していないファームウェアであることが原因なので，ファームアップする．

[2017-11-07 04:12] Nasupl opened #337 "後方視界の検討"
障害物の回避や衝突時の復帰にはやはり後方視界が必要だと考えられる．以下のようなセンサを搭載し後方視界を確保することを検討する．
以下に考えられる方法を例示する．

* 安価な2D LIDAR
[RP LIDAR](http://www.robotshop.com/jp/ja/rplidar-a2-360-laser-scanner.html)のような安価で小型なLIDARを搭載する．
ロボットの後方に障害物があるのかないのかさえ分かれば十分なので，安価な製品で十分．安価な製品といえど$500近くするのが難点．

* 1Dのレーザー距離センサ
[VL53L0X](https://www.switch-science.com/catalog/2894/)のような距離センサを複数搭載する．ROSで使用するための開発コストが大きい．視野が狭いので複数取り付けが必要．

* 超音波センサ
[MaxS

[2017-11-07 04:13] Nasupl opened #338 "neo-navigationの検討"
#238 でやりたいことは[neo-navigation](https://github.com/at-wat/neonavigation)でできそう

[2017-11-07 04:38] Nasupl opened #339 "反射的な障害物回避の実装"
move_baseはコストマップの更新が遅れるようなシチュエーションにおいて，障害物が回避できないことがある．これに対応するため，生のセンサデータから障害物を検出して停止，もしくは回避するための仕組みが必要．

[2017-11-07 04:43] Nasupl opened #340 "IMU周辺のソースコードをrosserialで書きなおす"
今のはメンテナンス性がよろしくない．rosserialで書きなおすべき．

[2017-11-07 07:17] #315 closed

[2017-11-07 07:18] #332 closed

[2017-11-07 07:18] #330 closed

[2017-11-07 07:18] #303 closed

[2017-11-07 07:20] Hiroki-Goto commented on #299
x240は予備用にindigoのままにする

[2017-11-07 07:23] #292 closed

[2017-11-07 07:37] Nasupl opened #341 "電装の改良"
電装の全体的な改良が必要
* 電源周辺
  * 12V電源の生成方法
  * 搭載したままでのバッテリー充電
* 緊急停止周辺
  * βにもつける
  * リレーが電力を食い続ける
* 意思表示関連
  * 状態を報せたい
      * パトランプ，スピーカー等
* 制御盤
  * スイッチ関連の配線

[2017-11-08 01:19] yasuohayashibara opened #342 "ORNE-αの充電端子の追加"
ORNE-αの充電端子が一つしかないため，2つ充電できるように追加する．

[2017-11-09 02:10] yasuohayashibara commented on #337
ミーティングで話しましたが，もう一つTOP-URGを搭載するという方法があります．
ロングレンジの測域センサを付けることで，自己位置推定の安定性も上がります．

[2017-11-11 01:25] yasuohayashibara commented on #342
プラグとレセプタクルに加えて，ホコリ防止用のキャップも購入した．

N/MS25043-12D
D/MS3106A12S-3S
D/MS3100A12S-3P

[2017-11-14 04:54] Nasupl commented on #336
Version 1.20.02にアップデートした

[2017-11-14 04:57] Nasupl commented on #336
ROS Kineticのurg_nodeで動作を確認した

[2017-11-14 06:39] #336 closed

[2017-11-14 06:41] buzzshima commented on #335
画像編集ツールで試してみる

[2017-11-20 12:00] yasuohayashibara commented on #342
端子を追加しました．

![dsc_2669](https://user-images.githubusercontent.com/5755200/33017456-bea2df5e-ce35-11e7-8fe5-5c5520e8028c.JPG)

ついでに防塵用のキャップも取り付けました．

[2017-11-21 06:04] Nasupl commented on #337
Top-URGとRPLIDAR A2を比較できるようなデータを取得した（角度が若干ずれているが）
https://photos.app.goo.gl/1R4CzvfMxS0llCmk2
RPLIDARのレンジは6m程度であった．また，Top-URGと比較してデータのばらつきが大きいことがわかる．

[2017-11-21 06:37] yasuohayashibara commented on #342
終了したのでissueを閉じます．

[2017-11-21 06:37] #342 closed

[2017-11-21 06:53] Hiroki-Goto commented on #319
@buzzshima  がタイヤの径のパラメータを変更して実験する

[2017-11-21 06:56] Hiroki-Goto commented on #299
２月中旬ごろから開始する

[2017-11-27 22:11] yasuohayashibara commented on #266
以下に外装も含めたCAD図を置きました．
http://www.hayashibara-lab.it-chiba.ac.jp/member/project/%e3%81%a4%e3%81%8f%e3%81%b0%e3%83%81%e3%83%a3%e3%83%ac%e3%83%b3%e3%82%b82017/orne_x/170831orne_x_%E5%A4%96%E8%A3%85.zip

[2017-11-28 06:51] buzzshima commented on #290
@iou16  アイロンを持ってくる

[2017-12-05 06:38] Nasupl commented on #290
@atsushi10mino 「これ以上アイロンかけるところはない」

[2017-12-05 06:38] #290 closed

[2017-12-05 06:44] Hiroki-Goto commented on #238
neo navigation がダメだったらもう一回開く

[2017-12-05 06:44] #238 closed

[2018-02-06 01:10] Hiroki-Goto commented on #299
wikiは @Hiroki-Gotoが変更する
インストールは3年生がやる

[2018-02-06 01:17] Nasupl commented on #299
@Hiroki-Goto インストールとWikiの更新だけでなく、indigoとkineticのブランチが分かれてからindigoのブランチで行われた開発・変更をkineticのブランチにマージする作業も必要になります。

[2018-02-13 01:37] buzzshima commented on #339
@Pethon  がメインに 来週から取りかかる

[2018-02-13 01:44] Hiroki-Goto commented on #299
[diff.txt](https://github.com/open-rdc/orne_navigation/files/1718308/diff.txt)
diffで確認できた変更

[2018-02-13 02:27] buzzshima opened #343 "ORNE-βのTop-URGの位置をORNE-αと同じにする"

[2018-03-06 07:35] Nasupl commented on #341
### 緊急停止周辺について
モータドライバの駆動用電源に低ESRキャパシタを入れれば誘導電流によってモータドライバが破壊されたり，手押ししている時にガタガタとすることはない．
遮断回路は更なる安全策として有用だが，回路が複雑化しメンテナンス性が低下するため廃止する．

[2018-03-13 01:14] Hiroki-Goto opened #344 "幾何的に正しい地図で自律移動"
@ToshihiroNagao  春休み中にやる

[2018-03-13 01:18] Hiroki-Goto commented on #340
アナデバからIMUを提供してもらえるのでそれ移行する（ROS nodeはある）

[2018-03-13 01:18] #340 closed

[2018-03-27 11:07] Hiroki-Goto commented on #299
現状の状況
- [x] icart側のマージ
- [x] orne_navigationの変更
- [x] wikiの変更

[2018-03-28 00:36] Nasupl commented on #265
#341 で遮断回路を廃止し，回路構成がiCart-mini標準のものと同等程度に簡易化され，IMUも変更になるとのことで，資料作成は完了したものとする．

[2018-03-28 00:36] #265 closed

[2018-03-30 08:35] Hiroki-Goto commented on #299
移行できる状態になった

[2018-04-03 07:43] #299 closed

[2018-04-03 07:55] Hiroki-Goto commented on #343
学校内で出来ないので一旦閉じる

[2018-04-03 07:55] #343 closed

[2018-04-03 07:55] ToshihiroNagao commented on #344
今週末に終わらせます。(できる限り早く)

[2018-04-03 08:15] Hiroki-Goto opened #346 "横断歩道を渡る"
サービスが送られたら直進させる戦略の追加をしてみる

[2018-04-10 07:39] buzzshima opened #347 "kinetic シリアル通信問題"
ボーレートが合わないとエラーが出ることも何度かあった．

しかしどのタイミングで出るのかがわからないでそれも調査

[2018-04-10 08:23] yasuohayashibara opened #348 "不足している部品の購入"
不足している部品を購入
故障している部品の修理

[2018-04-10 08:24] yasuohayashibara commented on #348
以下，部品の購入と修理
- [x] 電圧計　
- [x] モータドライバ

[2018-04-10 08:25] yasuohayashibara commented on #348
電圧計を3つ購入した
https://www.amazon.co.jp/gp/product/B00DD9W4O0/ref=oh_aui_detailpage_o00_s00?ie=UTF8&psc=1

[2018-04-10 08:26] yasuohayashibara commented on #348
@Hiroki-Goto モータドライバの故障の詳細を送ってください．

[2018-04-10 22:49] yasuohayashibara commented on #348
後藤くんから

故障診断に関しては以下のとおりとなります
現象：モータドライバとの通信はできるが、速度指令をモータが動作しない問題
がある。トラブルシューティングを見たところFETかゲートドライバの故障があ>るかもしれないと出てきました

-----

【林原】
年度始めなので，この時期に予算が使用できるか大学に確認しなければなりませんが，修理を依頼を出したいと思います．

[2018-04-17 06:18] Hiroki-Goto commented on #341
音声
・ソフトがいいのがあれば青木に相談する
・ @buzzshima の音声をつかう（第一候補）

[2018-04-19 09:06] atsushi10mino commented on #347
http://t-frog.com/forums/forum.php?ml=tf-2md3-devel&read=172
同じ症状

[2018-04-23 00:45] Hiroki-Goto opened #349 "ORNEに意思表示をさせたい"

[2018-04-23 00:46] Hiroki-Goto commented on #341
音声に関しては #349 と別のissueとしてたてた

[2018-04-23 00:49] Hiroki-Goto commented on #349
今まで
ROSのパッケージのの一つにaudio_commonがあったが日本語を使う場合テキスト読み上げソフトを使う必要があり、個人利用の範疇を超えるかもしれず利用規約的に面倒

この問題に対し
- 青木さんに相談してみる
- @homeで使用したソフトを用いる
- 誰かの音声を録音し編集する
が挙げられた

[2018-04-23 00:53] Hiroki-Goto commented on #349
青木さんに相談したところ、
- @homeで使用したソフトは研究室製のため共有はできない
- openjtalkが修正BSDライセンスで比較的使いやすい
と意見という意見をもらった
ひとまず、openjtalkを使ってみる方針で進める

[2018-04-24 06:11] Hiroki-Goto opened #350 "αの手押し棒の追加"

[2018-04-24 06:12] Hiroki-Goto commented on #350
今の状態では腰が痛くなるため手押し棒を搭載する必要あり

[2018-04-24 07:42] Hiroki-Goto opened #351 "つくばチャレンジ2018に向けた開発"

[2018-04-24 07:42] yasuohayashibara commented on #351
１）幾何学的に正しい地図　　　　　　　　　　　　【長尾，美濃】
　　専有格子地図
　　反射強度地図 → 学習により分類できるか？
２）経路生成　　　　　　　　　　　　　　　　　　【近藤】
３）GPSリセット 　　　　　　　　　　　　　　　　【後藤】

４）反射強度を用いた自己位置推定 or 障害物回避　【芝原】
５）信号機検出　　　　　　　　　　　　　　　　　【赤松】
６）探索対象者の発見　　　　　　　　　　　　　　【阿部，中村】

[2018-04-24 08:22] Hiroki-Goto commented on #349
英語でも問題なさそうなのでaudio_commonを使う

[2018-04-24 08:24] Hiroki-Goto commented on #348
修理の許可申請の回答まち

[2018-04-24 08:26] Hiroki-Goto commented on #346
信号を認識したらｗｐ_navigationを再開するに変更

[2018-04-24 08:30] Hiroki-Goto commented on #341
@daiki-shibahara 電圧計の消費電力を確認する

[2018-04-24 08:48] daiki-shibahara commented on #341
![5590](https://user-images.githubusercontent.com/28525055/39176320-7fd088c2-47e7-11e8-9d57-c88cd9c78887.jpg)
この画像の回路の製作を行う。
現時点では、Ltspiceを使ったシミュレーションを行っている

[2018-04-24 13:42] buzzshima commented on #350
外装も改善必要

[2018-04-30 11:21] jediofgever opened #352 "Confused to not see an english issue"
Confused to not see an english issue

[2018-05-08 02:00] yasuohayashibara commented on #348
修理の許可を得て，修理して納品されました．
issueを閉じます．

[2018-05-08 02:00] #348 closed

[2018-05-08 02:02] yasuohayashibara commented on #346
信号機の動画です．
https://youtu.be/6bE6qW-ibpw

[2018-05-08 06:31] buzzshima commented on #351
白線での一時停止機能追加　【パシン　長島】 #346  の流用

[2018-05-08 06:39] buzzshima commented on #351
プラスアルファとして
visual SLAM 【ワタナベ　小笹】

[2018-05-08 06:41] #351 closed

[2018-05-08 06:42] buzzshima commented on #347
現状問題になっていないので閉じる

[2018-05-08 06:49] ghost commented on #350
簡単に取り付けおよび取り外しができるようなものを作ります

[2018-05-10 03:48] ghost commented on #352
The current issues are for our own robot’s development. Thus, we will keep writing and discuss in Japanese.
The wiki page is still in Japanese, but we will make an English version of it.
If you have any questions about our project, please feel free to create a new issue about it.
We are sorry for your inconvenience.

[2018-05-10 09:02] Norihiro02 opened #353 "経路計画（+navigation）"
取り敢えずturtlebot_navigationでは、経路が塞がれても自動で再度経路計画をおこなうということが分かった。
↓
どの様に移植するか。

[2018-05-14 12:28] Norihiro02 commented on #353
turtlebot_navigation
https://github.com/turtlebot/turtlebot_apps/tree/indigo/turtlebot_navigation

[2018-05-14 23:47] yasuohayashibara commented on #353
後で見返した時に，そのときの状況が分かるように，できれば動画をYoutubeなどにアップしてリンクを張っておいてもらえると助かります．
言葉だけだと忘れてしまいますので．．．

[2018-05-15 01:47] Norihiro02 commented on #353
turtlebot_navigationの動画です。　
https://www.youtube.com/watch?v=LPhcNcJsR5w&feature=youtu.be

[2018-05-15 02:08] yasuohayashibara opened #354 "gammaの自律走行の手法に関する議論"
gammaに関しては機械学習を用いて自律走行させる予定であるが，そのアイディアを考える．

[2018-05-15 03:03] yasuohayashibara commented on #354
まずは論文を読む．
・PoseNet: A Convolutional Network for Real-Time 6-DOF Camera Relocalization
・GOSELO: Goal-Directed Obstacle and Self-Location Map for Robot Navigation Using Reactive Neural Networks
・End to End Learning for Self-Driving Cars

[2018-05-15 06:27] Hiroki-Goto commented on #353
https://github.com/open-rdc/fulanghua_navigation/blob/indigo-devel/fulanghua_waypoints_nav/src/waypoints_nav.cpp
にclear costmapのサービスがあるっぽい

[2018-05-15 06:28] #352 closed

[2018-05-15 06:32] Hiroki-Goto opened #355 "ｗｉｋｉやreadmeの変更"
やること
- [x] 英語版のwiki

- [ ] Readmeの更新(kinetic用)

[2018-05-15 07:16] daiki-shibahara commented on #341
切削基板での作成が完了したため,動作実験を行う.

[2018-05-19 13:09] Norihiro02 commented on #353
turtlebotとorneの比較してわかった事
1. 使用しているplanner系のplaginは同じ
2.  waypointの間隔が異なる
　turtlebot：実験時に設定しているのはstartとgoolだけ
　orne:細かくwaypointを設定している(数メータ単位)

現状ではwaypointを細かく設定し、1つの経路としている。
　別のwaypointを設定しないと別経路を生成することができない。

仮説
選択課題(項目B)をおこなう場合チェックポイントのみにwaypointを設置すればOK？
　globalPathの生成に時間がかかりそう...

[2018-05-22 05:22] Norihiro02 commented on #353
通過しなければならないチェックポイントまでのwaypointを求める。

チェックポイントをnode、道をedgeとするグラフを作成。
現在地から指定チェックポイントをまでに通るチェックポイントを求め、それをwaypointにする。
（指定チェックポイントのみwaypointを設置するよりも生成するGlobalPathが短くなる。）
行き止まりに遭遇した場合、直前に通ったチェックポイント（node）からの経路（waypoint）を再度生成。

[2018-05-22 06:23] Norihiro02 commented on #353
メモ：やることリスト

- [x] スタートからゴールまでwaypoint無しで100m位で動かしたときにどうなるか。
- [x] globalplannerの時間周期の調査（１[Hz]より遅くても良いのでは？）

[2018-05-29 02:09] yasuohayashibara commented on #354
従来の方式を用いるということでは以下が考えられる．

■方式１　End-to-End
NVIDIA BB-8の方式
カメラとステアリングのデータを事前に取得
→ 深層学習で　（入力）カメラ画像→（出力）ステアリング　を学習
障害物の検出・停止に関しては，URGを用いる
問題：当日は環境が大きく変わる
もしかしたら，全天球カメラを用いることで地上の外乱に影響されないような経路が生成できるかも？

■方式２　自己位置推定
posenetの方式
カメラ画像と位置・方位データを事前に取得
→ 深層学習で　（入力）カメラ画像→（出力）位置・方位　を学習
自己位置推定以外の部分に関しては，従来のmove_baseを利用

■方式３　その他
画像だけではなく，URGやIMUの値も含めて学習

[2018-05-29 07:29] daiki-shibahara commented on #341
切削基板での動作確認が完了したため,プリント基板の発注を行う.

[2018-05-29 07:35] Hiroki-Goto commented on #350
簡易的なものでも十分なので閉じる

[2018-05-29 07:35] #350 closed

[2018-05-30 02:12] JinyaIseki commented on #354
方式3に関連する研究
https://arxiv.org/pdf/1803.10158.pdf
入力　画像、GPS,map,
出力　steering angle,Speed
ニューラルネットワークの層の種類
CNN,LSTM,FN

LRF,IMUを使ったものはなさそう
→GPS-IMUを使っていた

カメラ３つではなく全天球カメラ一つでも出来そう

[2018-06-05 05:17] atsushi10mino commented on #347
16.04の再インストール
ROSのインストール
ORNEの環境構築を行った

[2018-06-05 05:34] atsushi10mino commented on #347
10分以上起動していたが特に問題は起きなかった
![screenshot from 2018-06-05 14-21-13](https://user-images.githubusercontent.com/28559070/40956888-78ca219e-68cd-11e8-9cb4-62a4eb25e0ba.png)

[2018-06-05 05:39] atsushi10mino commented on #347
おそらく問題ない？
追記：約一時間程度起動させ続けたが通信が切れる様子はなかった
![screenshot from 2018-06-05 14-21-13](https://user-images.githubusercontent.com/28559070/40957031-2eeb7fa4-68ce-11e8-9330-bfcc2bfd8cd8.png)

[2018-06-12 06:39] Hiroki-Goto commented on #349
音声だと聞こえない可能性があるので電子音を試す

[2018-06-12 06:40] #347 closed

[2018-06-14 13:44] Norihiro02 commented on #353
公園内に関しては
チェックポイントをnode
道をedge
とするグラフを作成し、各nodeに位置情報を加える。
このグラフを使用すれば「任意のチェックポイントを通る最短経路」を生成することができる。
さらに各node(チェックポイント)の位置情報をwaypoinファイルに出力すれば現状のシステムでも課題達成できそう。

[2018-06-18 07:57] Hiroki-Goto commented on #355
wikiだけは書いた
[環境構築（EN)](https://github.com/open-rdc/orne_navigation/wiki/Install_ORNE_pkg)
[動かし方（EN)](https://github.com/open-rdc/orne_navigation/wiki/How_to_move)

@shulace13 確認をお願いします

[2018-06-19 06:38] Hiroki-Goto opened #356 "電装の改良（スイッチ版）"
逆起電力防止装置（#341 で作成したリレー）などがないとモータドライバの故障が頻繁に起きるため、防止用の回路（？）を作成する

スイッチでモータの線を切断する方向で作成

[2018-06-19 06:40] Hiroki-Goto commented on #356
必要な部品
- LED（径が大きいやつ）
- トグルスイッチ（４接点）

[2018-06-19 06:44] Hiroki-Goto commented on #356
トグルスイッチは最低10A耐電流あるもの

[2018-06-21 06:04] ghost commented on #355
@Hiroki-Goto 確認完了しました。
英訳して欲しい部分があれば、指定していただければ行います。

[2018-06-26 06:17] Hiroki-Goto opened #357 "αの外装"
去年使った外装だと手押し棒が付けられないので、コーナーガードなどをつける

[2018-06-27 09:09] Hiroki-Goto opened #358 "velodyneの搭載"
つくばチャレンジでvelodyne(VLP-16)を使えるようにする

[2018-06-27 09:12] Hiroki-Goto commented on #358
![velodyne_test](https://user-images.githubusercontent.com/12184572/41964573-4956bd0e-7a35-11e8-9d36-7e52cb849bbb.png)

RVIZで表示できた
ただ、PCの電源をると再設定[velodyne wiki](http://wiki.ros.org/velodyne/Tutorials/Getting%20Started%20with%20the%20Velodyne%20VLP16)する必要があるかもれない（要検証）

[2018-06-27 09:41] Hiroki-Goto commented on #358
αのPCで使える用にURDFを編集した

[2018-07-03 07:19] Hiroki-Goto commented on #358
ゴール
- orne_bringupにvelodyneのlaunchの追加
- wikiを書く

[2018-07-10 06:22] Hiroki-Goto commented on #339
停止する方向で行く

[2018-07-10 06:26] Norihiro02 opened #360 "move_baseのグローバルパスの生成周期の検討"
グローバルパスの生成周期をどれだけにするか。
デフォルト：0Hz(初回のみ実行)
現：1Hz

この変化によってどの様な影響を受けるのか

[2018-07-10 06:29] Norihiro02 commented on #353
5分前ルールは無し（こっちの思い込みであった）
現状：ロボットは一つの経路をたどる事しかできない。
やりたい事：ロボットが任意の経路を選択できるようにする。

以前作ったwaypointファイル生成プログラムを移植して作る

[2018-07-10 06:39] JinyaIseki commented on #354
https://arxiv.org/pdf/1803.10158.pdf
の方法を参考に自律走行する

公園内ではカーナビゲーションを利用できない
→GPSの履歴を使う　もしくは現在地、目的地の記載してある地図を入力し、LSTMに大域的経路計画をさせる
　→LSTMは　https://arxiv.org/pdf/1807.01281.pdf
　　　　　  　https://arxiv.org/pdf/1705.08639.pdf　
                        を参考に設計する

決められた場所・経路を走行する場合は入力は画像のみでもできそう

様々なセンサーの値を入力する
→IMU、エンコーダー、レンジセンサなど

学習用データの経路から外れた時に自律走行できるのか？
→学習用データを増やす、カメラを３台用意する

[2018-07-10 06:41] Hiroki-Goto commented on #341
ellecrowで発注してから閉じる
届いたら動作テストする

[2018-07-10 06:42] #344 closed

[2018-07-10 06:43] Hiroki-Goto commented on #346
今年は見送る

[2018-07-10 06:43] #346 closed

[2018-07-10 06:46] Hiroki-Goto commented on #349
最初はstart wp points navから

[2018-07-10 06:50] #355 closed

[2018-07-10 06:56] Hiroki-Goto commented on #356
#192 にあった回路を追加する

[2018-07-10 06:56] Hiroki-Goto commented on #357
すんだ

[2018-07-10 06:56] #357 closed

[2018-07-10 07:05] Hiroki-Goto opened #361 "ガンマの製作"
８月の試走会に間に合わせる（予定）

[2018-07-10 07:12] Hiroki-Goto opened #362 "地図の作成"
- [x] 確認走行用
- [x] 公園に行くまでの地図
    - [x] 作成
    - [x] 合成
- [ ] 公園内の地図
    - [x] 固定経路用
    - [ ] すべての経路用

[2018-07-10 07:22] Hiroki-Goto commented on #362
公園までの地図：7/１５まで
公園の地図：9/1

[2018-07-10 07:25] Hiroki-Goto opened #363 "stop waypoint を試す"

[2018-07-10 07:29] Hiroki-Goto opened #364 "人物探索"

[2018-07-19 11:58] daiki-shibahara commented on #356
ミスミでは売っていなかったため,千石でセメント抵抗12個購入お願いします.
https://www.sengoku.co.jp/mod/sgk_cart/detail.php?code=2ADT-6UKM
リレーですが,γ用で使うかもしれないため,6つ購入お願いします.
https://jp.misumi-ec.com/vona2/detail/222000863520/?HissuCode=LY2%20DC12
リンク間違えていました.

[2018-07-19 14:02] daiki-shibahara commented on #356
![img_20180719_224618](https://user-images.githubusercontent.com/28525055/42947043-63877ce4-8ba7-11e8-8ae1-edaec6847b3f.jpg)
#192 の追加回路作成し,セメント抵抗つけるだけです.
動作確認はその後行います.左:追加作成した回路   右:#192で作成した回路

[2018-07-19 14:07] daiki-shibahara commented on #362
公園までの地図合成完了しました.

[2018-07-19 17:07] daiki-shibahara commented on #362
[kenkyugakuen_maybe_ok.zip](https://github.com/open-rdc/orne_navigation/files/2210956/kenkyugakuen_maybe_ok.zip)

[2018-07-20 00:20] yasuohayashibara commented on #356
ミスミで販売していますよ．
例）SQMW51R0J

リレーのリンク先ですが，１３５個の候補があるそうです．
![image](https://user-images.githubusercontent.com/5755200/42976700-1020acb8-8bfe-11e8-8e49-15e312c7105c.png)

[2018-07-20 06:00] daiki-shibahara commented on #356
リレーのリンク先間違えていました.以下を6個お願いします.
https://jp.misumi-ec.com/vona2/detail/222000863520/?HissuCode=LY2%20DC12
ミスミでセメント抵抗見つけました.5個単位での発注のため15個お願いします.
https://jp.misumi-ec.com/vona2/detail/222005596090/?HissuCode=SQBW2010RJ&PNSearch=SQBW2010RJ&KWSearch=SQBW2010RJ&searchFlow=results2products

[2018-07-20 17:51] buzzshima commented on #337
@Pethon
取り付け用パーツ完成
取り付け位置 姿勢(前方urgとくらて)
xとyは同じでzが- 400mm
yaw軸に180度回転

でこの位置でurdfを書いて下さい

斜めURGを参考に

[2018-07-20 18:08] buzzshima commented on #337
後ろ向きURGのものを加工した(取り付けジグを追加するかも)
位置と姿勢は baselink

x -0.34  y 0 z 0.22
yとｚは前方urgと同様
取り付け位置

姿勢は   yaw軸に180度(3.14 radian)回転

urdfは斜めurgの参考にして(/orne_description/urdf/orne_alpha.xacro)
 変更はβのみorne_description/urdf/orne_beta.xacro) 行う

#249 が似たもの

@Pethon

[2018-07-20 23:44] yasuohayashibara commented on #337
できれば図や写真を載せてください．

[2018-07-20 23:47] yasuohayashibara commented on #356
リンク先を見直してください．
![image](https://user-images.githubusercontent.com/5755200/43029593-a40391b0-8cc2-11e8-9a25-fde879ac5e84.png)

[2018-07-23 08:39] daiki-shibahara commented on #356
リレー(LY2 DC12)を6個
セメント抵抗'(SQBW2010RJ)を15個ミスミで発注おねがいします.

[2018-07-23 10:03] Norihiro02 commented on #360
　この前(5月頃?)に行ったTurtlebotを使った実験では、1[Hz]の時は0[Hz]と比べCPUの使用率が1%ほど高かった。~~(1[Hz]:7.5%,0[Hz]:6.3%)~~
(1[Hz]:7.2%,0[Hz]:6.01%)
　Pathの生成に関しては、経路を見失ったときに両者とも再度経路を生成した。
　ただ、「Pathの生成頻度が高くて制御がうまくいかない(演算が追い付かない)問題」はglobal_plannerじゃなくてlocal_plannerの制御周期に問題ありそう(実際にcmd_valを送っているのはmove_baseのlocal_plannerであるため)

[2018-07-24 00:27] Pethon commented on #337
x -0.34 y 0 z 0.22という位置で試したら、このような状態になっています。
URGが浮いているけど、大丈夫ですか？
<img width="1280" alt="screen shot 2018-07-24 at 9 25 34" src="https://user-images.githubusercontent.com/19383917/43109808-a5447a4a-8f23-11e8-8c49-7cf773f34ddb.png">

[2018-07-24 03:51] buzzshima commented on #337
センサだけ情報を追加したから妥当だと思います

取り付け板とかの情報書いてないですよね？

[2018-07-24 05:53] Hiroki-Goto commented on #358
wikiは書いた

[2018-07-24 06:17] Hiroki-Goto commented on #337
あとicart_middle.gazeboも変更を行う

[2018-07-24 06:22] Pethon commented on #337
2つのURGのデータを合成できるノードがあるようなので、そのノードが使えるかどうかを調べてみる。

[2018-07-24 06:24] buzzshima commented on #363
stop waypoint からorne_strategy側に移行されてた。
そちらを確認

[2018-07-24 06:26] Norihiro02 commented on #360
CPU使用以外も比較(表にするとわかりやすい)

- [x] メモリ使用量も比較

[2018-07-24 07:01] Hiroki-Goto opened #365 "三次元位置推定をやってみる"
navigation パッケージに3d_navigaitonのブランチがあったので集中開発期間に試してみる

[2018-07-24 07:50] Hiroki-Goto commented on #365
候補１　[hdl localization](https://github.com/koide3/hdl_localization):カルマンフィルタを用いた位置推定（スキャンマッチングはNDT）
候補２　[Autoware](https://github.com/CPFL/Autoware/)：自動運転に関するパッケージ（[日本語のチュートリアルっぽいもの](https://github.com/CPFL/Autoware/)）

[2018-07-24 11:57] yasuohayashibara commented on #354
本日のミーティングでも議論しましたが，自律走行に関しては，
入力：全天球カメラの画像
出力：目標速度ベクトル（ジョイスティックの操作）
として，まずはデータを採取する．

案は２つあり，
１）画像に対する教師データをオフラインで与える方法
２）PFoEを使用する方法
とする．

１）に関しては，オフラインで教師信号を生成して与える．
生成の方法としてVRを利用して道の中心を与えることにより，望ましい目標速度ベクトルを求めることを検討している．

[2018-07-24 11:57] yasuohayashibara commented on #354
議論が終了したのでissueを閉じます．

[2018-07-24 11:57] #354 closed

[2018-07-25 03:49] yasuohayashibara commented on #356
シャーシマウントの抵抗になっていますが正解？
https://jp.rs-online.com/web/p/panel-mount-fixed-resistors/1614267/

[2018-07-25 23:12] yasuohayashibara commented on #356
こちら回答が来てから発注しますので，回答お願いします．
以下を見る限り，シャーシマウントの抵抗では取り付けにくいのではないかと思います．
https://github.com/open-rdc/orne_navigation/issues/356#issuecomment-406287103

[2018-07-27 10:18] Hiroki-Goto commented on #358
bringupに追加した
実機で動いたらプルリクを送る
ただし、gazebo上で動かすと地図座標系から座標変換ができないバグがある

[2018-07-27 10:22] Hiroki-Goto commented on #349
サービスだとひとつのノードしか送れなかったため, sound_play側は最初のゴール（waypoint）が送られたらスタートしたと認識するノードの作成を行った。

（音声はまだ鳴らしていない）

[2018-07-30 12:16] Norihiro02 commented on #360
|*|*|
|||

[2018-07-30 12:27] Norihiro02 commented on #360
|| 0Hz | 1Hz |
|:---|:---|:---|
| VIRT(プロセスの仮想メモリサイズ)[KiB] | 937294.9 | 938995.5|
| RES(プロセスが使用している物理メモリ)[KiB] | 55033.6 | 56061.33|
| SHR(プロセスが使用している共有メモリ)[KiB] | 17612 | 17835.87|
| ％CPU(CPUの使用率) | 6.013333 | 7.2|
| ％MEM(実メモリ使用率) | 1.373333 | 1.386667|

[2018-07-30 12:44] Norihiro02 commented on #360
CPUの使用率とメモリの使用率(量)は0Hzより1Hzの方が若干高いが、大きな違いは現れなかった。(動作に関しても)

[2018-07-30 20:23] yasuohayashibara commented on #360
地図データが大きくなると，急速に処理時間が長くなるような気がします．
もしできましたら，大きな地図データでも試してみていただければと思います．
（できればで構いません．）

[2018-07-31 06:40] atsushi10mino commented on #360
確認したのでとりあえず閉じる

[2018-07-31 06:40] #360 closed

[2018-07-31 06:48] daiki-shibahara commented on #365
候補2のAutowareについてhttp://4c281b16296b2ab02a4e0b2e3f75446d.cdnext.stream.ne.jp/randc/mirai/3_Autoware_LP.pdf

[2018-08-01 13:37] atsushi10mino commented on #363
orne_strategyのsuspendディレクトリ内のyamlファイルに止まりたい座標を入力すれば止まることを確認した
複数は確認していないが,suspend_pose,resume_poseをそれぞれ指定すればできる？

問題：・止まったあとにナビゲーションを再開,ゴールにたどり着いた際のfinish_poseの向きが反映されていない
　　  （・resume_poseがいまいちよくわからない）

動画：https://youtu.be/tAFvAwkpOyE

[2018-08-06 05:22] Hiroki-Goto commented on #358
実機、gazeboで動くことを確認したので、プルリク(#366 )を送った

[2018-08-07 03:45] Norihiro02 commented on #353
グラフは手動で作り、以下のようにnavigationをすることができた。
https://youtu.be/5KtCJokeFvY

[2018-08-07 04:31] Hiroki-Goto commented on #353
計算に関しては一旦閉じる

[2018-08-07 04:31] #353 closed

[2018-08-07 04:45] Hiroki-Goto opened #367 "地図のノイズ削除"
地図に計測のノイズが残っていると、経路計画に支障が出る。
なので、地図のノイズを消す

[2018-08-07 08:16] yasuohayashibara commented on #367
問題が分かりにくいので，写真などを貼ってくれると助かります．

[2018-08-07 08:50] atsushi10mino commented on #367
![rviz_screenshot_2018_08_07-17_23_28](https://user-images.githubusercontent.com/28559070/43764968-c5fba69a-9a69-11e8-80dc-c6f0307002c9.png)
左右ともに何もない場所にコストが乗っています
原因として地図にノイズ(黒い点)があり障害物があると認識されています

右図はそのせいで経路が右に逸れて、芝生に入りそうになっていました
なので動画等をみながら障害物があるのかノイズなのかを判断しノイズ除去する必要があると思われます

[2018-08-07 13:23] buzzshima commented on #367
地図の編集関連でいうと経路計画用も必要
もしかしたら駐車場に侵入してしまう

[2018-08-15 06:51] daiki-shibahara commented on #356
![img_20180815_144827](https://user-images.githubusercontent.com/28525055/44135182-f8a04cb0-a0a2-11e8-82c9-35adadd2e759.jpg)
回路の方作成し終わりました．
動作確認お願いします．
上　従来の　下新しく作成したもの

[2018-08-20 06:25] DaikiMaekawa commented on #338
@nasupl Are you guys still interested in that package? I can give you some advices if you want.

[2018-08-21 04:16] buzzshima commented on #358
斜め付けURGのコメントアウトしてプルリクエスト

[2018-08-21 04:21] buzzshima opened #368 "βの電装をきれいにする"
βの電装をきれいにする　(USB周りも)

[2018-08-21 04:30] buzzshima commented on #349
aplayを使用して見る

[2018-08-21 04:35] buzzshima commented on #364
@ibukichi  進捗はどうですか？

[2018-08-21 04:46] buzzshima opened #369 "9/15まで必要品購入"
確認してコメント

[2018-08-21 05:00] buzzshima commented on #369
後入れナット

[2018-08-21 05:10] buzzshima commented on #363
試せたので終了

[2018-08-21 05:10] #363 closed

[2018-08-21 05:13] buzzshima opened #370 "resume suspendの位置を複数位置に対応"
つくばチャレンジで複数停車箇所あるため対応する

[2018-08-21 05:14] Hiroki-Goto commented on #367
地図を削除する区間
- [x] 市役所〜公園

- [ ] 公園内

[2018-08-23 05:03] Pethon commented on #261
ROS kinetic用のorne環境をインストールスクリプト

#!/bin/bash

mkdir -p ~/catkin_ws/src
cd ~/catkin_ws/src
catkin_init_workspace
cd ~/catkin_ws/
catkin build
cd ~/catkin_ws/src
git clone https://github.com/DaikiMaekawa/ypspur.git
git clone https://github.com/open-rdc/orne_navigation
wstool init
wstool merge orne_navigation/orne_pkgs.install
wstool up
rosdep install --from-paths . --ignore-src --rosdistro $ROS_DIST

[2018-08-23 06:44] Hiroki-Goto opened #371 "アナデバのIMUの動作確認"
アナデバさんから提供されたIMUの挙動調査だがwindows版では動いた

しかし、PCとIMUをつなぐ基板EVAL-adis2Zがlinuxに対応していないため、SPI-USBのものを別途購入する必要がある
使っていた基板はおそらく[これ](https://www.elefine.jp/SHOP/USB-ISS-SV.html)

[2018-08-23 08:44] yasuohayashibara commented on #371
Windows版って何？
具体的にソフトウェア名を記載して下さい．
また，後から見た人の参考になるように，できるだけ型番を示したほうが良いです．

[2018-08-23 08:52] yasuohayashibara commented on #371
以下のROSパッケージを用いて姿勢を検出する．
https://github.com/tork-a/adi_driver

Ubuntuで値を読み取るために以下を購入します．
Devantech USB-ISS-SV USB I2C・SPI・UART変換器

[2018-08-23 09:02] yasuohayashibara commented on #371
以下を１つ購入しました．
Devantech USB-ISS-SV USB I2C・SPI・UART変換器

動作確認の後，追加で２つ購入します．

[2018-08-23 13:56] Nasupl commented on #338
@DaikiMaekawa I have not been commit in development of this project already.
@Hiroki-Goto Are you planning to use neo-navigation?

[2018-08-24 08:27] Hiroki-Goto commented on #338
@DaikiMaekawa I am glad about your proposal. However we are not planning to use neo-navigation.

[2018-08-27 06:43] Hiroki-Goto commented on #358
斜め付けURGの部分をコメントアウトしたのでレビューおねがいします

[2018-08-27 12:01] Hiroki-Goto commented on #349
wp通過時に電子音をならせてみた
[実機での動画](https://youtu.be/2kMenJaMxOs)

[2018-08-28 04:19] buzzshima commented on #337
取り付けたいけど後入れナットが到着しだい取り付け

[2018-08-28 04:19] ghost commented on #335
画像編集ツール、でmapの解像度って変えられるんですか？
思ったのが、build_mapみたいなのを走らせる時の解像度を0.05[m]から0.1[m]や0.2[m]などマップを複数つくってそれぞれで同じコースを自律移動させるのがよいでしょうか

[2018-08-28 04:24] atsushi10mino commented on #335
pgm形式だと解像度を下げることができないようなので地図生成時の解像度を下げて実験する

[2018-08-28 04:29] atsushi10mino commented on #369
SHNTP5-5
でいいですか？

[2018-08-28 04:32] ToshihiroNagao commented on #365
3次元の自己位置推定を実機での確認(Autowareで)